﻿@model FairlyRepair.Areas.Admin.ViewModels.ProductionDiary.ProductionDiaryView
@{
    ViewBag.Title = "Edit";
    string editType = Model.LIN_PSCT == "0000" ? "新增" : "編輯";
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    string emptySignature = "0001.jpg";
}

<section class="content-header">
    <h1>
        產線日誌管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Index", "ProductionDiaryAdmin")">產線日誌列表</a></li>
        <li class="active">產線日誌管理</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@editType</h3>
                </div>
                @using (Html.BeginForm("Edit", "ProductionDiaryAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.DIARYDATE)
                    @Html.HiddenFor(model => model.ENTER_USER)
                    @Html.HiddenFor(model => model.LIN_PSCT)
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DIARYDATE)
                            @Html.TextBoxFor(model => model.DIARYDATE, new { @class = "form-control", @disabled = "true" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TYPE_NUM)<br />
                            @Html.DropDownListFor(model => model.TYPE_NUM, Model.TypeOptions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TYPE_NUM, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.COD_CUST)<br />
                            @Html.DropDownListFor(model => model.COD_CUST, Model.CustOptions, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.COD_CUST, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.COD_CUST)
                            @Html.TextBoxFor(model => model.COD_CUST, new { @class = "form-control" })
                        </div>*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.NAM_ITEM)
                            @Html.TextBoxFor(model => model.NAM_ITEM, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DATE_NOTE)
                            @Html.TextAreaFor(model => model.DATE_NOTE, new { @class = "form-control", @rows = "10", @style = "resize: none;", @maxlength = "1000" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DATE_PIC1)
                            <code>請上傳總和不超過10MB的檔案</code>
                            @Html.TextBoxFor(model => model.FilesFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/*", @style = "height: 100% !important;" })
                            @*<input type="file" id="pics" name="pics" accept="image/x-png,image/jpeg" multiple>*@

                            @if (Model.FilesList != null && Model.FilesList.Count() > 0)
                            {
                                foreach (var item in Model.FilesList)
                                {                                  
                                    <img src="~/FileUploads/ProductionDiaryPhoto/@item.PIC_NAME" class="img-thumbnail" style="width:400px" />

                                    @Html.ActionLink("刪除檔案", "DeleteDiaryPic", "ProductionDiaryAdmin", new { dd = item.DIARYDATE, lin = item.LIN_PSCT, pic = item.PIC_NAME }, new { @class = "btn btn-danger js-delete-confirm", @target = "_blank" })
                                    <br />
                                }
                            }                           
                        </div>
                    </div>
                    <div class="box-footer">
                        @if (Model.ENTER_USER == adminInfo.Account)
                        {
                            <button type="submit" class="btn btn-primary">儲存</button>
                        }
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default", @style = "margin-left:3px;" })
                    </div>
                }
            </div>

        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {

        });
    </script>
}
