﻿@model FairlyRepair.Areas.Admin.ViewModels.ProductionDiary.ProductionDiaryIndexView
@{
    ViewBag.Title = "Index";
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}

<section class="content-header">
    <h1>
        產線日誌管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li class="active">產線日誌管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Index", "EightDAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", @type = "date" })
                            </div>

                            @Html.LabelFor(model => model.EndDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", @type = "date" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Type, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.Type, Model.TypeOptions, "---項目---", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Cust, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.Cust, Model.CustOptions, "---客戶---", new { @class = "form-control" })
                            </div>
                        </div>
                        @*<div class="form-group">
                                @Html.LabelFor(model => model.StartDate, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                                </div>
                            </div>*@
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("新增產線日誌報告", "Edit", "ProductionDiaryAdmin", new { dd = DateTime.Now.ToString("yyyyMMdd"), user = adminInfo.Account }, new { @class = "btn btn-success bg-olive" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">產線日誌列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(x => x.DIARYDATE)</th>
                                            <th>@Html.DisplayNameFor(x => x.LIN_PSCT)</th>
                                            <th>@Html.DisplayNameFor(x => x.Type)</th>
                                            <th>@Html.DisplayNameFor(x => x.ENTER_USER)</th>
                                            <th>@Html.DisplayNameFor(x => x.COD_CUST)</th>
                                            <th>@Html.DisplayNameFor(x => x.NAM_ITEM)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.PageResult.Data != null)
                                        {
                                            foreach (var item in Model.PageResult.Data)
                                            {
                                                string custStr = "";
                                                if (!string.IsNullOrEmpty(item.COD_CUST))
                                                {
                                                    custStr = Model.CustOptions.Where(q => q.Value == item.COD_CUST).FirstOrDefault().Text;
                                                }
                                                <tr>
                                                    <td>@item.DIARYDATE</td>
                                                    <td>@item.LIN_PSCT</td>
                                                    <td>@Model.TypeOptions.Where(q => q.Value == item.TYPE_NUM).FirstOrDefault().Text</td>
                                                    <td>@item.ENTER_USER</td>
                                                    <td>@custStr</td>
                                                    <td>@item.NAM_ITEM</td>
                                                    <td>
                                                        <a href="@Url.Action("Edit", "ProductionDiaryAdmin", new { dd = item.DIARYDATE, user = item.ENTER_USER, lin = item.LIN_PSCT })" class="btn btn-primary">
                                                            <i class="fa fa-edit"></i>編輯
                                                        </a>
                                                        <a href="@Url.Action("Delete", "ProductionDiaryAdmin", new { dd = item.DIARYDATE, lin = item.LIN_PSCT })" class="btn btn-danger js-delete-confirm">
                                                            <i class="fa fa-trash"></i>刪除
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>@Html.DisplayNameFor(x => x.DIARYDATE)</th>
                                            <th>@Html.DisplayNameFor(x => x.LIN_PSCT)</th>
                                            <th>@Html.DisplayNameFor(x => x.Type)</th>
                                            <th>@Html.DisplayNameFor(x => x.ENTER_USER)</th>
                                            <th>@Html.DisplayNameFor(x => x.COD_CUST)</th>
                                            <th>@Html.DisplayNameFor(x => x.NAM_ITEM)</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
        $(function () {

        })
    </script>
}
