﻿@model string
@{
    var statusStyle = "";
    var statusDisplay = "";
    switch (Model)
    {
        case "駁回":
            statusStyle = "#ffa2a2";
            break;
        case "尚未填寫":
            statusStyle = "#ededed";
            break;
        case "已填寫未送審":
            statusStyle = "#ff92f7";
            break;
        case "等待承辦人簽核中":
            statusStyle = "#fffa51bf";
            break;
        case "待主管簽核中":
            statusStyle = "#0094ff6e";
            break;
        case "待副總經理簽核中":
            statusStyle = "#fddcb3";
            break;
        case "待校長簽核中":
            statusStyle = "#d7c2ef";
            break;
        case "待總經理簽核中":
            statusStyle = "#b6ff00";
            break;
        case "簽核通過":
            statusStyle = "#94ffa6";
            break;
        case "核准":
            statusStyle = "#8aeb4e";
            break;
        case "結案:人員離職":
            statusStyle = "#d7d6b0";
            break;
    }
}

<span class="label label-default" style="background-color: @statusStyle; margin: 3px !important;">@Model</span>
@*<label class="label label-default" style="background-color: #ffa2a2">ffa2a2</label>
<label class="label label-default" style="background-color: #ededed">ededed</label>
<label class="label label-default" style="background-color: #ff92f7">ff92f7</label>
<label class="label label-default" style="background-color: #fffa51bf">fffa51bf</label>
<label class="label label-default" style="background-color: #0094ff6e">0094ff6e</label>
<label class="label label-default" style="background-color: #fddcb3">fddcb3</label>
<label class="label label-default" style="background-color: #d7c2ef">d7c2ef</label>
<label class="label label-default" style="background-color: #b6ff00">b6ff00</label>
<label class="label label-default" style="background-color: #94ffa6">94ffa6</label>
<label class="label label-default" style="background-color: #8aeb4e">8aeb4e</label>
<label class="label label-default" style="background-color: #d7d6b0 ">d7d6b0</label>*@