﻿@model FairlyRepair.ViewModels.Repair.RepairView

@{
    bool isLocked = Model.ID != 0;
}

@section head{
    <style>
        .disabled_bg {
            background-color: #d3d3d33d !important;
        }
    </style>    
}

@section menu{
    <li><a href="@Url.Action("Index", "Repair")">全廠報修</a></li>
    <li class="active"><a href="@Url.Action("Index", "Spray")">噴塗系統報修</a></li>
}

<!-- Main -->
<div id="main">
    <p><a href="@Url.Action("Index", "Home")">首頁</a> >> <a href="@Url.Action("Index", "Spray")">噴塗系統報修列表</a> >> 申請表單</p>
    <!-- Post -->
    <section class="post">
        <header class="major">
            <h1>
                噴塗系統報修
            </h1>
        </header>

        <!-- Form -->
        <h2>報修申請單</h2>

        @using (Html.BeginForm("Detail", "Spray", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.DeviceType)
            @Html.HiddenFor(model => model.DispatcherID)
            <div class="row gtr-uniform">
                @if (isLocked)
                {
                    @Html.HiddenFor(model => model.DeptID)
                    @Html.HiddenFor(model => model.FactoryID)
                    @Html.HiddenFor(model => model.DeviceID)
                    @*@Html.HiddenFor(model => model.DeviceItem)*@
                    @Html.HiddenFor(model => model.Description)
                    <div class="col-4 col-12-small">
                        @Html.LabelFor(model => model.ID)
                        @Html.TextBoxFor(model => model.ID, new { @class = "disabled_bg", @disabled = "disabled" })
                        @*@Html.HiddenFor(model => model.ID)*@
                    </div>
                    <div class="col-4 col-12-small">
                        @Html.LabelFor(model => model.CreateDate)
                        @Html.TextBoxFor(model => model.CreateDate, new { @class = "disabled_bg", @disabled = "disabled" })
                        @Html.HiddenFor(model => model.CreateDate)
                    </div>
                    <div class="col-4 col-12-small">
                        @Html.LabelFor(model => model.DeptID)
                        @Html.TextBoxFor(model => model.DepartmentTitle, new { @class = "disabled_bg", @disabled = "disabled" })
                    </div>
                    <div class="col-4 col-12-small">
                        @Html.LabelFor(model => model.FactoryID)
                        @Html.TextBoxFor(model => model.FactoryTitle, new { @class = "disabled_bg", @disabled = "disabled" })
                    </div>
                    <div class="col-4 col-12-small">
                        @Html.LabelFor(model => model.DeviceID)
                        @Html.TextBoxFor(model => model.DeviceName, new { @class = "disabled_bg", @disabled = "disabled" })
                    </div>

                    <div class="col-4 col-12-small">
                        @Html.LabelFor(model => model.DeviceItem)
                        @Html.TextBoxFor(model => model.DeviceItemName, new { @class = "disabled_bg", @disabled = "disabled" })
                    </div>

                    <div class="col-12">
                        @Html.LabelFor(model => model.Description)
                        @Html.TextAreaFor(model => model.Description, new { @class = "disabled_bg", @disabled = "disabled", @rows = "6" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    if (Model.PicList != null)
                    {
                        if (Model.PicList.Count() > 0)
                        {
                            <div class="box alt" style="margin-top:5%;">
                                <div class="row gtr-50 gtr-uniform">
                                    @foreach (var item in Model.PicList)
                                    {
                                        <div class="col-4"><span class="image fit"><a href="~/FileUploads/RepairPhoto/@item.Pics" target="_blank"><img src="~/FileUploads/RepairPhoto/@item.Pics" alt="" class="pic" /></a></span></div>
                                    }
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    <div class="col-12">
                        @Html.LabelFor(model => model.DeptID)
                        @Html.DropDownListFor(model => model.DeptID, Model.DepartmentOptions, new { @class = "" })
                        @Html.ValidationMessageFor(model => model.DeptID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12">
                        @Html.LabelFor(model => model.FactoryID)
                        @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, new { @class = "" })
                        @Html.ValidationMessageFor(model => model.FactoryID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12">
                        @Html.LabelFor(model => model.FloorID)
                        @Html.DropDownListFor(model => model.FloorID, Model.FloorOptions, new { @class = "" })
                        @Html.ValidationMessageFor(model => model.FloorID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12">
                        @Html.LabelFor(model => model.AreaID)
                        @Html.DropDownListFor(model => model.AreaID, Model.AreaOptions, new { @class = "" })
                        @Html.ValidationMessageFor(model => model.AreaID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12">
                        @Html.LabelFor(model => model.DeviceID)
                        @Html.DropDownListFor(model => model.DeviceID, Model.DeviceOptions, new { @class = "" })
                        @Html.ValidationMessageFor(model => model.DeviceID, "", new { @class = "text-danger" })
                    </div>
                    if (Model.DeviceType == 3)
                    {
                        <div class="col-12">
                            @Html.LabelFor(model => model.DeviceItem)
                            @Html.DropDownListFor(model => model.DeviceItem, Model.DeviceItemOptions, new { @class = "" })
                        </div>
                    }
                    <div class="col-12">
                        @Html.LabelFor(model => model.FaultState)
                        @Html.DropDownListFor(model => model.FaultState, Model.FaultStateOptions, new { @class = "" })
                        @Html.ValidationMessageFor(model => model.FaultState, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12">
                        @Html.LabelFor(model => model.Description)
                        @Html.TextAreaFor(model => model.Description, new { @class = "", @rows = "6" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-6 col-12">
                        @Html.LabelFor(model => model.Pics)
                        @Html.TextBoxFor(model => model.PicsFiles, "", new { @class = "", @type = "file", @multiple = "true", @accept = "image/x-png,image/jpeg" })
                        <br />
                        <code>請上傳總和不超過10MB的檔案</code>
                        @Html.ValidationMessageFor(model => model.Pics, "", new { @class = "text-danger" })
                    </div>
                }
                @Html.HiddenFor(model => model.MaintID)
                @Html.HiddenFor(model => model.PresAppStatus)
                @Html.HiddenFor(model => model.ViceAppStatus)
                @Html.HiddenFor(model => model.IsPresApproval)
                @Html.HiddenFor(model => model.IsViceApproval)

                @Html.HiddenFor(model => model.PresAppDate)
                @Html.HiddenFor(model => model.ViceAppDate)
                <!-- Break -->
                <div class="col-12">
                    <ul class="actions">
                        @if (!isLocked)
                        {
                            <li><input type="submit" value="確認申請" class="primary" /></li>
                        }
                        @if (Model.ID != 0)
                        {
                            <li><a href="@Url.Action("Record", "Spray", new { RepairID = Model.ID })" style="background-color:#d13737; color:white !important;" class="button">查看進度/回覆</a></li>
                        }
                        <li><a href="@Url.Action("Index", "Spray")" class="button">回列表</a></li>
                    </ul>
                </div>
            </div>
        }

        <hr />

    </section>

</div>

@section scripts{
    <script>
        $(function () {
            ChangeFactory();
            //ChangeFloor();
            //ChangeArea();
            $('#FactoryID').on('change', function () {
                ChangeFactory();
            });
            $('#FloorID').on('change', function () {
                ChangeFloor();
            });
            $('#AreaID').on('change', function () {
                ChangeArea();
            });
            @*var deviceType = '@Model.DeviceType';
            if (deviceType == '3') {
                ChangeDevice();

                $('#DeviceID').on('change', function () {
                    ChangeDevice();
                });
            }*@
        });

        function ChangeFactory() {
            var factoryId = $('#FactoryID').val();
            $('#FloorID').children().remove();
            $('#AreaID').children().remove();
            $('#DeviceID').children().remove();
            if (factoryId == '0') {
                return false;
            }
            $.ajax({
                url: "/Repair/GetFloor",
                type: 'POST',
                anysc: false,
                dataType: "json",
                data: {
                    factoryId: factoryId
                },
                success: function (response) {
                    console.log(response);
                    floorId = response[0].ID;
                    $.map(response, function (data) {
                        var selected = data.ID == floorId ? 'selected' : '';
                        $('#FloorID').append('<option value="' + data.ID + '" ' + selected + '>' + data.Title + '</option>');

                    });
                    ChangeFloor();
                }
            });
        }
        //樓層變更
        function ChangeFloor() {
            var floorId = $('#FloorID').val();
            $('#AreaID').children().remove();
            $('#DeviceID').children().remove();
            if (floorId == '0') {
                return false;
            }
            $.ajax({
                url: "/Repair/GetArea",
                type: 'POST',
                anysc: false,
                dataType: "json",
                data: {
                    floorId: floorId
                },
                success: function (response) {
                    console.log(response);
                    areaId = response[0].ID;
                    $.map(response, function (data) {
                        var selected = data.ID == areaId ? 'selected' : '';
                        $('#AreaID').append('<option value="' + data.ID + '" ' + selected + '>' + data.Title + '</option>');

                    });
                    ChangeArea();
                }
            });
        }
        //區域變更
        function ChangeArea() {
            var areaId = $('#AreaID').val();
            $('#DeviceID').children().remove();
            if (areaId == '0') {
                return false;
            }
            $.ajax({
                url: "/Repair/GetDevice",
                type: 'POST',
                anysc: false,
                dataType: "json",
                data: {
                    areaId: areaId
                },
                success: function (response) {
                    console.log(response);
                    deviceId = response[0].ID;
                    $.map(response, function (data) {
                        var selected = data.ID == deviceId ? 'selected' : '';
                        $('#DeviceID').append('<option value="' + data.ID + '" ' + selected + '>' + data.Title + '</option>');
                    });
                }
            });
        }

        //設備變更
        //function ChangeDevice() {
        //    var deviceId = $('#DeviceID').val();
        //    $('#DeviceItem').children().remove();
        //    if (deviceId == '0') {
        //        return false;
        //    }
        //    $.ajax({
        //        url: "/Admin/RepairAdmin/GetDeviceItem",
        //        type: 'POST',
        //        dataType: "json",
        //        data: {
        //            deviceId: deviceId
        //        },
        //        success: function (data) {
        //            console.log(data);
        //            $.map(data, function (device) {
        //                var selected = device.ID == deviceId ? 'selected' : '';
        //                $('#DeviceItem').append('<option value="' + device.ID + '" ' + selected + '>' + device.Title + '</option>');
        //            });
        //        }
        //    });
        //}
    </script>
}
