﻿@model FairlyRepair.Areas.Admin.ViewModels.Repair.RepairIndexView

@section menu{
    <li><a href="@Url.Action("Index", "Repair")">全廠報修</a></li>
    <li class="active"><a href="@Url.Action("Index", "Spray")">噴塗系統報修</a></li>
}

<!-- Main -->
<div id="main">
    <p><a href="@Url.Action("Index", "Home")">首頁</a> >> 噴塗系統報修列表</p>

    <!-- Post -->
    <section class="post">
        <header class="major">
            <h1>
                噴塗系統報修
            </h1>
        </header>

        <!-- Table -->
        <h2>申請單列表  <a href="@Url.Action("Detail", "Spray", new { id = 0 })" class="button primary icon solid fa-edit">填寫報修申請單</a></h2>


        <h4>共 @Model.PageResult.Data.Count() 筆紀錄 </h4>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>課別</th>
                        <th>廠區</th>
                        <th>設備</th>
                        <th>報修時間</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.PageResult.Data.Count() > 0)
                    {
                        foreach (var item in Model.PageResult.Data)
                        {
                            <tr>
                                <td>@item.DepartmentTitle</td>
                                <td>@item.FactoryTitle</td>
                                <td>@item.DeviceName @(!string.IsNullOrEmpty(item.DeviceItemName) ? " (" + item.DeviceItemName + ") " : "")</td>
                                <td>@item.CreateDate.ToString("yyyy/MM/dd HH:mm")</td>
                                <td>
                                    <a href="@Url.Action("Record", "Spray", new { RepairID = item.ID})" class="button">查看</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </section>
    <!-- Footer -->
    <footer>
        @Html.Partial("_PageWeb", Model.PageResult)
        @*<div class="pagination">
                <a href="#" class="previous">Prev</a>
                <a href="#" class="page active">1</a>
                <a href="#" class="page">2</a>
                <a href="#" class="page">3</a>
                <span class="extra">&hellip;</span>
                <a href="#" class="page">8</a>
                <a href="#" class="page">9</a>
                <a href="#" class="page">10</a>
                <a href="#" class="next">Next</a>
            </div>*@
    </footer>
</div>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}
