﻿@model FairlyRepair.ViewModels.Repair.RepairRecordIndexView

@{
    var RepairInfo = Model.RepairInfo;
}

@section head{
    <style>
        .disabled_bg {
            background-color: #d3d3d33d !important;
        }
    </style>
}

@section menu{
    <li><a href="@Url.Action("Index", "Repair")">全廠報修</a></li>
    <li class="active"><a href="@Url.Action("Index", "Spray")">噴塗系統報修</a></li>
}

<div id="main">
    <p><a href="@Url.Action("Index", "Home")">首頁</a> >> <a href="@Url.Action("Index", "Spray")">噴塗系統報修列表</a> >> 報修編號【@Model.RepairInfo.ID】</p>
    <section class="post">        
        <header class="major">
            <h1>
                噴塗系統報修
            </h1>
        </header>

        @using (Html.BeginForm("Detail", "Repair", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.RepairInfo.ID)
            @Html.HiddenFor(model => model.RepairInfo.DeviceType)
            @Html.HiddenFor(model => model.RepairInfo.DispatcherID)
            <div class="row gtr-uniform">

                @Html.HiddenFor(model => model.RepairInfo.DeptID)
                @Html.HiddenFor(model => model.RepairInfo.FactoryID)
                @Html.HiddenFor(model => model.RepairInfo.DeviceID)
                @Html.HiddenFor(model => model.RepairInfo.DeviceItem)
                @Html.HiddenFor(model => model.RepairInfo.Description)
                <div class="col-4 col-12-small">
                    @Html.LabelFor(model => model.RepairInfo.ID)
                    @Html.TextBoxFor(model => model.RepairInfo.ID, new { @class = "disabled_bg", @disabled = "disabled" })
                </div>
                <div class="col-4 col-12-small">
                    @Html.LabelFor(model => model.CreateDate)
                    @Html.TextBoxFor(model => model.RepairInfo.CreateDate, new { @class = "disabled_bg", @disabled = "disabled" })
                    @Html.HiddenFor(model => model.CreateDate)
                </div>
                <div class="col-4 col-12-small">
                    @Html.LabelFor(model => model.RepairInfo.DeptID)
                    @Html.TextBoxFor(model => model.RepairInfo.DepartmentTitle, new { @class = "disabled_bg", @disabled = "disabled" })
                </div>
                <div class="col-4 col-12-small">
                    @Html.LabelFor(model => model.RepairInfo.FactoryID)
                    @Html.TextBoxFor(model => model.RepairInfo.FactoryTitle, new { @class = "disabled_bg", @disabled = "disabled" })
                </div>
                <div class="col-4 col-12-small">
                    @Html.LabelFor(model => model.RepairInfo.DeviceID)
                    @Html.TextBoxFor(model => model.RepairInfo.DeviceName, new { @class = "disabled_bg", @disabled = "disabled" })
                </div>
                @if (Model.RepairInfo.DeviceType == 3)
                {
                    <div class="col-4 col-12-small">
                        @Html.LabelFor(model => model.RepairInfo.DeviceItem)
                        @Html.TextBoxFor(model => model.RepairInfo.DeviceItemName, new { @class = "disabled_bg", @disabled = "disabled" })
                    </div>
                }
                <div class="col-12">
                    @Html.LabelFor(model => model.RepairInfo.Description)
                    @Html.TextAreaFor(model => model.RepairInfo.Description, new { @class = "disabled_bg", @disabled = "disabled", @rows = "6" })
                    @Html.ValidationMessageFor(model => model.RepairInfo.Description, "", new { @class = "text-danger" })
                </div>
                @if (Model.RepairInfo.PicList != null)
                {
                    if (Model.RepairInfo.PicList.Count() > 0)
                    {
                        <div class="box alt" style="margin-top:5%;">
                            <div class="row gtr-50 gtr-uniform">
                                @foreach (var item in Model.RepairInfo.PicList)
                                {
                                    <div class="col-4"><span class="image fit"><a href="~/FileUploads/RepairPhoto/@item.Pics" target="_blank"><img src="~/FileUploads/RepairPhoto/@item.Pics" alt="" class="pic" /></a></span></div>
                                }
                            </div>
                        </div>
                    }
                }

            </div>
        }

        <!-- Form -->
        <h2>維修紀錄</h2>
        @if (Model.RecordList.Count() > 0)
        {
            foreach (var item in Model.RecordList)
            {
                string statusStr = item.MaintStatus.ToString();
                <!-- Featured Post -->
                <article class="post featured box">
                    <header class="major">
                        <span class="date" style="margin:0;">@item.CreateDate.ToString("yyyy/MM/dd HH:mm")</span>
                        <h3>
                            @item.CreaterName
                        </h3>
                        <span>
                            @Html.DisplayFor(model => item.IsSolved, "_UseStatus")
                        </span><br />
                        <span>
                            @item.MaintStatusOptions.Where(q => q.Value == statusStr).FirstOrDefault().Text
                        </span><br />
                        <span>
                            @item.Description
                        </span>

                        <div class="box alt">
                            <div class="row gtr-50 gtr-uniform">
                                @foreach (var pic in item.PicList)
                                {
                                <div class="col-4"><span class="image fit"><img src="~/FileUploads/RepairRecordPhoto/@pic.Pics" alt="" /></span></div>
                                }
                              
                            </div>
                        </div>
                    </header>
                </article>
            }
        }
        else
        {
            <span class="button primary disabled">尚無維修紀錄</span>
        }

        <!-- Footer -->
        <footer>
            <!--<div class="pagination">-->
            <!--<a href="#" class="previous">Prev</a>-->
            <!--<a href="#" class="page active">1</a>
            <a href="#" class="page">2</a>
            <a href="#" class="page">3</a>
            <span class="extra">&hellip;</span>
            <a href="#" class="page">8</a>
            <a href="#" class="page">9</a>
            <a href="#" class="page">10</a>
            <a href="#" class="next">Next</a>
        </div>-->
        </footer>
    </section>
</div>