﻿@{
    var siteNameAbbreviation = @FairlyRepair.Models.Others.SiteSetting.SiteNameAbbreviation;
    var siteName = @FairlyRepair.Models.Others.SiteSetting.SiteName;
    string minsecs = DateTime.Now.ToString("mmss");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@siteNameAbbreviation | @siteName</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/Content/AdminLTE-2.4.5/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/AdminLTE-2.4.5/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/Content/AdminLTE-2.4.5/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <!-- DataTables -->
    <link href="~/Content/AdminLTE-2.4.5/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/AdminLTE-2.4.5/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/Content/AdminLTE-2.4.5/css/skins/_all-skins.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <!--以下為自訂STYLE-->
    <!--bootstrap-tagsinput-->
    <link href="~/Content/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <!--preety checkbox-->
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet" />

    <!--顯示訊息-->
    <link href="~/Content/Admin/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Content/Admin/custom.css" rel="stylesheet" />
    <style>
        img.square {
            width: 100px;
            border-radius: 50%;
            border: 1px solid rgba(255,0,0,1.00);
        }
        select textbox textarea {
            border-radius: 7px !important;
        }

        .box, .form-control {
            border-radius: 5px !important;
        }

        .notify-list-area {
            border-width: 2px;
            border-radius: 2px;
            border-color: black;
            border: #ff9797 solid 3px;
            border-radius: 7px;
            padding: 10px;
            /*background-color: #fff6f6;*/
        }

        .check_list_area {
            max-height: 200px;
            overflow-y: auto;
        }

        .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10 {
            margin-top: 15px;
        }

        input[type=radio] {
            margin-left: 5px;
        }

        .hr_split {
            margin-top: 20px;
            border-top: 3px solid #5b5b5b;
            border-radius: 50%;
        }

        .hr_dashed {
            margin-top: 30px;
            border-top: 3px double #ffecaf;
            /*border-radius: 50%;*/
        }

        .h3_course {
            font-weight: bold;
            color: #37608d;
        }

        .text-danger {
            color: red !important;
            font-weight: bold;
        }

        .signature_img {
            max-width: 240px;
        }

        .signature_date {
            color: #103f97;
            font-size: 20px;
            position: absolute;
            top: 46%;
            left: 11%;
            /*top: 43%;
            left: 3%;*/
            font-family: DFKai-sb;
            font-weight: bold;
        }

        .signature_img {
            width: 150px;
        }

        .signature_area {
            float: left;
            width: 170px;
        }

        .signature_date {
            color: #103f97;
            font-size: 14px;
            position: absolute;
            /* top: 52%;
            left: 5%;*/
            font-family: DFKai-sb;
            font-weight: bold;
        }

        .signature_date_officer, .signature_date_manager, .signature_date_vice, .signature_date_president {
            top: 46%;
            left: 8%;
        }

       /* .signature_date_manager {
            top: 46%;
            left: 8%;
        }

        .signature_date_vice {
            top: 46%;
            left: 8%;
        }

        .signature_date_president {
            top: 46%;
            left: 8%;
        }*/

        .signature_dept {
            color: #103f97;
            font-size: 22px;
            position: absolute;
            /*  top: 33%;
            left: 35%;*/
            transform: translate(-50%,-50%);
            /* top: 16%;
            left: 8%;*/
            font-family: DFKai-sb;
            text-align: center;
            font-weight: bold;
        }

        .signature_dept_officer, .signature_dept_manager, .signature_dept_vice, .signature_dept_president {
            top: 25%;
            left: 46%;
        }

/*        .signature_dept_manager {
            top: 25%;
            left: 46%;
        }

        .signature_dept_vice {
            top: 25%;
            left: 46%;
        }

        .signature_dept_president {
            top: 25%;
            left: 46%;
        }*/

        .signature_name {
            color: #103f97;
            font-size: 30px;
            position: absolute;
            /* top: 80%;
            left: 35%;*/
            transform: translate(-50%,-50%);
            font-family: DFKai-sb;
            text-align: center;
            font-weight: bold;
        }

        .signature_name_officer, .signature_name_manager, .signature_name_vice, .signature_name_president {
            top: 77%;
            left: 46%;
        }

      /*  .signature_name_manager {
            top: 77%;
            left: 46%;
        }

        .signature_name_vice {
            top: 77%;
            left: 46%;
        }

        .signature_name_president {
            top: 77%;
            left: 46%;
        }*/

        .modal-content {
            border-radius: 5px;
        }

        tbody {
            font-size: 15px;
        }
    </style>
    @RenderSection("styles", required: false)
</head>
<body class="hold-transition skin-red sidebar-mini" onselectstart="return false">
    @*<body class="hold-transition skin-red sidebar-mini" oncontextmenu="return false" onselectstart="return false" onkeydown="return false">*@
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "HomeAdmin")" class="logo">
                <span class="logo-mini"><b>@siteNameAbbreviation</b></span>
                <span class="logo-lg"><b>@siteName</b></span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </nav>
        </header>
        <!-- 左側選單 -->
        <aside class="main-sidebar">
            @Html.Partial("_SidebarMenu")
        </aside>
        <!--左側選單 END-->
        <!--主要內容 START-->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!--主要內容 END-->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong><a href="@FairlyRepair.Models.Others.SiteSetting.MaintainerWebSite" target="_blank">@FairlyRepair.Models.Others.SiteSetting.Maintainer</a>.</strong>
        </footer>
    </div>

    <!-- jQuery 3 -->
    <script src="~/Content/AdminLTE-2.4.5/jquery/dist/jquery.min.js?t=@minsecs"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/AdminLTE-2.4.5/bootstrap/dist/js/bootstrap.min.js?t=@minsecs"></script>
    <!-- DataTables -->
    <script src="~/Content/AdminLTE-2.4.5/datatables.net/js/jquery.dataTables.min.js?t=@minsecs"></script>
    <script src="~/Content/AdminLTE-2.4.5/datatables.net-bs/js/dataTables.bootstrap.min.js?t=@minsecs"></script>
    <!-- SlimScroll -->
    <script src="~/Content/AdminLTE-2.4.5/jquery-slimscroll/jquery.slimscroll.min.js?t=@minsecs"></script>
    <!-- FastClick -->
    <script src="~/Content/AdminLTE-2.4.5/fastclick/lib/fastclick.js?t=@minsecs"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/AdminLTE-2.4.5/js/adminlte.min.js?t=@minsecs"></script>

    <!--以下為自訂js-->
    <!--bootstrap-tagsinput-->
    <script src="~/Content/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.min.js"></script>

    <!--顯示訊息-->
    <script src="~/Scripts/Admin/toastr/toastr.min.js"></script>

    <!--自訂設定-->
    @*<script src="~/Scripts/Admin/cmind.setting.js"></script>*@

    <script src="~/Scripts/Admin/custom.js"></script>
    @*<script src="~/Content/js/equipment.js"></script>*@
    <!--錯誤訊息-->
    @Html.Partial("_PromptNotification")
    @RenderSection("scripts", required: false)
    <!--datetimepicker-->
    <link href="~/Content/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
    <script>
        $(function () {
            //datetimepicker
            $.prototype.datetimepicker.DPGlobal.nonpunctuation = /[^ -\/:-@@\[-`{-~\t\n\rZ]+/g;
        });
        function setDateTime(timeElement) {
            var currentDate = new Date();
            if (timeElement.val() === "0001/1/1 上午 12:00:00") {
                timeElement.val(currentDate.getFullYear() + '/' + (currentDate.getMonth() + 1) + '/' + currentDate.getDate() + ' ' + currentDate.getHours() + ":" + PrefixInteger(currentDate.getMinutes(), 2))
            } else {
                var strAry = timeElement.val().split('/');
                var daytime = strAry[2].split(' ');
                var timestr;
                if (daytime.length > 2) {
                    timestr = daytime[2].split(':');
                }
                else {
                    timestr = daytime[1].split(':');
                }
                var hourtime = parseInt(timestr[0]);

                if (daytime[1] == "下午") {
                    if (hourtime < 12) {
                        hourtime = hourtime + 12;
                    }
                }
                else if (daytime[1] == "上午" && hourtime == 12) {
                    hourtime = 0
                }
                timeElement.val(strAry[0] + '/' + strAry[1] + '/' + daytime[0] + ' ' + hourtime + ":" + timestr[1])
            }
            currentDate.setFullYear(currentDate.getFullYear())
            currentDate.setMonth(0);
            currentDate.setDate(0);
            //currentDate.setMinutes(0,0,0);
            currentDate.setHours(0, 0, 0);
            //console.log(currentDate)
            timeElement.datetimepicker({
                todayHighlight: true,
                weekStart: 1,
                minView: 0,
                autoclose: true,
                //pickerPosition: 'bottom-left',
                format: 'yyyy/mm/dd hh:ii ',
                //timezone: 'UTC',
                startDate: currentDate,
                disabledDate: false
            });
        }

        function myFunction() {
            var x = document.getElementById("Password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    <!--ckeditor-->
    <script src="~/Scripts/Admin/fileUpload.js"></script>
    <script src="~/Content/Admin/ckeditor/ckeditor.js"></script>
    <script>
        $(function () {
            //Ckeditor init
            $('.js-ckeditor').each(function (i, e) {
                var id = $(e).attr('id');
                CKEDITOR.replace(id, {
                    filebrowserImageUploadUrl: "/Admin/BaseAdmin/Upload",
                    height: '500px'
                });
            });
        });
    </script>
    <script>
        //數字轉中文
        function chinanum(num) {
            var numStr = '' + num;
            var china = new Array('零', '一', '二', '三', '四', '五', '六', '七', '八', '九');
            var arr = new Array();
            var english = numStr.split("");
            for (var i = 0; i < english.length; i++) {
                arr[i] = china[english[i]];
            }
            return arr.join("");
        }
    </script>
</body>
</html>