﻿@{
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    string[] allowedAccountList = { "1690", "2370", "0575", "2123" };
    string[] allowedDiaryList = { "2165", "2370", "2391", "1077" };
    string[] allowedEmissionsList = { "2416", "2464" };
    string account = adminInfo.Account;
}
@if (adminInfo != null)
{
    <section class="sidebar">
        <div class="user-panel" style="height:auto;">
            <div class="pull-left image">
                @*<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">*@
            </div>

            <div class="pull-left info" style="position:initial !important;">
                <p>@adminInfo.Name</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">功能選單</li>
            @if (adminInfo.Type <= (int)FairlyRepair.Models.AdminType.Mainter || allowedAccountList.Contains(account))
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-th-list"></i> <span>報修管理</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-double-right pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("OverView", "RepairAdmin")"><i class="fa fa-line-chart"></i> 報修概覽</a></li>
                        <li><a href="@Url.Action("Index", "RepairAdmin", new { dt = 2 })"><i class="fa fa-wrench"></i> 全廠報修單管理</a></li>
                        @if (adminInfo.Type == (int)FairlyRepair.Models.MeetAdminType.President || adminInfo.Type == (int)FairlyRepair.Models.AdminType.VicePresident)
                        {
                            <li>
                                <a href="@Url.Action("Index", "ApprovalAdmin")">
                                    <i class="fa fa-legal"></i>
                                    <span>審核</span>
                                    @*<span class="pull-right-container">
                                            <small class="label pull-right bg-yellow">17</small>
                                        </span>*@
                                </a>
                            </li>
                        }
                        @if (adminInfo.Type < (int)FairlyRepair.Models.AdminType.Mainter)
                        {
                            <li><a href="@Url.Action("Index", "ManufactureAdmin")"><i class="fa fa-building"></i> 承製廠商管理</a></li>
                            <li><a href="@Url.Action("Index", "EquipmentAdmin")"><i class="fa fa-building"></i> 設備管理</a></li>
                            @*<li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-th-list"></i> <span>設備</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-double-right pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "EquipmentAdmin")"><i class="fa fa-fire-extinguisher"></i> 設備管理</a></li>
                                        <li><a href="@Url.Action("Index", "EquipmentCategoryAdmin")"><i class="fa fa-tags"></i> 設備類別管理</a></li>
                                    </ul>
                                </li>*@
                        }

                    </ul>
                </li>
            }

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th-list"></i> <span>8D報告管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-double-right pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "EightDAdmin")"><i class="fa fa-file"></i> 8D管理</a></li>
                    @if (adminInfo.AccountType < (int)FairlyRepair.Models.MeetAdminType.Employee || adminInfo.Type == (int)FairlyRepair.Models.AdminType.Chief)
                    {
                        <li><a href="@Url.Action("Index", "EightDCategoryAdmin")"><i class="fa fa-tags"></i> 8D類別管理</a></li>
                    }
                    @if (adminInfo.AccountType < (int)FairlyRepair.Models.MeetAdminType.Employee)
                    {
                        int stateInt = 0;
                        switch (adminInfo.AccountType)
                        {
                            case (int)FairlyRepair.Models.MeetAdminType.Manager:
                                stateInt = (int)FairlyRepair.Models.AuditState.OfficerAudit;
                                break;
                            case (int)FairlyRepair.Models.MeetAdminType.Vice:
                                stateInt = (int)FairlyRepair.Models.AuditState.ManagerAudit;
                                break;
                            case (int)FairlyRepair.Models.MeetAdminType.President:
                                stateInt = (int)FairlyRepair.Models.AuditState.ViceAudit;
                                break;
                        }
                        <li><a href="@Url.Action("Index", "AuditAdmin", new { IsOfficer = true, State = stateInt })"><i class="fa fa-legal"></i> 簽核</a></li>
                    }
                </ul>
            </li>
            @if (allowedDiaryList.Contains(account) || adminInfo.Type <= (int)FairlyRepair.Models.MeetAdminType.Vice)
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-th-list"></i> <span>產線日誌管理</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-double-right pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "ProductionDiaryAdmin")"><i class="fa fa-pencil"></i> 日誌管理</a></li>
                        <li><a href="@Url.Action("Index", "ProductionTypeAdmin")"><i class="fa fa-tags"></i> 項目管理</a></li>
                    </ul>
                </li>
            }
            @if (allowedEmissionsList.Contains(account) || adminInfo.Type <= (int)FairlyRepair.Models.MeetAdminType.Vice)
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-th-list"></i> <span>碳排放管理</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-double-right pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "EmissionsAdmin")"><i class="fa fa-industry"></i> 碳排放紀錄管理</a></li>
                    </ul>
                </li>
            }
            @*@if (adminInfo.Type == (int)FairlyRepair.Models.MeetAdminType.President || adminInfo.Type == (int)FairlyRepair.Models.AdminType.VicePresident)
                {
                    <li>
                        <a href="@Url.Action("Index", "ApprovalAdmin")">
                            <i class="fa fa-pencil-square"></i>
                            <span>審核</span>
                        </a>
                    </li>
                }
                <li><a href="@Url.Action("Index", "RepairAdmin", new { dt = 2} )"><i class="fa fa-wrench"></i> 全廠報修單管理</a></li>
                @if (adminInfo.Type < (int)FairlyRepair.Models.AdminType.Mainter)
                {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-th-list"></i> <span>其他</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-double-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "ManufactureAdmin")"><i class="fa fa-building"></i> 承製廠商管理</a></li>
                            <li><a href="@Url.Action("Index", "EquipmentAdmin")"><i class="fa fa-fire-extinguisher"></i> 設備管理</a></li>

                        </ul>
                    </li>

                }*@

            @if (adminInfo.Type == (int)FairlyRepair.Models.MeetAdminType.Sysadmin)
            {
                <li><a href="@Url.Action("Index", "ManagerAdmin")"><i class="fa fa-user"></i> <span>帳號管理</span></a></li>
            }
            <li class="header"></li>
            <li>
                <a href="@Url.Action("Logout", "AuthAdmin")">
                    <i class="fa fa-book"></i> <span>登出</span>
                </a>
            </li>
        </ul>
    </section>
}