﻿@model FairlyRepair.Areas.Admin.ViewModels.Emissions.EmissionsView
@{
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增碳排放" : "編輯碳排放";
    string host = Request.Url.Scheme + "://" + Request.Url.Authority + "/Admin";
    var t2 = Model.EmissionsT2;
    var t3c1 = Model.EmissionsT3C1;
    var t4c1 = Model.EmissionsT4C1;
    var t6 = Model.EmissionsT6;
}

@section styles{
    <style>
        table {
            border: 2px solid gray !important;
            text-align: center !important;
        }

            table th, .td_head {
                background-color: aliceblue !important;
            }

            table th, table td {
                border: 1px solid gray !important;
                vertical-align: middle !important;
                font-weight: bold;
            }

        /* table td {
                border: 1px solid gray !important;
                vertical-align: middle !important;
            }*/

        .input-group-addon {
            border: none;
        }

        .save_btn {
            text-align: right !important;
        }

        @@media (max-width: 768px) {
            .td_head {
                padding: 5px 50px !important;
                font-weight: bold;
            }
        }
    </style>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        碳排放管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                    @Html.ActionLink("匯出Excel", "ExportEmissions", "EmissionsAdmin", new { id= Model.ID }, new { @class = "btn btn-success bg-olive" })
                </div>

                @using (Html.BeginForm("Edit", "EmissionsAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.PersonId)
                    @Html.HiddenFor(model => model.Creater)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        <label>填寫時間</label>
                                        <input type="text" class="form-control" value="@Model.CreateDate.ToString("yyyy-MM-dd")" disabled />
                                    </div>
                                    <div class="form-group">
                                        <label>紀錄時間</label>
                                        <input type="date" class="form-control" id="emissions_date" text="@Model.EmissionDate.ToString("yyyy-MM-dd")" value="@Model.EmissionDate.ToString("yyyy-MM-dd")" />
                                    </div>
                                    <div class="form-group">
                                        <label>備註</label>
                                        <textarea class="form-control" style="resize: none;" rows="6" id="emissions_remark">@Model.Remark</textarea>
                                    </div>

                                    <div class="form-group">
                                        <input type="hidden" id="t2_id" value="@t2.ID" />
                                        <input type="hidden" id="t2_eid" value="@t2.EmissionID" />
                                        <div class="col-sm-12 table-responsive">
                                            <table class="table table-bordered table-hover dataTable">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;" colspan="10">彙整表二、全廠七大溫室氣體排放量統計表</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head"></td>
                                                        <td class="td_head" width="20%" style="padding: 10px;">CO<sub>2</sub></td>
                                                        <td class="td_head" width="20%">CH<sub>4</sub></td>
                                                        <td class="td_head">N<sub>2</sub>O</td>
                                                        <td class="td_head">HFCs</td>
                                                        <td class="td_head">PFCs</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="td_head">排放當量 (公噸CO<sub>2</sub>e/年)</td>
                                                        <td><input class="form-control" type="number" id="t2_co2" value="@t2.CO2" /></td>
                                                        <td><input class="form-control" type="number" id="t2_ch4" value="@t2.CH4" /></td>
                                                        <td><input class="form-control" type="number" id="t2_n2o" value="@t2.N2O" /></td>
                                                        <td><input class="form-control" type="number" id="t2_hfcs" value="@t2.HFCS" /></td>
                                                        <td><input class="form-control" type="number" id="t2_pfcs" value="@t2.PFCS" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head">氣體別占比 (％)</td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t2_co2p" value="@t2.CO2Percent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t2_ch4p" value="@t2.CH4Percent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t2_n2op" value="@t2.N2OPercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t2_hfcsp" value="@t2.HFCSPercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t2_pfcsp" value="@t2.PFCSPercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head"></td>
                                                        <td class="td_head">SF<sub>6</sub></td>
                                                        <td class="td_head">NF<sub>3</sub></td>
                                                        <td class="td_head" colspan="2">七種溫室氣體年總排放當量註</td>
                                                        <td class="td_head" colspan="2">生質排放當量</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head">排放當量 (公噸CO<sub>2</sub>e/年)</td>
                                                        <td><input class="form-control" type="number" id="t2_sf6" value="@t2.SF6" /></td>
                                                        <td><input class="form-control" type="number" id="t2_nf3" value="@t2.NF3" /></td>
                                                        <td colspan="2"><input class="form-control" type="number" id="t2_greenhousegases" value="@t2.GreenHouseGases" /></td>
                                                        <td colspan="2"><input class="form-control" type="number" id="t2_biomass" value="@t2.Biomass" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head">氣體別占比 (％)</td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t2_sf6p" value="@t2.SF6Percent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t2_nf3p" value="@t2.NF3Percent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td colspan="2">
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t2_greenhousegasesp" value="@t2.GreenHouseGasesPercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td colspan="2">-</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <input type="button" class="btn btn-primary save_btn" id="save_t2" value="儲存" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="hidden" id="t3c1_id" value="@t3c1.ID" />
                                        <input type="hidden" id="t3c1_eid" value="@t3c1.EmissionID" />
                                        <div class="col-sm-12 table-responsive">
                                            <table class="table table-bordered table-hover dataTable">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;" colspan="10">彙整表三、範疇一七大溫室氣體排放量統計表</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head"></td>
                                                        <td class="td_head">CO<sub>2</sub></td>
                                                        <td class="td_head">CH<sub>4</sub></td>
                                                        <td class="td_head">N<sub>2</sub>O</td>
                                                        <td class="td_head">HFCs</td>
                                                        <td class="td_head">PFCs</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="td_head">排放當量 (公噸CO<sub>2</sub>e/年)</td>
                                                        <td><input class="form-control" type="number" id="t3c1_co2" value="@t3c1.CO2" /></td>
                                                        <td><input class="form-control" type="number" id="t3c1_ch4" value="@t3c1.CH4" /></td>
                                                        <td><input class="form-control" type="number" id="t3c1_n2o" value="@t3c1.N2O" /></td>
                                                        <td><input class="form-control" type="number" id="t3c1_hfcs" value="@t3c1.HFCS" /></td>
                                                        <td><input class="form-control" type="number" id="t3c1_pfcs" value="@t3c1.PFCS" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head">氣體別占比 (％)</td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t3c1_co2p" value="@t3c1.CO2Percent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t3c1_ch4p" value="@t3c1.CH4Percent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t3c1_n2op" value="@t3c1.N2OPercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t3c1_hfcsp" value="@t3c1.HFCSPercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t3c1_pfcsp" value="@t3c1.PFCSPercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head"></td>
                                                        <td class="td_head">SF<sub>6</sub></td>
                                                        <td class="td_head">NF<sub>3</sub></td>
                                                        <td class="td_head" colspan="4">範疇一七種溫室氣體年總排放當量</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head">排放當量 (公噸CO<sub>2</sub>e/年)</td>
                                                        <td><input class="form-control" type="number" id="t3c1_sf6" value="@t3c1.SF6" /></td>
                                                        <td><input class="form-control" type="number" id="t3c1_nf3" value="@t3c1.NF3" /></td>
                                                        <td colspan="4"><input class="form-control" type="number" id="t3c1_greenhousegases" value="@t3c1.GreenHouseGases" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head">氣體別占比 (％)</td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t3c1_sf6p" value="@t3c1.SF6Percent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t3c1_nf3p" value="@t3c1.NF3Percent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td colspan="4">
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t3c1_greenhousegasesp" value="@t3c1.GreenHouseGasesPercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <input type="button" class="btn btn-primary save_btn" id="save_t3c1" value="儲存" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="hidden" id="t4c1_id" value="@t4c1.ID" />
                                        <input type="hidden" id="t4c1_eid" value="@t4c1.EmissionID" />
                                        <div class="col-sm-12 table-responsive">
                                            <table class="table table-bordered table-hover dataTable">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;" colspan="10">彙整表四、全廠溫室氣體範疇別及範疇一排放型式排放量統計表</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head" rowspan="2"></td>
                                                        <td class="td_head" colspan="4">範疇1</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head">固定排放</td>
                                                        <td class="td_head">移動排放</td>
                                                        <td class="td_head">製程排放</td>
                                                        <td class="td_head">逸散排放</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="td_head" rowspan="2">排放當量 (公噸CO<sub>2</sub>e/年)</td>
                                                        <td colspan="4"><input class="form-control" type="number" id="t4c1_category1" value="@t4c1.Category1" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input class="form-control" type="number" id="t4c1_fixed" value="@t4c1.Fixed" /></td>
                                                        <td><input class="form-control" type="number" id="t4c1_mobile" value="@t4c1.Mobile" /></td>
                                                        <td><input class="form-control" type="number" id="t4c1_process" value="@t4c1.Process" /></td>
                                                        <td><input class="form-control" type="number" id="t4c1_fugitive" value="@t4c1.Fugitive" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head" rowspan="2">氣體別占比 (％)</td>
                                                        <td colspan="4">
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t4c1_category1p" value="@t4c1.Category1Percent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t4c1_fixedp" value="@t4c1.FixedPercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t4c1_mobilep" value="@t4c1.MobilePercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t4c1_processp" value="@t4c1.ProcessPercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t4c1_fugitivep" value="@t4c1.FugitivePercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head" rowspan="2"></td>
                                                        <td class="td_head">範疇2</td>
                                                        <td class="td_head">範疇3</td>
                                                        <td class="td_head" rowspan="2" colspan="2">總排放當量</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head">能源間接排放</td>
                                                        <td class="td_head">其他間接排放</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head">排放當量 (公噸CO<sub>2</sub>e/年)</td>
                                                        <td><input class="form-control" type="number" id="t4c1_category2energy" value="@t4c1.Category2Energy" /></td>
                                                        <td><input class="form-control" type="number" id="t4c1_category3other" value="@t4c1.Category3Other" /></td>
                                                        <td colspan="2"><input class="form-control" type="number" id="t4c1_total" value="@t4c1.Total" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head">氣體別占比 (％)</td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t4c1_category2energyp" value="@t4c1.Category2EnergyPercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td>-</td>
                                                        <td colspan="2">
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t4c1_totalp" value="@t4c1.TotalPercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <input type="button" class="btn btn-primary save_btn" id="save_t4c1" value="儲存" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="hidden" id="t6_id" value="@t6.ID" />
                                        <input type="hidden" id="t6_eid" value="@t6.EmissionID" />
                                        <div class="col-sm-12 table-responsive">
                                            <table class="table table-bordered table-hover dataTable">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;" colspan="10">彙整表六、溫室氣體不確定性量化評估結果</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="td_head" width="20%">進行不確定性評估之排放量絕對值加總</td>
                                                        <td class="td_head" width="20%">排放總量絕對值加總</td>
                                                        <td class="td_head" rowspan="2" colspan="2">本清冊之總不確定性</td>
                                                    </tr>
                                                    <tr>
                                                        <td><input class="form-control" type="number" id="t6_uncertainty" value="@t6.Uncertainty" /></td>
                                                        <td><input class="form-control" type="number" id="t6_absoluteemissions" value="@t6.AbsoluteEmissions" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td_head">進行不確定性評估之排放量佔總排放量之比例</td>
                                                        <td class="td_head">95%信賴區間下限</td>
                                                        <td class="td_head">95%信賴區間上限</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control percent_input" type="number" id="t6_uncertaintyp" value="@t6.UncertaintyPercent" />
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </td>
                                                        <td><input class="form-control" type="number" id="t6_nintyfivemin" value="@t6.NintyfiveMin" /></td>
                                                        <td><input class="form-control" type="number" id="t6_nintyfivemax" value="@t6.NintyfiveMax" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <input type="button" class="btn btn-primary save_btn" id="save_t6" value="儲存" />
                                        </div>
                                    </div>

                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        @*@if (adminInfo.AccountType < (int)FairlyRepair.Models.MeetAdminType.Employee)
                            {
                                <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                            }*@

                        @Html.ActionLink("取消/回列表", "Index", new { }, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('#save_t2').on('click', function () {
                var data = {
                    ID: $('#t2_id').val(),
                    EmissionID: $('#t2_eid').val(),
                    CO2: $('#t2_co2').val(),
                    CH4: $('#t2_ch4').val(),
                    N2O: $('#t2_n2o').val(),
                    HFCs: $('#t2_hfcs').val(),
                    PFCs: $('#t2_pfcs').val(),
                    SF6: $('#t2_sf6').val(),
                    NF3: $('#t2_nf3').val(),
                    GreenHouseGases: $('#t2_greenhousegases').val(),
                    Biomass: $('#t2_biomass').val(),
                    CO2Percent: $('#t2_co2p').val(),
                    CH4Percent: $('#t2_ch4p').val(),
                    N2OPercent: $('#t2_n2op').val(),
                    HFCsPercent: $('#t2_hfcsp').val(),
                    PFCsPercent: $('#t2_pfcsp').val(),
                    SF6Percent: $('#t2_sf6p').val(),
                    NF3Percent: $('#t2_nf3p').val(),
                    GreenHouseGasesPercent: $('#t2_greenhousegasesp').val(),
                };
                SaveT2(data);
            })
            $('#save_t3c1').on('click', function () {
                var data = {
                    ID: $('#t3c1_id').val(),
                    EmissionID: $('#t3c1_eid').val(),
                    CO2: $('#t3c1_co2').val(),
                    CH4: $('#t3c1_ch4').val(),
                    N2O: $('#t3c1_n2o').val(),
                    HFCs: $('#t3c1_hfcs').val(),
                    PFCs: $('#t3c1_pfcs').val(),
                    SF6: $('#t3c1_sf6').val(),
                    NF3: $('#t3c1_nf3').val(),
                    GreenHouseGases: $('#t3c1_greenhousegases').val(),
                    CO2Percent: $('#t3c1_co2p').val(),
                    CH4Percent: $('#t3c1_ch4p').val(),
                    N2OPercent: $('#t3c1_n2op').val(),
                    HFCsPercent: $('#t3c1_hfcsp').val(),
                    PFCsPercent: $('#t3c1_pfcsp').val(),
                    SF6Percent: $('#t3c1_sf6p').val(),
                    NF3Percent: $('#t3c1_nf3p').val(),
                    GreenHouseGasesPercent: $('#t3c1_greenhousegasesp').val(),
                };
                SaveT3C1(data);
            })
            $('#save_t4c1').on('click', function () {
                var data = {
                    ID: $('#t4c1_id').val(),
                    EmissionID: $('#t4c1_eid').val(),
                    Fixed: $('#t4c1_fixed').val(),
                    Mobile: $('#t4c1_mobile').val(),
                    Process: $('#t4c1_process').val(),
                    Fugitive: $('#t4c1_fugitive').val(),
                    Category1: $('#t4c1_category1').val(),
                    Category2Energy: $('#t4c1_category2energy').val(),
                    Category3Other: $('#t4c1_category3other').val(),
                    Total: $('#t4c1_total').val(),
                    FixedPercent: $('#t4c1_fixedp').val(),
                    MobilePercent: $('#t4c1_mobilep').val(),
                    ProcessPercent: $('#t4c1_processp').val(),
                    FugitivePercent: $('#t4c1_fugitivep').val(),
                    Category1Percent: $('#t4c1_category1p').val(),
                    Category2EnergyPercent: $('#t4c1_category2energyp').val(),
                    TotalPercent: $('#t4c1_totalp').val(),
                };
                SaveT4C1(data);
            })
            $('#save_t6').on('click', function () {
                var data = {
                    ID: $('#t6_id').val(),
                    EmissionID: $('#t6_eid').val(),
                    Uncertainty: $('#t6_uncertainty').val(),
                    AbsoluteEmissions: $('#t6_absoluteemissions').val(),
                    UncertaintyPercent: $('#t6_uncertaintyp').val(),
                    NintyfiveMin: $('#t6_nintyfivemin').val(),
                    NintyfiveMax: $('#t6_nintyfivemax').val(),
                };
                SaveT6(data);
            })

            function SaveT2(data) {
                $.ajax({
                    url: "/EmissionsAdmin/SaveT2",
                    type: 'POST',
                    anysc: false,
                    dataType: "text",
                    data: {
                        id: parseInt($('#ID').val()),
                        emissionsdate: $('#emissions_date').val(),
                        remark: $('#emissions_remark').val(),
                        data: data
                    },
                    success: function (response) {
                        console.log(response);
                        if (response != '0') {
                            location.href = '/Admin/EmissionsAdmin/Edit/' + response;
                        }
                        else {
                            alert(' 儲存失敗 ! ');
                        }
                    }
                });
            }
            function SaveT3C1(data) {
                $.ajax({
                    url: "/EmissionsAdmin/SaveT3C1",
                    type: 'POST',
                    anysc: false,
                    dataType: "json",
                    data: {
                        id: parseInt($('#ID').val()),
                        emissionsdate: $('#emissions_date').val(),
                        remark: $('#emissions_remark').val(),
                        data: data
                    },
                    success: function (response) {
                        console.log(response);
                        if (response != '0') {
                            location.href = '/Admin/EmissionsAdmin/Edit/' + response;
                        }
                        else {
                            alert(' 儲存失敗 ! ');
                        }
                    }
                });
            }
            function SaveT4C1(data) {
                $.ajax({
                    url: "/EmissionsAdmin/SaveT4C1",
                    type: 'POST',
                    anysc: false,
                    dataType: "json",
                    data: {
                        id: parseInt($('#ID').val()),
                        emissionsdate: $('#emissions_date').val(),
                        remark: $('#emissions_remark').val(),
                        data: data
                    },
                    success: function (response) {
                        console.log(response);
                        if (response != '0') {
                            location.href = '/Admin/EmissionsAdmin/Edit/' + response;
                        }
                        else {
                            alert(' 儲存失敗 ! ');
                        }
                    }
                });
            }
            function SaveT6(data) {
                $.ajax({
                    url: "/EmissionsAdmin/SaveT6",
                    type: 'POST',
                    anysc: false,
                    dataType: "json",
                    data: {
                        id: parseInt($('#ID').val()),
                        emissionsdate: $('#emissions_date').val(),
                        remark: $('#emissions_remark').val(),
                        data: data
                    },
                    success: function (response) {
                        console.log(response);
                        if (response != '0') {
                            location.href = '/Admin/EmissionsAdmin/Edit/' + response;
                        }
                        else {
                            alert(' 儲存失敗 ! ');
                        }
                    }
                });
            }
        })
    </script>
}
