﻿@model FairlyRepair.Areas.Admin.ViewModels.Emissions.EmissionsIndexView

@{
    string host = Request.Url.Scheme + "://" + Request.Url.Authority + "/Admin";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        碳排放管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">搜尋</h3>                  
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Index", "EmissionsAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EndDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("匯出Excel", "ExportEmissionsList", null, new { @class = "btn btn-success" })
                                @Html.ActionLink("新增碳排放紀錄", "Edit", null, new { @class = "btn btn-success" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="row">
        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">碳排放列表</h3>
                    @*@Html.ActionLink("新增碳排放紀錄", "Edit", null, new { @class = "btn btn-success" })*@
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th data-sorting="ID">
                                                @Html.DisplayNameFor(x => x.ID)
                                            </th>
                                            <th data-sorting="CreateDate">
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ID
                                                </td>
                                                <td>
                                                    @item.CreateDate.ToString("yyyy-MM-dd")
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "EmissionsAdmin", new { id = item.ID })" class="btn btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                        <span>編輯</span>
                                                    </a>
                                                    @Html.ActionLink("刪除", "Edit", "EmissionsAdmin", new { id = item.ID }, new { @class = "btn btn-danger" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ID)
                                            </th>
                                            <th data-sorting="CreateDate">
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}


