﻿@{ 
    bool isLoginPage = Request.Url.AbsoluteUri.ToLower().Contains("login");
    var memberInfo = FairlyRepair.Utility.Helpers.MemberInfoHelper.GetMemberInfo();
}
<!DOCTYPE HTML>
<html>
<head>
    <title>菲力工業報修申請</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/Content/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/Content/assets/css/noscript.css" /></noscript>
    <!-- Font Awesome -->
    <link href="~/Content/AdminLTE-2.4.5/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--顯示訊息-->
    <link href="~/Content/Admin/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Content/Admin/custom.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        @RenderSection("intro", required: false)

        <!-- Header -->
        <header id="header">
            <a href="@Url.Action("Index", "Home")" class="logo">Fairlybike 報修申請</a>
        </header>

        @if (!isLoginPage)
        {
        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                @RenderSection("menu", required: false)
                @*<li class="active"><a href="#">全廠報修</a></li>
                <li><a href="@Url.Action("Index", "Spray")">噴塗系統報修</a></li>*@
            </ul>
            @if (memberInfo != null)
            {
                FairlyRepair.Repositories.T8Repositories.PersonRepository personRepository = new FairlyRepair.Repositories.T8Repositories.PersonRepository(new FairlyRepair.Models.T8ERPEntities());
                var personInfo = personRepository.GetPersonQuery("", memberInfo.Account).FirstOrDefault();
                if (personInfo != null)
                {
                <ul class="icons">
                    <li><span href="" class="fa fa-user-circle"><span class="label"> 【@personInfo.DepartmentStr】 @memberInfo.Name</span></span></li>
                    <li><a href="@Url.Action("Logout", "Auth")" class="fa fa-sign-out"><span class="label">登出</span></a></li>
                    @*<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>*@
                </ul>
                }
            }
        </nav>
        }

        @RenderBody()

        <!-- Footer -->
        <footer id="footer">
            @*<section>
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="3"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" /></li>
                    </ul>
                </form>
            </section>*@
            @*<section class="split contact">
                <section class="alt">
                    <h3>Address</h3>
                    <p>
                        1234 Somewhere Road #87257<br />
                        Nashville, TN 00000-0000
                    </p>
                </section>
                <section>
                    <h3>Phone</h3>
                    <p><a href="#">(000) 000-0000</a></p>
                </section>
                <section>
                    <h3>Email</h3>
                    <p><a href="#">info@untitled.tld</a></p>
                </section>
                <section>
                    <h3>Social</h3>
                    <ul class="icons alt">
                        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                    </ul>
                </section>
            </section>*@
        </footer>

        <!-- Copyright -->
        <div id="copyright">
            <ul>
                <li>&copy; Fairlybike Seelen</li>
                <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                <li><a href="@Url.Action("AddGroup", "Api")">LineNotify</a></li>
            </ul>
            <div>
                <img src="~/Content/images/fairly.jpg" style="width:300px; margin-top:10px;" />
            </div>

        </div>

    </div>

    <!-- Scripts -->
    <script src="/Content/assets/js/jquery.min.js"></script>
    <script src="/Content/assets/js/jquery.scrollex.min.js"></script>
    <script src="/Content/assets/js/jquery.scrolly.min.js"></script>
    <script src="/Content/assets/js/browser.min.js"></script>
    <script src="/Content/assets/js/breakpoints.min.js"></script>
    <script src="/Content/assets/js/util.js"></script>
    <script src="/Content/assets/js/main.js"></script>
    <!--顯示訊息-->
    <script src="~/Scripts/Admin/toastr/toastr.min.js"></script>
    @RenderSection("scripts", required: false)
    @Html.Partial("_PromptNotification")
</body>
</html>
