﻿@model FairlyRepair.Areas.Admin.ViewModels.RepairRecord.RepairRecordView
@{
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增紀錄" : "查看紀錄";
}

@section styles
{
    <style>
        .bootstrap-tagsinput {
            width: 100% !important;
            margin-top: 5px !important;
            padding-bottom: 8px !important;
        }
    </style>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        維修紀錄管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "RepairRecordAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.RepairID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Creater)
                                        @Html.TextBoxFor(model => model.CreaterName, new { @class = "form-control", @readonly = "true" })
                                        @Html.HiddenFor(model => model.Creater)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CreateDate)
                                        @Html.TextBoxFor(model => model.CreateDate, new { @class = "form-control", @readonly = "true" })
                                        @Html.HiddenFor(model => model.CreateDate)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MaintStatus)
                                        @Html.DropDownListFor(model => model.MaintStatus, Model.MaintStatusOptions, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MaintStatus, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description)
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Fee)
                                        @Html.HiddenFor(model => model.Fee)

                                        @*<table class="table table-bordered table-hover dataTable">
                                            <thead>
                                                <tr>
                                                    <th width="20%" style="width: 50px;">項目</th>
                                                    <th width="10%">金額</th>
                                                    <th width="20%">描述(可略)</th>
                                                    <th width="40%">標籤(可略)</th>
                                                    <th width="10%"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="fee_table">
                                                @if (Model.FeeList != null && Model.FeeList.Count() > 0)
                                                {
                                                    for (int i = 0; i < Model.FeeList.Count(); i++)
                                                    {
                                                        var item = Model.FeeList[i];
                                                        int num = i + 1;
                                                        <tr class="fee_row" id="rrf_@num">
                                                            <td><input type="text" class="form-control fee_title" value="@item.Title" style="width: 100%;" /></td>
                                                            <td><input type="number" class="form-control fee_fee" value="@item.Fee" /></td>
                                                            <td><input type="text" class="form-control fee_desc" value="@item.Description" /></td>
                                                            <td>
                                                                <input class="form-control js-approval js_tags" style="width: 50%; display: inline; background-color: #f5fbff; " id="jsTags_@num" />
                                                                <input type="hidden" class="new_tag" id="newTag_@num" />
                                                                <input type="button" class="btn btn-success bg-olive add_tag" value="加入標籤" id='addTag_@num'>
                                                                <input type="text" data-role="tagsinput" class="js-approval form-control" id="tagsValue_@num" style=" width: 100% !important; margin-top: 5px !important; padding-bottom: 8px !important;" value="@item.Tags" />
                                                            </td>
                                                            <td>
                                                                <input type="button" class="btn btn-danger del_fee" value=" ✘ 移除" style="font-weight:bold;" />
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>*@

                                        <div id="fee_area">
                                            @if (Model.FeeList != null && Model.FeeList.Count() > 0)
                                            {
                                                for (int i = 0; i < Model.FeeList.Count(); i++)
                                                {
                                                    var item = Model.FeeList[i];
                                                    int num = i + 1;
                                                    <div style="border: 1px lightgray solid; border-radius: 5px; padding: 10px;margin-bottom: 10px;" class="fee_row" id="rrf_@num">
                                                        <input type="button" class="btn btn-danger del_fee" data-id="@num" value=" ✘ 移除" style="font-weight:bold;" />
                                                        <div style="margin-bottom: 8px;">
                                                            <label>項目</label>
                                                            <input type="text" class="form-control fee_title" value="@item.Title" style="width: 100%;" />
                                                        </div>
                                                        <div style="margin-bottom: 8px;">
                                                            <label>金額</label>
                                                            <input type="number" class="form-control fee_fee" value="@item.Fee" />
                                                        </div>
                                                        <div style="margin-bottom: 8px;">
                                                            <label>描述(可略)</label>
                                                            <input type="text" class="form-control fee_desc" value="@item.Description" />
                                                        </div>
                                                        <div style="margin-bottom: 8px;">
                                                            <label>標籤(可略)</label>
                                                            <input class="form-control js-approval js_tags" style="width: 50%; display: inline; background-color: #f5fbff; " id="jsTags_@num" />
                                                            <input type="hidden" class="new_tag" id="newTag_@num" />
                                                            <input type="button" class="btn btn-success bg-olive add_tag" value="加入標籤" id='addTag_@num'>
                                                            <input type="text" data-role="tagsinput" class="js-approval form-control" id="tagsValue_@num" style=" width: 100% !important; margin-top: 5px !important; padding-bottom: 8px !important;" value="@item.Tags" />
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>

                                        @{
                                            int feeCount = 0;
                                            if (Model.FeeList != null && Model.FeeList.Count() > 0)
                                            {
                                                feeCount = Model.FeeList.Count();
                                            }
                                        }
                                        <input type="hidden" id="fee_count" value="@feeCount" />
                                        @Html.HiddenFor(model => model.JsonFee)

                                        @*<label>總額</label>
                                            <label id="total_fee" class="text text-primary" style="font-size:26px;"> $100</label>*@
                                        <input type="button" class="btn btn-success add_fee" value=" ✚ 新增費用項目" style="font-weight: bold;" />
                                        @*@Html.TextBoxFor(model => model.Fee, new { @class = "form-control", @type = "number" })*@
                                    </div>
                                    <br />

                                    <div class="form-group">
                                        @if (Model.ID == 0)
                                        {
                                            @Html.LabelFor(model => model.ReceiptPics)
                                            @Html.TextBoxFor(model => model.ReceiptPicsFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/x-png,image/jpeg", @style = "height: 100% !important;" })
                                            @*<input type="file" id="pics" name="pics" accept="image/x-png,image/jpeg" multiple>*@
                                            <code>請上傳總和不超過10MB的檔案</code>
                                            @Html.ValidationMessageFor(model => model.ReceiptPics, "", new { @class = "text-danger" })
                                        }
                                        @if (Model.ReceiptPicList != null && Model.ReceiptPicList.Count() > 0)
                                        {
                                            foreach (var item in Model.ReceiptPicList)
                                            {
                                                if (item.Pics.Contains(".mp4"))
                                                {
                                                    <video width="60%" preload="auto" controls="autoplay">
                                                        <source src="~/FileUploads/RepairRecordPhoto/@item.Pics" type="video/mp4">
                                                    </video>
                                                }
                                                else if (item.Pics.Contains(".mp4"))
                                                {
                                                    <iframe src="~/FileUploads/RepairRecordPhoto/@item.Pics" width="60%"></iframe>
                                                }
                                                else
                                                {
                                                    <img src="~/FileUploads/RepairRecordPhoto/@item.Pics" class="img-thumbnail" style="width:400px" />
                                                }

                                                @Html.ActionLink("刪除檔案", "DeleteReceiptPic", "RepairRecordAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                                <br />
                                            }
                                        }

                                    </div>

                                    <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                        @Html.CheckBoxFor(model => model.IsSolved, new { @class = "form-check-input" })
                                        <div class="state p-success">
                                            @Html.LabelFor(model => model.IsSolved, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @if (Model.ID == 0)
                                        {
                                            @Html.LabelFor(model => model.Pics)
                                            @Html.TextBoxFor(model => model.PicsFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/x-png,image/jpeg", @style = "height: 100% !important;" })
                                            @*<input type="file" id="pics" name="pics" accept="image/x-png,image/jpeg" multiple>*@
                                            <code>請上傳總和不超過10MB的檔案</code>
                                            @Html.ValidationMessageFor(model => model.Pics, "", new { @class = "text-danger" })
                                        }
                                        @if (Model.PicList != null && Model.PicList.Count() > 0)
                                        {
                                            foreach (var item in Model.PicList)
                                            {
                                                if (item.Pics.Contains(".mp4"))
                                                {
                                                    <video width="60%" preload="auto" controls="autoplay">
                                                        <source src="~/FileUploads/RepairRecordPhoto/@item.Pics" type="video/mp4">
                                                    </video>
                                                }
                                                else if (item.Pics.Contains(".mp4"))
                                                {
                                                    <iframe src="~/FileUploads/RepairRecordPhoto/@item.Pics" width="60%"></iframe>
                                                }
                                                else
                                                {
                                                    <img src="~/FileUploads/RepairRecordPhoto/@item.Pics" class="img-thumbnail" style="width:400px" />
                                                }

                                                @Html.ActionLink("刪除檔案", "DeletePic", "RepairRecordAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                                <br />
                                            }
                                        }

                                    </div>

                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        @if ((Model.ID != 0 && (adminInfo.Type == (int)FairlyRepair.Models.AdminType.Dispatcher || adminInfo.ID == Model.Creater)) || Model.ID == 0)
                        {
                            <button id="SaveBtn" type="button" class="btn btn-primary">儲存</button>
                        }

                        @Html.ActionLink("取消/回列表", "Index", new { RepairID = Model.RepairID }, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <!--autocomplete-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(function () {
            SetTags();

            var existFeeCount = $('#fee_count').val();
            $('.add_fee').on('click', function () {
                existFeeCount = parseInt(existFeeCount) + 1;
                //var feeIHtml = `<tr class="fee_row" id="rrf_${existFeeCount}">
                //                            <td><input type="text" class="form-control fee_title" /></td>
                //                            <td><input type="number" class="form-control fee_fee" /></td>
                //                            <td><input type="text" class="form-control fee_desc" /></td>
                //                            <td>
                //                                <input class = "form-control js-approval js_tags" style = "width: 50%; display:inline; background-color:#f5fbff; " id = "jsTags_${existFeeCount}"/>
                //                                <input type="hidden" class="new_tag" id="newTag_${existFeeCount}"/>
                //                                <input type="button" class="btn btn-success bg-olive add_tag" value="加入標籤" id='addTag_${existFeeCount}'>
                //                                <input type="text" data-role="tagsinput" class="js-approval form-control" id="tagsValue_${existFeeCount}" style=" width: 100% !important; margin-top: 5px !important; padding-bottom: 8px !important;"/>
                //                            </td>
                //                            <td>
                //                                <input type="button" class="btn btn-danger del_fee" value=" ✘ 移除" style="font-weight:bold;" />
                //                            </td>
                //                        </tr>`;
                var feeIHtml = `   <div style="border: 1px lightgray solid; border-radius: 5px; padding: 10px;margin-bottom: 10px;" class="fee_row" id="rrf_${existFeeCount}">
                                            <input type="button" class="btn btn-danger del_fee" data-id="${existFeeCount}" value=" ✘ 移除" style="font-weight:bold;" />
                                            <div style="margin-bottom: 8px;">
                                                <label>項目</label>
                                                <input type="text" class="form-control fee_title" style="width: 100%;" />
                                            </div>
                                            <div style="margin-bottom: 8px;">
                                                <label>金額</label>
                                                <input type="number" class="form-control fee_fee" />
                                            </div>
                                            <div style="margin-bottom: 8px;">
                                                <label>描述(可略)</label>
                                                <input type="text" class="form-control fee_desc" />
                                            </div>
                                            <div style="margin-bottom: 8px;">
                                                <label>標籤(可略)</label>
                                                <input class="form-control js-approval js_tags" style="width: 50%; display: inline; background-color: #f5fbff; " id="jsTags_${existFeeCount}" />
                                                <input type="hidden" class="new_tag" id="newTag_${existFeeCount}" />
                                                <input type="button" class="btn btn-success bg-olive add_tag" value="加入標籤" id='addTag_${existFeeCount}'>
                                                <input type="text" data-role="tagsinput" class="js-approval form-control" id="tagsValue_${existFeeCount}" style=" width: 100% !important; margin-top: 5px !important; padding-bottom: 8px !important;"/>
                                            </div>
                                        </div>`;
                $('#fee_area').append(feeIHtml);
                $('#fee_count').val(existFeeCount);

                SetTags();
            });

            function SetTags()
            {
                $(".fee_row").each(function () {
                    var Id = $(this).attr('id').split('_')[1];
                    var $selectedTag = $('#tagsValue_' + Id);
                    var remove;
                    $selectedTag.tagsinput('add', '');
                    //Tags
                    $selectedTag.on('itemAdded', function (event) {
                        if (remove) {
                            $selectedTag.tagsinput('remove', remove);
                            remove = '';
                        }
                    });
                    $('#addTag_' + Id).on('click', function () {
                        var tagvalue = $('#jsTags_' + Id).val() || $('#newTag_' + Id).val();
                        if (!tagvalue) {
                            return;
                        }
                        $selectedTag.tagsinput('add', tagvalue);
                        $('#newTag_' + Id).text('');
                        $('#newTag_' + Id).val('');
                        $('#jsTags_' + Id).val('');
                    });

                    //autocomplete
                    $('#jsTags_' + Id).on("focus", function () {
                        $(this).autocomplete({
                            select: function (event, ui) {
                                var tagval = ui.item.value;
                                $('#newTag_' + Id).text(tagval);
                                $('#newTag_' + Id).val(tagval);
                            },
                            source: function (request, response) {
                                $.ajax({
                                    url: "@Url.Action("GetTags", "BaseAdmin")",
                                    type: 'POST',
                                    dataType: "json",
                                    data: {
                                        key: request.term
                                    },
                                    success: function (data) {
                                        response($.map(data, function (item) {
                                            return {
                                                label: item.label,      //自動完成列表的顯示文字
                                                value: item.value,     //如果jSon字串中有value的值
                                            }
                                        }));

                                    }
                                });
                            },
                            minLength: 1,
                        });
                    })
                });

                $('.del_fee').each(function () {
                    $(this).on('click', function () {
                        if (confirm('確定要移除此費用項目嗎?')) {
                            var thisId = $(this).data('id');
                            $('#rrf_' + thisId).remove();
                        }
                    });
                })
            }

            function checkFeeData() {
                var isvalidate = true;
                var jsonObj = [];
                var alertStr = '';
                $('.fee_row').each(function () {
                    var Id = $(this).attr('id').split('_')[1];
                    var title = $(this).find('.fee_title').val();
                    var desc = $(this).find('.fee_desc').val();
                    var fee = $(this).find('.fee_fee').val();
                    var tags = $('#tagsValue_' + Id).val();
                    if (title == '') {
                        alertStr += ' 項目 ';
                        isvalidate = false;
                    }
                    if (fee == '') {
                        alertStr += ' 金額 ';
                        isvalidate = false;
                    }

                    if (!isvalidate) {
                        alert('費用【' + alertStr + '】不可空白 !');
                        return false;
                    }

                    var item = {}
                    item["Title"] = title;
                    item["Description"] = desc;
                    item["Fee"] = fee;
                    item["Tags"] = tags;

                    jsonObj.push(item);
                });
                $('#JsonFee').val(JSON.stringify(jsonObj));

                if (isvalidate) {
                    $('#EditForm').submit();
                }
            }

            $('#SaveBtn').on('click', function () {
                checkFeeData();
            });
        })
    </script>
}
