﻿@model FairlyRepair.Areas.Admin.ViewModels.RepairRecord.RepairRecordIndexView

@{ 
    var RepairInfo = Model.RepairInfo;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        維修紀錄管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">報修單資訊</h3>
                    @*@Html.ActionLink("返回報修單", "Edit", "RepairAdmin", new { id = Model.RepairID }, new { @class = "btn btn-default" })*@
                    <a href="@Url.Action("Edit", "RepairAdmin", new { id = Model.RepairID })" class="btn btn-default">
                        <i class="fa fa-arrow-circle-o-left"></i>
                        <span>返回報修單</span>
                    </a>
                </div>
                <div class="box-body">

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.RepairInfo.DeviceType)
                            @Html.TextBoxFor(model => model.RepairInfo.DeviceTypeName, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.RepairInfo.ID)
                            @Html.TextBoxFor(model => model.RepairInfo.ID, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.RepairInfo.DeptID)
                            @Html.TextBoxFor(model => model.RepairInfo.DepartmentTitle, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.RepairInfo.FactoryID)
                            @Html.TextBoxFor(model => model.RepairInfo.FactoryTitle, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.RepairInfo.DeviceID)
                            @Html.TextBoxFor(model => model.RepairInfo.DeviceName, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    @if (Model.RepairInfo.DeviceType == 3)
                    {
                        <div class="form-group">
                            <div class="col-sm-6">
                                @Html.LabelFor(model => model.RepairInfo.DeviceItem)
                                @Html.TextBoxFor(model => model.RepairInfo.DeviceItemName, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.LabelFor(model => model.RepairInfo.Description)
                            @Html.TextAreaFor(model => model.RepairInfo.Description, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">照片
                        <span class="pull-right-container">
                            <span class="label label-danger pull-right">@Model.RepairInfo.PicList.Count()</span>
                        </span>
                    </h3>
                    
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div><!-- /.box-tools -->
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            @if (Model.RepairInfo.PicList != null && Model.RepairInfo.PicList.Count() > 0)
                            {
                                foreach (var item in Model.RepairInfo.PicList)
                                {
                                    <img src="~/FileUploads/RepairPhoto/@item.Pics" class="img-thumbnail" style="width:400px" />
                                    <br />
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">維修紀錄列表</h3>
                    @*@Html.ActionLink("新增維修紀錄", "Edit", "RepairRecordAdmin", new { RepairID = Model.RepairID }, new { @class = "btn btn-primary" })*@
                    <a href="@Url.Action("Edit", "RepairRecordAdmin", new { RepairID = Model.RepairID })" class="btn btn-primary">
                        <i class="fa fa-plus-square"></i>
                        <span>新增維修紀錄</span>
                    </a>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th data-sorting="Creater">
                                                @Html.DisplayNameFor(x => x.Creater)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.MaintStatus)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsSolved)
                                            </th>
                                            <th data-sorting="CreateDate">
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.CreaterName
                                                </td>
                                                <td>
                                                    @Model.MaintStatusOptions.Where(q => q.Value == item.MaintStatus.ToString()).FirstOrDefault().Text
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.IsSolved, "_UseStatus")
                                                    <div>--------</div>
                                                    費用 : <label class="label label-primary">$@item.Fee</label>
                                                </td>
                                                <td>
                                                    @item.CreateDate.ToString("yyyy/MM/dd HH:mm")
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "RepairRecordAdmin", new { id = item.ID })" class="btn btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                        <span>查看</span>
                                                    </a>
                                                    @*@Html.ActionLink("查看", "Edit", "RepairRecordAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th data-sorting="Creater">
                                                @Html.DisplayNameFor(x => x.Creater)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.MaintStatus)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsSolved)
                                            </th>
                                            <th data-sorting="CreateDate">
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}


