﻿@model FairlyRepair.Areas.Admin.ViewModels.EightD.EightDView
@{
    ViewBag.Title = "Edit";
    string editType = Model.ID == 0 ? "新增" : "編輯";
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    string emptySignature = "0001.jpg";
}

<section class="content-header">
    <h1>
        8D管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Index", "EightDAdmin")">8D列表</a></li>
        <li class="active">8D管理</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@editType</h3>
                    @if (Model.IsAudit && adminInfo.Account == Model.CreaterId)
                    {
                        @Html.ActionLink("取消審核/重新編輯", "Edit", "EightDAdmin", new { id = Model.ID, isNew = true }, new { @class = "btn btn-default bg-maroon", onclick = "return confirm('點擊後資料將須重新審核，確定要重新編輯嗎?');" })
                    }
                </div>
                @using (Html.BeginForm("Edit", "EightDAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.FinishDate)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.CreaterId)
                    @Html.HiddenFor(model => model.SerialNumber)
                    @Html.HiddenFor(model => model.IsAudit)
                    @Html.HiddenFor(model => model.IsRevoke)
                    <div class="box-body">
                        @if (Model.IsAudit)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title)
                                <input class="form-control" value="@Model.Title" disabled />
                                @Html.HiddenFor(model => model.Title)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Depts)
                                <input class="form-control" value="@Model.Depts" disabled />
                                @Html.HiddenFor(model => model.Depts)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Customer)
                                @Html.DropDownListFor(model => model.Customer, Model.CustomerOptions, new { @class = "form-control", @disabled = "true" })
                                @Html.HiddenFor(model => model.Customer)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Category)
                                @Html.DropDownListFor(model => model.Category, Model.CategoryOptions, new { @class = "form-control", @disabled = "true" })
                                @Html.HiddenFor(model => model.Category)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReportFile)
                                <br />
                                @Html.TextBoxFor(model => model.FilesFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/*,.pdf,.mp4", @style = "height: 100% !important;" })
                                @*<input type="file" id="pics" name="pics" accept="image/x-png,image/jpeg" multiple>*@
                                <code>請上傳總和不超過10MB的檔案</code>
                                <br />
                                @Html.ValidationMessageFor(model => model.Files, "", new { @class = "text-danger" })
                                @if (Model.FilesList != null && Model.FilesList.Count() > 0)
                                {
                                    foreach (var item in Model.FilesList)
                                    {
                                        if (item.Files.Contains(".mp4"))
                                        {
                                            <video width="60%" preload="auto" controls="autoplay">
                                                <source src="~/FileUploads/EightDPhoto/@item.Files" type="video/mp4">
                                            </video>
                                        }
                                        else if (item.Files.Contains(".pdf"))
                                        {
                                            <embed src="~/FileUploads/EightDPhoto/@item.Files" width="800px" height="2100px" />
                                        }
                                        else if (item.Files.Contains(".mp4"))
                                        {
                                            <iframe src="~/FileUploads/EightDPhoto/@item.Files" width="60%"></iframe>
                                        }
                                        else
                                        {
                                            <img src="~/FileUploads/EightDPhoto/@item.Files" class="img-thumbnail" style="width:400px" />
                                        }

                                        @Html.ActionLink("刪除檔案", "DeleteFile", "EightDAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                        <br />
                                    }
                                }
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Fee)
                                <input class="form-control" value="@Model.Fee" type="number" disabled />
                                @Html.HiddenFor(model => model.Fee)
                            </div>
                            if (Model.PresidentAudit > (int)FairlyRepair.Models.FormAudit.Processing)
                            {
                                @Html.LabelFor(model => model.IsFinished, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                @*@Html.DisplayFor(model => model.IsFinished, "_ApprovalStatus")*@
                                if (Model.FinishDate != null && Model.FinishDate > Convert.ToDateTime("2000/01/01"))
                                {
                                    <span class="label lable-default bg-olive">已結案 (@Convert.ToDateTime(Model.FinishDate).ToString("yyyy/MM/dd HH:mm"))</span>
                                }
                                else
                                {
                                    <span class="label lable-default">尚未結案</span>
                                }
                                @Html.HiddenFor(model => model.IsFinished)
                            }
                            else
                            {
                                <div class="form-group">
                                    <div class="pretty p-switch p-fill" style="margin-bottom: 10px;">
                                        @Html.CheckBoxFor(model => model.IsFinished, new { @class = "form-check-input" })
                                        <div class="state p-success">
                                            @Html.LabelFor(model => model.IsFinished, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title)
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Depts)<br />
                                @foreach (var item in Model.DeptOptions)
                                {
                                    <div class="js-signer-Dept btn btn-outline-info" id="dept_@item.Value" style="margin: 2px 5px; background-color: #fff; color: #89654f; border: 2px #a97d63 solid; ">@item.Text</div>
                                }
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Depts, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-dept" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Customer)<br />
                                @Html.DropDownListFor(model => model.Customer, Model.CustomerOptions, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Category)<br />
                                @Html.DropDownListFor(model => model.Category, Model.CategoryOptions, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.ReportFile)
                                <code>請上傳總和不超過10MB的檔案</code><br />
                                @Html.TextBoxFor(model => model.ReportFilePost, "", new { @class = "form-control", @type = "file", @accept = "image/x-png,image/jpeg,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf", @style = "height: 100% !important;" })

                                @if (!string.IsNullOrEmpty(Model.ReportFile))
                                {
                                    @Html.HiddenFor(model => model.ReportFile)
                                    <div style="margin:5px;">
                                        <a target="_blank" class="btn btn-info" href="~/FileUploads/EightDPhoto/@Model.ReportFile">@Model.ReportFile</a>
                                    </div>
                                }*@

                                @Html.LabelFor(model => model.Files)
                                @Html.TextBoxFor(model => model.FilesFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/*,.pdf,.mp4", @style = "height: 100% !important;" })
                                @*<input type="file" id="pics" name="pics" accept="image/x-png,image/jpeg" multiple>*@
                                <code>請上傳總和不超過10MB的檔案</code>
                                @Html.ValidationMessageFor(model => model.Files, "", new { @class = "text-danger" })
                                @if (Model.FilesList != null && Model.FilesList.Count() > 0)
                                {
                                    foreach (var item in Model.FilesList)
                                    {
                                        if (item.Files.Contains(".mp4"))
                                        {
                                            <video width="60%" preload="auto" controls="autoplay">
                                                <source src="~/FileUploads/EightDPhoto/@item.Files" type="video/mp4">
                                            </video>
                                        }
                                        else if (item.Files.Contains(".pdf"))
                                        {
                                            <embed src="~/FileUploads/EightDPhoto/@item.Files" width="800px" height="2100px" />
                                        }
                                        else if (item.Files.Contains(".mp4"))
                                        {
                                            <iframe src="~/FileUploads/EightDPhoto/@item.Files" width="60%"></iframe>
                                        }
                                        else
                                        {
                                            <img src="~/FileUploads/EightDPhoto/@item.Files" class="img-thumbnail" style="width:400px" />
                                        }

                                        @Html.ActionLink("刪除檔案", "DeleteFile", "EightDAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                        <br />
                                    }
                                }
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Fee)
                                @Html.TextBoxFor(model => model.Fee, new { @class = "form-control", @type = "number" })
                            </div>
                            <div class="pretty p-switch p-fill" style="margin-bottom: 10px;">
                                @Html.CheckBoxFor(model => model.IsFinished, new { @class = "form-check-input" })
                                <div class="state p-success">
                                    @Html.LabelFor(model => model.IsFinished, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                </div>
                            </div>
                        }
                        <hr style="border-radius: 50%; border: 2px solid #ffc107;" />
                        <p class="label label-warning" style="font-size: 16px;">簽核</p>
                        @*@if (adminInfo.Account == Model.CreaterId)
                            {//承辦人

                            }*@
                        <div class="form-group">
                            <div class="col-sm-12">
                                <hr align="center" width="100%" class="hr_split">
                            </div>
                        </div>

                        @if (Model.AuditLevelInfo != null)
                        {
                            if (adminInfo.AccountType == (int)FairlyRepair.Models.MeetAdminType.Manager && Model.ManagerAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ManagerReview)
                            {//主管
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        @Html.LabelFor(model => model.ManagerAudit)
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.ManagerAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                        </div>
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.ManagerAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                        </div>
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.ManagerAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.ManagerRemark)
                                        @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.ManagerAuditDate)
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.ManagerAudit)
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                        @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.ManagerRemark)
                                @Html.HiddenFor(model => model.ManagerAuditDate)
                            }

                            if (adminInfo.AccountType == (int)FairlyRepair.Models.MeetAdminType.Vice && Model.ViceAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ViceReview)
                            {//副總
                                <div class="form-group">

                                    <div class="col-sm-3">
                                        @Html.LabelFor(model => model.ViceAudit)
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.ViceAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                        </div>
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.ViceAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                        </div>
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.ViceAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.ViceRemark)
                                        @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.ViceAuditDate)
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.ViceAudit)
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.ViceRemark, new { @class = "label label-default bg-orange" })
                                        @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.ViceRemark)
                                @Html.HiddenFor(model => model.ViceAuditDate)
                            }

                            if (adminInfo.AccountType == (int)FairlyRepair.Models.MeetAdminType.President && Model.PresidentAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PresidentReview)
                            {//總經理
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        @Html.LabelFor(model => model.PresidentAudit)
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.PresidentAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                        </div>
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.PresidentAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                        </div>
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.PresidentAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.PresidentRemark)
                                        @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.PresidentAuditDate)
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.PresidentAudit)
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.PresidentRemark, new { @class = "label label-default bg-orange" })
                                        @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.PresidentRemark)
                                @Html.HiddenFor(model => model.PresidentAuditDate)
                            }
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.ManagerAudit)
                            <div class="form-group">
                                <div class="col-sm-10">
                                    @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                    @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.ManagerRemark)
                            @Html.HiddenFor(model => model.ManagerAuditDate)
                            @Html.HiddenFor(model => model.ViceAudit)
                            <div class="form-group">
                                <div class="col-sm-10">
                                    @Html.LabelFor(model => model.ViceRemark, new { @class = "label label-default bg-orange" })
                                    @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.ViceRemark)
                            @Html.HiddenFor(model => model.ViceAuditDate)
                            @Html.HiddenFor(model => model.PresidentAudit)
                            <div class="form-group">
                                <div class="col-sm-10">
                                    @Html.LabelFor(model => model.PresidentRemark, new { @class = "label label-default bg-orange" })
                                    @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.PresidentRemark)
                            @Html.HiddenFor(model => model.PresidentAuditDate)
                        }


                        <div class="form-group">
                            <div class="col-sm-12">
                                <hr align="center" width="100%" class="hr_split" style="border-color: yellowgreen; border-style: double;">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="signature_area">
                                <label class="label label-default bg-maroon">承辦人簽章</label>
                                @if (!string.IsNullOrEmpty(Model.OfficerSignature))
                                {
                                    @Html.DisplayFor(model => Model.OfficerAudit, "_ApprovalStatus")
                                }
                                <div style="position: relative; width: 170px">
                                    @if (Model.OfficerAudit > (int)FairlyRepair.Models.FormAudit.Processing)
                                    {
                                        if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.OfficerSignature)))
                                        {
                                            Model.OfficerSignature = emptySignature;
                                        }
                                        <img class="signature_img" src="~/Content/Signature/@Model.OfficerSignature" style=" width: 160px; height: 160px;" />
                                        if (Model.OfficerSignature == emptySignature)
                                        {
                                            if (Model.OfficerDeptId == emptySignature)
                                            {
                                                <p class="signature_dept signature_dept_officer">菲力工業</p>
                                            }
                                            else
                                            {
                                                <p class="signature_dept signature_dept_officer">@Model.OfficerDeptName</p>
                                            }
                                            <p class="signature_name signature_name_officer">@Model.OfficerName</p>
                                        }
                                        @*else if (Model.OfficerSignature == "0000.jpg")
                                            {
                                                <p class="signature_dept signature_dept_officer">菲力工業</p>
                                                <p class="signature_name signature_name_officer">管理員</p>
                                            }*@
                                        <p class="signature_date signature_date_officer">@Model.OfficerAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                    }
                                    else
                                    {
                                        <label class="text text-danger no_signature">無簽章</label>
                                    }
                                </div>
                                @Html.HiddenFor(model => model.OfficerSignature)
                                @Html.HiddenFor(model => model.OfficerRemark)
                                @Html.HiddenFor(model => model.OfficerAuditDate)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="signature_area">
                                <label class="label label-default bg-maroon">主管簽章</label>
                                @if (!string.IsNullOrEmpty(Model.ManagerSignature))
                                {
                                    @Html.DisplayFor(model => Model.ManagerAudit, "_ApprovalStatus")
                                }

                                <div style="position: relative; width: 170px">
                                    @if (Model.ManagerAudit > (int)FairlyRepair.Models.FormAudit.Processing)
                                    {
                                        if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.ManagerSignature)))
                                        {
                                            Model.ManagerSignature = emptySignature;
                                        }
                                        <img class="signature_img" src="~/Content/Signature/@Model.ManagerSignature" style=" width: 160px; height: 160px;" />
                                        if (Model.ManagerSignature == emptySignature)
                                        {
                                            if (Model.OfficerDeptId == emptySignature)
                                            {
                                                <p class="signature_dept signature_dept_manager">菲力工業</p>
                                            }
                                            else
                                            {
                                                <p class="signature_dept signature_dept_manager">@Model.ManagerDeptName</p>
                                            }
                                            <p class="signature_name signature_name_manager">@Model.ManagerName</p>
                                        }
                                        @*else if (Model.ManagerSignature == "0000.jpg")
                                            {
                                                <p class="signature_dept signature_dept_manager">菲力工業</p>
                                                <p class="signature_name signature_name_manager">管理員</p>
                                            }*@
                                        <p class="signature_date signature_date_manager">@Model.ManagerAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                    }
                                    else
                                    {
                                        <label class="text text-danger no_signature">無簽章</label>
                                    }
                                </div>
                                @Html.HiddenFor(model => model.ManagerSignature)
                                @Html.HiddenFor(model => model.ManagerRemark)
                                @Html.HiddenFor(model => model.ManagerAuditDate)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="signature_area">
                                <label class="label label-default bg-maroon">副總簽章</label>
                                @if (!string.IsNullOrEmpty(Model.ViceSignature))
                                {
                                    @Html.DisplayFor(model => Model.ViceAudit, "_ApprovalStatus")
                                }

                                <div style="position: relative; width: 170px">
                                    @if (Model.ViceAudit > (int)FairlyRepair.Models.FormAudit.Processing)
                                    {
                                        if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.ViceSignature)))
                                        {
                                            Model.ViceSignature = emptySignature;
                                        }
                                        <img class="signature_img" src="~/Content/Signature/@Model.ViceSignature" style=" width: 160px; height: 160px;" />
                                        if (Model.ViceSignature == emptySignature)
                                        {
                                            <p class="signature_dept signature_dept_vice">@Model.ViceDeptName</p>
                                            <p class="signature_name signature_name_vice">@Model.ViceName</p>
                                        }
                                        @*else if (Model.ViceSignature == "0000.jpg")
                                            {
                                                <p class="signature_dept signature_dept_vice">菲力工業</p>
                                                <p class="signature_name signature_name_vice">管理員</p>
                                            }*@
                                        <p class="signature_date signature_date_vice">@Model.ViceAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                    }
                                    else
                                    {
                                        <label class="text text-danger no_signature">無簽章</label>
                                    }
                                </div>
                                @Html.HiddenFor(model => model.ViceSignature)
                                @Html.HiddenFor(model => model.ViceRemark)
                                @Html.HiddenFor(model => model.ViceAuditDate)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="signature_area">
                                <label class="label label-default bg-maroon">總經理簽章</label>
                                @if (!string.IsNullOrEmpty(Model.PresidentSignature))
                                {
                                    @Html.DisplayFor(model => Model.PresidentAudit, "_ApprovalStatus")
                                }

                                <div style="position: relative; width:170px">
                                    @if (Model.PresidentAudit > (int)FairlyRepair.Models.FormAudit.Processing)
                                    {
                                        if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.PresidentSignature)))
                                        {
                                            Model.PresidentSignature = emptySignature;
                                        }
                                        <img class="signature_img" src="~/Content/Signature/@Model.PresidentSignature" style=" width: 160px; height: 160px;" />
                                        if (Model.PresidentSignature == emptySignature)
                                        {
                                            <p class="signature_dept signature_dept_president">@Model.PresidentDeptName</p>
                                            <p class="signature_name signature_name_president">@Model.PresidentName</p>
                                        }
                                        @*else if (Model.PresidentSignature == "0000.jpg")
                                            {
                                                <p class="signature_dept signature_dept_president">菲力工業</p>
                                                <p class="signature_name signature_name_president">管理員</p>
                                            }*@
                                        <p class="signature_date signature_date_president">@Model.PresidentAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                    }
                                    else
                                    {
                                        <label class="text text-danger no_signature">無簽章</label>
                                    }
                                </div>
                                @Html.HiddenFor(model => model.PresidentSignature)
                                @Html.HiddenFor(model => model.PresidentRemark)
                                @Html.HiddenFor(model => model.PresidentAuditDate)
                            </div>
                        </div>

                    </div>
                    <div class="box-footer">

                        @if (Model.CreaterId == adminInfo.Account || Model.ID == 0)
                        {
                            <button type="submit" class="btn btn-primary">儲存</button>
                            if (!Model.IsAudit)
                            {
                                <button id="SendCreateAudit" class="btn btn-warning">送審</button>
                            }
                        }
                        else if (adminInfo.AccountType < (int)FairlyRepair.Models.MeetAdminType.Employee && adminInfo.AccountType != (int)FairlyRepair.Models.MeetAdminType.Sysadmin)
                        {
                            <button type="submit" class="btn btn-primary">確認</button>
                        }
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default", @style = "margin-left:3px;" })
                    </div>
                }
            </div>

        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            var $selectedDeptType = $('#Depts');
            var remove;

            //Dept
            $selectedDeptType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('.js-signer-Dept').on('click', function () {
                var id = $(this).val();
                var val = $(this).text();
                $selectedDeptType.tagsinput('add', val);
            });

            $('#IsFinished').on('change', function () {
                if ($('#IsFinished').is(":checked")) {
                    if (!confirm('確定將報告撤銷結案嗎?')) {
                        $('#IsFinished').prop('checked', true);
                    }
                }
                else {
                    if (!confirm('確定將報告結案嗎?')) {
                        $('#IsFinished').prop('checked', false);
                    }
                }
            })

            $('#SendCreateAudit').on('click', function () {
                var fileName = '@Model.ReportFile';
                var file = document.getElementById("ReportFilePost");
                if ((fileName == null || fileName == '') && file.files.length == 0 ) {
                    alert('報告檔案尚未上傳，請於上傳檔案後再行送審 !');
                    return false;
                }
                if (confirm('確定將資料送審嗎?')) {
                    $('#IsAudit').val(true);
                    $('#EditForm').submit();
                }
            });
        });
    </script>
}
