﻿@model FairlyRepair.Areas.Admin.ViewModels.EightD.EightDIndexView
@{
    ViewBag.Title = "Index";
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}

<section class="content-header">
    <h1>
        8D管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li class="active">8D管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Index", "EightDAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Category)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.Customer, Model.CustomerOptions, "---課別---", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Category, new { @class = "col-sm-2 control-label" })
                            @*<div class="col-sm-10">
                                <div class="input-group input-group-lg">
                                @Html.DropDownListFor(model => model.Category, Model.CategoryOptions, "---類別---", new { @class = "form-control" })
                                </div>
                            </div>*@
                            <div class="col-sm-10">
                                <input type="text" class="form-control" list="CategoryStr">
                                <datalist id="CategoryStr">
                                    @foreach (var item in Model.CategoryOptions.ToList())
                                    {
                                         <option>@item.Text</option>
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Depts, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @foreach (var item in Model.DeptOptions)
                                {
                                    <div class="js-signer-Dept btn btn-outline-info" id="dept_@item.Value" style="margin: 2px 5px; background-color: #fff; color: #89654f; border: 2px #a97d63 solid; ">@item.Text</div>
                                }
                                <br />
                                @Html.TextBoxFor(model => model.Depts, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-dept form-control" } })
                                @*@Html.TextBoxFor(model => model.Depts, new { @class = "form-control" })*@
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsFinished, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.IsFinished, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("新增8D報告", "Edit", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">8D列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(x => x.Title)</th>
                                            <th>@Html.DisplayNameFor(x => x.Customer)</th>
                                            <th>@Html.DisplayNameFor(x => x.Category)</th>
                                            <th>@Html.DisplayNameFor(x => x.Depts)</th>
                                            <th>@Html.DisplayNameFor(x => x.IsFinished)</th>
                                            <th>@Html.DisplayNameFor(x => x.FinishDate)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @if (item.IsInvalid)
                                                    {
                                                        <label class="label label-danger" style="margin-left:3px; margin-top:3px;">已駁回</label>
                                                    }
                                                    else
                                                    {
                                                        if (item.AuditState == (int)FairlyRepair.Models.AuditState.PresidentAudit)
                                                        {
                                                            <label class="label label-success" style="margin-left:3px; margin-top:3px;">已核准</label>
                                                            <br />
                                                        }
                                                        @Html.DisplayFor(model => item.AuditStatus, "_ParticipateStateStatus")
                                                        <br />
                                                    }
                                                    @item.Title
                                                </td>
                                                <td>@item.CustomerOptions.Where(q => q.Value == item.Customer.ToString()).FirstOrDefault().Text</td>
                                                <td>@item.CategoryOptions.Where(q => q.Value == item.Category.ToString()).FirstOrDefault().Text</td>
                                                <td>@item.Depts</td>
                                                <td>@Html.DisplayFor(model => item.IsFinished, "_UseStatus")</td>
                                                <td style="font-weight:bold;">
                                                    @if (item.FinishDate != null)
                                                    {
                                                        <span>@Convert.ToDateTime(item.FinishDate).ToString("yyyy/MM/dd HH:mm")</span>
                                                    }
                                                    else
                                                    {
                                                        <span>尚未結案</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (adminInfo.Account == item.CreaterId || adminInfo.AccountType < (int)FairlyRepair.Models.MeetAdminType.Employee)
                                                    {
                                                        if (adminInfo.Account == item.CreaterId)
                                                        {
                                                            <a href="@Url.Action("Edit", "EightDAdmin", new { id = item.ID })" class="btn btn-info" style="margin-bottom:3px;">
                                                                <i class="fa fa-edit">編輯</i>
                                                            </a>
                                                            <a href="@Url.Action("Delete", "EightDAdmin", new { id = item.ID })" class="btn btn-danger js-delete-confirm">
                                                                <i class="fa fa-trash">刪除</i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@Url.Action("Edit", "EightDAdmin", new { id = item.ID })" class="btn btn-primary" style="margin-bottom:3px;">
                                                                <i class="fa fa-edit">查看</i>
                                                            </a>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>@Html.DisplayNameFor(x => x.Title)</th>
                                            <th>@Html.DisplayNameFor(x => x.Customer)</th>
                                            <th>@Html.DisplayNameFor(x => x.Category)</th>
                                            <th>@Html.DisplayNameFor(x => x.Depts)</th>
                                            <th>@Html.DisplayNameFor(x => x.IsFinished)</th>
                                            <th>@Html.DisplayNameFor(x => x.FinishDate)</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <!--autocomplete-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(function () {
            var $selectedDeptType = $('#Depts');
            var remove;

            //Dept
            $selectedDeptType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('.js-signer-Dept').on('click', function () {
                var id = $(this).val();
                var val = $(this).text();
                $selectedDeptType.tagsinput('add', val);
            });

            //autocomplete
            $('#jsCategory').on("focus", function () {
                $(this).autocomplete({
                    select: function (event, ui) {
                        var tagval = ui.item.value;
                        //$('#newTag_' + Id).text(tagval);
                        //$('#newTag_' + Id).val(tagval);
                    },
                    source: function (request, response) {
                        $.ajax({
                            url: "@Url.Action("GetCategory", "EightDCategoryAdmin")",
                            type: 'POST',
                            dataType: "json",
                            data: {
                                key: request.term
                            },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.label,      //自動完成列表的顯示文字
                                        value: item.value,     //如果jSon字串中有value的值
                                    }
                                }));

                            }
                        });
                    },
                    minLength: 1,
                });
            })
        })
    </script>
}
