﻿@model FairlyRepair.Areas.Admin.ViewModels.EightD.OverViewView
@{
    FairlyRepair.Repositories.T8Repositories.DepartmentRepository t8DepartmentRepository = new FairlyRepair.Repositories.T8Repositories.DepartmentRepository(new FairlyRepair.Models.T8ERPEntities());
}
@section styles
{
    <link href="~/Content/daterangepicker-master/daterangepicker.css" rel="stylesheet" />
    <style>
        input[type=radio] {
            display: none;
        }

        .tag-radio {
            background-color: white;
            color: #ab816b;
            border-color: #ab816b;
            border-width: 1px;
            border-radius: 0.5rem;
            border: solid 2px;
            font-size: 13px;
            padding: 5px 6px;
            margin: 5px;
        }

        input[type=radio] + span {
            display: inline-block;
            background-color: white;
            padding: 1px 1px;
            border: solid 2px;
            color: #8d6d5d;
            user-select: none; /* 防止文字被滑鼠選取反白 */
            border-color: #edd9ce;
            border-width: 2px;
            border-radius: 0.5rem;
            font-size: 13px;
            margin: 3px;
        }

            input[type=radio] + span:hover {
                background-color: #56473f;
                color: #fbe2d4;
                border-color: #56473f;
            }

        input[type=radio]:checked + span {
            color: gray;
            background-color: wheat;
        }
    </style>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        報修概覽
    </h1>
</section>

<section class="content">
    <div class="row">

        <div class="content">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <i class="fa fa-tags"></i>
                        <h3 class="box-title">廠區</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label>廠區</label><br />
                                @Html.DropDownListFor(model => model.Customer, Model.CustomerOptions, "---客戶---", new { @class = "form-control" })
                                @*@Html.TextBoxFor(model => model.FactoryID, new { @class = "form-control" })*@
                            </div>
                            <div class="col-xs-6">
                                <label>樓層</label><br />
                                @Html.DropDownListFor(model => model.Category, Model.CategoryOptions, "---樓層---", new { @class = "form-control" })
                                @*@Html.TextBoxFor(model => model.FloorID, new { @class = "form-control" })*@
                            </div>                       
                        </div>
                    </div>
                </div>
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <i class="fa fa-calendar-times-o"></i>
                        <h3 class="box-title">時間範圍</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>開始時間</label><br />
                            <div class="col-xs-6">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label>結束時間</label><br />
                            <div class="col-xs-6">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="top_chart">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-area-chart"></i>
                        <h3 class="box-title">廠區</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        @*<canvas id="CategoryChart" width="400" height="400"></canvas>*@
                        <div id="FactoryChart" style="height: 300px; padding: 0px; position: relative;"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-area-chart"></i>
                        <h3 class="box-title">樓層</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        @*<canvas id="ThemeChart" width="400" height="400"></canvas>*@
                        <div id="FloorChart" style="height: 300px; padding: 0px; position: relative;"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-area-chart"></i>
                        <h3 class="box-title">區域</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        @*<canvas id="FeeChart" width="400" height="400"></canvas>*@
                        <div id="AreaChart" style="height: 300px; padding: 0px; position: relative;"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-area-chart" "></i>
                        <h3 class="box-title">設備</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        @*<canvas id="HoursChart" width="400" height="400"></canvas>*@
                        <div id="DeviceChart" style="height: 300px; padding: 0px; position: relative;"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <!--CanvasJS-->
    <script src="~/Content/assets/scripts/canvasjs.min.js"></script>
    <!--Chart.js-->
    <script src="~/Content/assets/scripts/chart.js"></script>
    <script src="~/Content/daterangepicker-master/moment.min.js"></script>
    <script type="text/javascript">
        $(function () {
            SetCharts();

            $('#StartDate').on('change', function () {
                SetCharts();
            });
            $('#EndDate').on('change', function () {
                SetCharts();
            });

            setDateTime($("#StartDate"), 1);
            setDateTime($("#EndDate"), 1);
        })

        function SetCharts() {
            //廠區圖表
            //SetRepairChart('FactoryChart', '廠區', 'factory', '報修次數', '菲力工業');
            SetMultipleRepairChart('FactoryChart', '廠區', 'factory', '報修次數', '菲力工業');
        }

        //function SetThemeChart(idName, title) {
        //    $.ajax({
        //        url: "/Admin/RepairAdmin/GetChart",
        //        //url: "/Admin/TrainingAdmin/GetThemeChart",
        //        type: 'POST',
        //        dataType: "json",
        //        async: false,
        //        data: {
        //            type: 'Theme',
        //            deptId: $('#deptId').val(),
        //            department: $('#department').val(),
        //            StartDate: $('#StartDate').val(),
        //            EndDate: $('#EndDate').val(),
        //        },
        //        success: function (response) {
        //            var points = [];
        //            var total = 0;
        //            for (var i = 0; i < response.length; i++) {
        //                total += response[i].Num;
        //                points.push({
        //                    y: response[i].Percentage,
        //                    legendText: '' + response[i].Num,
        //                    label: response[i].Title,
        //                });
        //            }
        //            //產生圓餅圖
        //            CreatePie(idName, title + ' (總數 : ' + total + ')', points);
        //        }
        //    });
        //}
        function SetRepairChart(idName, title, type, Y, X) {
            var obj = new Object(
                {
                    type: type,
                    factoryId: parseInt($('#FactoryID').val() || '0'),
                    floorId: parseInt($('#FloorID').val() || '0'),
                    areaId: parseInt($('#AreaID').val() || '0'),
                    deviceId: parseInt($('#DeviceID').val() || '0'),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                });
            $.ajax({
                url: "/Admin/RepairAdmin/GetChart",
                type: 'POST',
                dataType: "json",
                async: false,
                data: obj,
                success: function (response) {
                    var points = [];
                    var total = 0;
                    for (var i = 0; i < response.length; i++) {
                        if (response[i].Title == '') {
                            response[i].Title = '0';
                        }
                        total = total + response[i].Num;
                        points.push({
                            x: i + 1,
                            y: response[i].Num,
                            label: response[i].Title
                        });
                    }
                    var asixY = {
                        title: Y,
                    };
                    //產生直條圖
                    CreateColumn(idName, '總數(' + total + ')', points, asixY, X);

                    $('html,body').animate({ scrollTop: $('#top_chart').offset().top }, 800);
                }
            });
        }

        function SetMultipleRepairChart(idName, title, type, Y, X) {
            var obj = new Object(
                {
                    type: type,
                    factoryId: parseInt($('#FactoryID').val() || '0'),
                    floorId: parseInt($('#FloorID').val() || '0'),
                    areaId: parseInt($('#AreaID').val() || '0'),
                    deviceId: parseInt($('#DeviceID').val() || '0'),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                });
            $.ajax({
                url: "/Admin/RepairAdmin/GetMultipleChart",
                type: 'POST',
                dataType: "json",
                async: false,
                data: obj,
                success: function (response) {
                    console.log(response);
                    var totalA = 0;
                    var totalB = 0;

                    //var asixY = {
                    //    title: Y,
                    //};

                    //產生複數直條圖
                    var pointsA = [];
                    var pointsB = [];

                    var FinishedList = response.FinishedList;
                    var UnFinishedList = response.UnFinishedList;

                    for (var i = 0; i < FinishedList.length; i++) {
                        if (FinishedList[i].Title == '') {
                            FinishedList[i].Title = '其他';
                        }
                        totalA = totalA + FinishedList[i].Num;
                        pointsA.push({
                            //x: i + 1,
                            y: FinishedList[i].Num,
                            label: FinishedList[i].Title
                        });
                    }

                    for (var i = 0; i < UnFinishedList.length; i++) {
                        if (UnFinishedList[i].Title == '') {
                            UnFinishedList[i].Title = '其他';
                        }
                        totalB = totalB + UnFinishedList[i].Num;
                        pointsB.push({
                            //x: i + 1,
                            y: UnFinishedList[i].Num,
                            label: UnFinishedList[i].Title
                        });
                    }

                    CreateMultipleColumn(idName, X + '總數(' + (totalA + totalB) + ')', pointsA, pointsB, '');

                    $('html,body').animate({ scrollTop: $('#top_chart').offset().top }, 800);
                }
            });
        }

        function CreatePie(idName, title, points) {
            var chart = new CanvasJS.Chart(idName, {
                title: {
                    text: title
                },
                animationEnabled: true,
                legend: {
                    fontSize: 16,
                    fontFamily: "Helvetica"
                    //fontFamily: "Garamond"
                },
                theme: "light2",
                data: [
                    {
                        type: "pie",
                        indexLabelFontFamily: "Helvetica",
                        indexLabelFontSize: 16,
                        indexLabel: "{label} {y}%",
                        startAngle: -20,
                        showInLegend: false,//下方顏色顯示
                        toolTipContent: "{legendText}",
                        dataPoints: points,
                    }
                ]
            });
            chart.render();
        }

        function CreateColumn(idName, title, points, axisY, legendText) {
            var chart = new CanvasJS.Chart(idName,
                {
                    title: {
                        text: title,
                        horizontalAlign: "right"
                    },
                    animationEnabled: true,
                    theme: "light2", // "light1", "light2", "dark1", "dark2"
                    //axisX: axisX,
                    axisY: axisY,
                    legend: {
                        //verticalAlign: "bottom",
                        //horizontalAlign: "left",
                        fontSize: 16,
                        fontFamily: "Helvetica"
                    },
                    data: [
                        {
                            type: "column",
                            //color: "#778899",
                            legendText: legendText,
                            legendMarkerType: "none",
                            showInLegend: "true",
                            dataPoints: points
                        }
                    ]
                });

            chart.render();
        }

        function CreateMultipleColumn(idName, title, pointsA, pointsB, legendText) {
            var chart = new CanvasJS.Chart(idName,
                {
                    title: {
                        text: title,
                        fontFamily: "arial black",
                        fontColor: "#695A42",
                        horizontalAlign: "right"
                    },
                    axisX: {
                        interval: 1,
                        intervalType: "text"
                    },
                    axisY: {
                        title: '已解決件數',
                        titleFontColor: "#4F81BC",
                        lineColor: "#4F81BC",
                        labelFontColor: "#4F81BC",
                        tickColor: "#4F81BC"
                    },
                    axisY2: {
                        title: '尚未解決件數',
                        titleFontColor: "#C0504E",
                        lineColor: "#C0504E",
                        labelFontColor: "#C0504E",
                        tickColor: "#C0504E"
                    },
                    legend: {
                        cursor: "pointer",
                        itemclick: toggleDataSeries
                    },
                    toolTip: {
                        shared: true
                    },
                    theme: 'light1',
                    animationEnabled: true,
                    data: [
                        {
                            type: "column",
                            name: "已解決",
                            legendText: "已解決",
                            showInLegend: true,
                            dataPoints: pointsA
                            //dataPoints: [
                            //    { label: "Saudi", y: 266.21 },
                            //    { label: "Venezuela", y: 302.25 },
                            //    { label: "Iran", y: 157.20 },
                            //    { label: "Iraq", y: 148.77 },
                            //    { label: "Kuwait", y: 101.50 },
                            //    { label: "UAE", y: 97.8 }
                            //]
                        },
                        {
                            type: "column",
                            name: "尚未解決",
                            legendText: "尚未解決",
                            axisYType: "secondary",
                            showInLegend: true,
                            dataPoints: pointsB
                            //dataPoints: [
                            //    { label: "Saudi", y: 10.46 },
                            //    { label: "Venezuela", y: 2.27 },
                            //    { label: "Iran", y: 3.99 },
                            //    { label: "Iraq", y: 4.45 },
                            //    { label: "Kuwait", y: 2.92 },
                            //    { label: "UAE", y: 3.1 }
                            //]
                        }
                    ]
                });

            chart.render();

            function toggleDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                }
                else {
                    e.dataSeries.visible = true;
                }
                chart.render();
            }
        }

    </script>
}


