﻿@model FairlyRepair.Areas.Admin.ViewModels.AuditLevel.AuditLevelView
@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        部門簽核層級管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Index", "AuditLevelAdmin")">部門簽核層級列表</a></li>
        <li class="active">部門簽核層級管理</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">部門簽核層級</h3>
                    </div>

                    @using (Html.BeginForm("Edit", "AuditLevelAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.IsOnline)

                        <div class="box-body">
                            <div class="nav-tabs-custom">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_0">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DeptId)
                                                @Html.TextBoxFor(model => model.DeptId, new { @class = "form-control", @disabled = "true" })
                                                @Html.HiddenFor(model => model.DeptId)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DeptName)
                                                @Html.TextBoxFor(model => model.DeptName, new { @class = "form-control", @disabled = "true" })
                                                @Html.HiddenFor(model => model.DeptName)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PresidentReview)
                                                @Html.DropDownListFor(model => model.PresidentReview, Model.PresidentOptions, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ViceReview)
                                                @Html.DropDownListFor(model => model.ViceReview, Model.ViceOptions, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ManagerReview)
                                                @Html.DropDownListFor(model => model.ManagerReview, Model.ManagerOptions, new { @class = "form-control" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.UpdateDate)
                                                @Html.TextBoxFor(model => model.UpdateDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @disabled = "true" })
                                                @Html.HiddenFor(model => model.UpdateDate)
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- nav-tabs-custom -->
                        </div>

                        <div class="box-footer">
                            <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                            @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                        </div>
                    }
                </div>
            </div>
        </div>
</section>

@section scripts{

}