﻿@{
    ViewBag.Title = "Home Page";
}

@section intro{
    @*<div id="intro">
        <h1>
            全場報修
        </h1>
        <ul class="actions">
            <li><a href="@Url.Action("Index", "Repair")" class="button icon solid solo fa-arrow-down scrolly">全場報修</a></li>
        </ul>
        <h1 style="margin-top:10%;">
            噴塗系統報修
        </h1>
        <ul class="actions">
            <li><a href="@Url.Action("Index", "Spray")" class="button icon solid solo fa-arrow-down scrolly">噴塗系統報修</a></li>
        </ul>
    </div>*@
}

<div id="main">
    @*<section class="posts">*@
    <section class="">
        <article>
            <header>
                <h3 style="text-align: center;">
                    <a href="@Url.Action("Index", "Repair")">
                        全場報修
                    </a>
                </h3>
            </header>
            <ul class="actions special">
                <li><a href="@Url.Action("Index", "Repair")" class="button">Continue</a></li>
            </ul>
        </article>
        @*<article>
            <header>
                <h3>
                    <a href="@Url.Action("Index", "Spray")">
                        噴塗系統報修
                    </a>
                </h3>
            </header>
            <ul class="actions special">
                <li><a href="@Url.Action("Index", "Spray")" class="button">Continue</a></li>
            </ul>
        </article>*@
    </section>
</div>
