﻿@model FairlyRepair.Areas.Admin.ViewModels.Repair.RepairView
@{
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    string title = "";
    switch (Model.DeviceType)
    {
        case 2:
            title = "全廠報修單管理";
            break;
        case 3:
            title = "噴塗設備報修管理";
            break;
    }
    bool isLocked = (Model.ID != 0 && (string.IsNullOrEmpty(Model.MaintID)) && Model.RecordList.Count() > 0);
    isLocked = false;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @title
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">查看報修單</h3>
                    @if (Model.ID != 0)
                    {
                        <a href="@Url.Action("ExportExcel", "RepairAdmin", new { id = Model.ID })" target="_blank" class="btn btn-success">
                            <i class="fa fa-file"></i>
                            <span>匯出</span>
                        </a>
                    }
                </div>

                @using (Html.BeginForm("Edit", "RepairAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.DeviceType)
                    @Html.HiddenFor(model => model.DispatcherID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.DispatchTime)
                    @Html.HiddenFor(model => model.CompleteTime)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_0" data-toggle="tab" data-index="0">基本資訊</a></li>
                                <li class=""><a href="#tab_1" data-toggle="tab" data-index="1">指派與審核</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    @if (isLocked)
                                    {
                                        @Html.HiddenFor(model => model.DeptID)
                                        @Html.HiddenFor(model => model.FactoryID)
                                        @Html.HiddenFor(model => model.FloorID)
                                        @Html.HiddenFor(model => model.AreaID)
                                        @Html.HiddenFor(model => model.DeviceID)
                                        @Html.HiddenFor(model => model.DeviceItem)
                                        @Html.HiddenFor(model => model.Description)
                                        @Html.HiddenFor(model => model.IsClose)                                        
                                        @*if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.Manager && Model.IsFinish)//蔡正良 - 結案人員
            {
                <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                    @Html.CheckBoxFor(model => model.IsClose, new { @class = "form-check-input lock_switch" })
                    <div class="state p-primary">
                        @Html.LabelFor(model => model.IsClose, new { @class = "form-check-label", @style = "font-weight:bold; " })
                    </div>
                </div>
            }
            else
            {
                @Html.HiddenFor(model => model.IsClose)
            }*@
                                        if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.Dispatcher)//蔡宗鏞、陳明麗 - 派工、驗收人員
                                        {
                                            if (Model.WaitForCheck)//有維修狀況排除紀錄可驗收完工
                                            {
                                                <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                                    @Html.CheckBoxFor(model => model.IsFinish, new { @class = "form-check-input lock_switch" })
                                                    <div class="state p-success">
                                                        @Html.LabelFor(model => model.IsFinish, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                @Html.HiddenFor(model => model.IsFinish)
                                            }
                                            <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                                @Html.CheckBoxFor(model => model.IsPurchase, new { @class = "form-check-input lock_switch" })
                                                <div class="state p-warning">
                                                    @Html.LabelFor(model => model.IsPurchase, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.IsFinish)
                                            @Html.HiddenFor(model => model.IsPurchase)
                                        }
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CreateDate)
                                            <input class="form-control" value="@Model.CreateDate" disabled />
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DeptID)
                                            <input class="form-control" value="@Model.DepartmentTitle" disabled />
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FactoryID)
                                            <input class="form-control" value="@Model.FactoryTitle" disabled />
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FloorID)
                                            <input class="form-control" value="@Model.FloorTitle" disabled />
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AreaID)
                                            <input class="form-control" value="@Model.AreaTitle" disabled />
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DeviceID)
                                            <input class="form-control" value="@Model.DeviceName" disabled />
                                        </div>
                                        if (Model.DeviceType == 3)
                                        {
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DeviceItem)
                                                <input class="form-control" value="@Model.DeviceItemName" disabled />
                                            </div>
                                        }
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Description)
                                            <textarea class="form-control" disabled>@Model.Description@Model.Description</textarea>
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            @if (Model.PicList != null && Model.PicList.Count() > 0)
                                            {
                                                foreach (var item in Model.PicList)
                                                {
                                                    <img src="~/FileUploads/RepairPhoto/@item.Pics" class="img-thumbnail" style="width:400px" />
                                                    @*@Html.HiddenFor(model => model.Pics)*@

                                                    @*@Html.ActionLink("刪除檔案", "DeleteImage", "RepairAdmin", new { id = Model.ID, t = 2 }, new { @class = "btn btn-danger js-delete-confirm" })*@
                                                    <br />
                                                }
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        if (Model.ID != 0)
                                        {
                                            @Html.HiddenFor(model => model.IsClose)
                                            @*if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.Manager && Model.IsFinish)//蔡正良 - 結案人員
                {
                    <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                        @Html.CheckBoxFor(model => model.IsClose, new { @class = "form-check-input lock_switch" })
                        <div class="state p-primary">
                            @Html.LabelFor(model => model.IsClose, new { @class = "form-check-label", @style = "font-weight:bold; " })
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(model => model.IsClose)
                }*@
                                            if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.Dispatcher)//蔡宗鏞、陳明麗 - 派工、驗收人員
                                            {
                                                if (Model.WaitForCheck)//有維修狀況排除紀錄可驗收完工
                                                {
                                                    <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                                        @Html.CheckBoxFor(model => model.IsFinish, new { @class = "form-check-input lock_switch" })
                                                        <div class="state p-success">
                                                            @Html.LabelFor(model => model.IsFinish, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    @Html.HiddenFor(model => model.IsFinish)
                                                }
                                                <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                                    @Html.CheckBoxFor(model => model.IsPurchase, new { @class = "form-check-input lock_switch" })
                                                    <div class="state p-warning">
                                                        @Html.LabelFor(model => model.IsPurchase, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                @Html.HiddenFor(model => model.IsFinish)
                                                @Html.HiddenFor(model => model.IsPurchase)
                                            }
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.IsRevoke)
                                        }
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ID)
                                            @Html.TextBoxFor(model => model.ID, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CreateDate)
                                            @Html.TextBoxFor(model => model.CreateDate, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Creater)
                                            @Html.TextBoxFor(model => model.CreaterName, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DeptID)
                                            @Html.DropDownListFor(model => model.DeptID, Model.DepartmentOptions, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.DeptID, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FactoryID)
                                            @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.FactoryID, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FloorID)
                                            @Html.DropDownListFor(model => model.FloorID, Model.FloorOptions, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.FloorID, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AreaID)
                                            @Html.DropDownListFor(model => model.AreaID, Model.AreaOptions, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.AreaID, "", new { @class = "text-danger" })
                                        </div>
                                        <div style="display:none;">
                                            <img class="ImagePreviewBox" src="" id="area_pic" style="max-height: 400px; max-width:100%" />
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DeviceID)
                                            @Html.DropDownListFor(model => model.DeviceID, Model.DeviceOptions, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.DeviceID, "", new { @class = "text-danger" })
                                        </div>
                                        if (Model.DeviceType == 3)
                                        {
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DeviceItem)
                                                @Html.DropDownListFor(model => model.DeviceItem, Model.DeviceItemOptions, new { @class = "form-control" })
                                            </div>
                                        }
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FaultState)
                                            @Html.DropDownListFor(model => model.FaultState, Model.FaultStateOptions, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.FaultState, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Description)
                                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @maxlength = "500" })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            @if (Model.ID == 0)
                                            {
                                                @Html.LabelFor(model => model.Pics)
                                                @Html.TextBoxFor(model => model.PicsFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/x-png,image/jpeg", @style = "height: 100% !important;" })
                                                <code>請上傳總和不超過10MB的檔案</code>
                                                @Html.ValidationMessageFor(model => model.Pics, "", new { @class = "text-danger" })
                                            }
                                            @if (Model.PicList != null && Model.PicList.Count() > 0)
                                            {
                                                foreach (var item in Model.PicList)
                                                {
                                                    <img src="~/FileUploads/RepairPhoto/@item.Pics" class="img-thumbnail" style="width:400px" />
                                                    <br />
                                                }
                                            }

                                        </div>
                                    }

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TotalFee)
                                        <label class="label label-primary">$@Model.TotalFee</label>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DispatchTime)
                                        <input class="form-control" value="@Model.DispatchTime" style="width: 30%;" disabled />
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompleteTime)
                                        <input class="form-control" value="@Model.CompleteTime" style="width: 30%;" disabled />
                                    </div>

                                    @if (Model.ID != 0)
                                    {
                                        <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                            @Html.CheckBoxFor(model => model.IsRevoke, new { @class = "form-check-input lock_switch" })
                                            <div class="state p-danger">
                                                @Html.LabelFor(model => model.IsRevoke, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.IsRevoke)
                                    }

                                </div>
                                <div class="tab-pane" id="tab_1">
                                    @if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.Dispatcher)
                                    {
                                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.MaintID)
                                                @Html.DropDownListFor(model => model.MaintID, Model.MaintStaffOptions, "---選擇維修/處理人員---", new { @class = "form-control" })
                                            </div>*@
                                        <div class="form-group">
                                            <label>@Html.LabelFor(model => model.MaintID)</label>
                                            <br />
                                            @Html.DropDownList("n", Model.MaintStaffOptions, "---Select---", new { @class = "form-control js-approval edit-ddl", @id = "js-signer-MaintID" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.MaintID, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                                        </div>
                                        <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                            @Html.CheckBoxFor(model => model.IsPresApproval, new { @class = "form-check-input lock_switch" })
                                            <div class="state p-success">
                                                @Html.LabelFor(model => model.IsPresApproval, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                            </div>
                                        </div>
                                        if (Model.PresAppStatus > 1)
                                        {
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PresAppStatus, new { @class = "col-sm-2 control-label" })
                                                @Html.EditorFor(model => model.PresAppStatus, "ApprovalStatusDropDownList", new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PresResult)
                                                @Html.TextAreaFor(model => model.PresResult, new { @class = "form-control js-ckeditor", @readonly = "true" })
                                            </div>
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.PresAppStatus)
                                            @Html.HiddenFor(model => model.PresResult)
                                        }
                                        <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                            @Html.CheckBoxFor(model => model.IsViceApproval, new { @class = "form-check-input lock_switch" })
                                            <div class="state p-success">
                                                @Html.LabelFor(model => model.IsViceApproval, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                            </div>
                                        </div>
                                        if (Model.ViceAppStatus > 1)
                                        {
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ViceAppStatus, new { @class = "col-sm-2 control-label" })
                                                @Html.EditorFor(model => model.ViceAppStatus, "ApprovalStatusDropDownList", new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ViceResult)
                                                @Html.TextAreaFor(model => model.ViceResult, new { @class = "form-control js-ckeditor", @readonly = "true" })
                                            </div>
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.ViceAppStatus)
                                            @Html.HiddenFor(model => model.ViceResult)
                                        }
                                        <div class="form-group" id="submit_reason">
                                            @Html.LabelFor(model => model.SubmitReason)
                                            @Html.TextAreaFor(model => model.SubmitReason, new { @class = "form-control js-ckeditor", @maxlength = "500" })
                                        </div>
                                    }
                                    else if (adminInfo.Type == (int)FairlyRepair.Models.MeetAdminType.President)
                                    {
                                        @Html.HiddenFor(model => model.MaintID)
                                        @Html.HiddenFor(model => model.ViceAppStatus)
                                        @Html.HiddenFor(model => model.IsViceApproval)
                                        @Html.HiddenFor(model => model.IsPresApproval)
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PresAppStatus, new { @class = "col-sm-2 control-label" })
                                            @Html.EditorFor(model => model.PresAppStatus, "ApprovalStatusDropDownList", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PresResult)
                                            @Html.TextAreaFor(model => model.PresResult, new { @class = "form-control js-ckeditor" })
                                        </div>
                                    }
                                    else if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.VicePresident)
                                    {
                                        @Html.HiddenFor(model => model.MaintID)
                                        @Html.HiddenFor(model => model.PresAppStatus)
                                        @Html.HiddenFor(model => model.IsViceApproval)
                                        @Html.HiddenFor(model => model.IsPresApproval)
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ViceAppStatus, new { @class = "col-sm-2 control-label" })
                                            @Html.EditorFor(model => model.ViceAppStatus, "ApprovalStatusDropDownList", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ViceResult)
                                            @Html.TextAreaFor(model => model.ViceResult, new { @class = "form-control js-ckeditor" })
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.MaintID)
                                        @Html.HiddenFor(model => model.PresAppStatus)
                                        @Html.HiddenFor(model => model.ViceAppStatus)
                                        @Html.HiddenFor(model => model.IsPresApproval)
                                        @Html.HiddenFor(model => model.IsViceApproval)
                                    }
                                    @Html.HiddenFor(model => model.PresAppDate)
                                    @Html.HiddenFor(model => model.ViceAppDate)
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        @if (Model.ID != 0)
                        {
                            @Html.ActionLink("處裡記錄", "Index", "RepairRecordAdmin", new { RepairID = Model.ID }, new { @class = "btn btn-info" })
                        }

                        @Html.ActionLink("取消/回列表", "Index", new { dt = Model.DeviceType }, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            ChangeFactory();
            $('#FactoryID').on('change', function () {
                ChangeFactory();
            });
            $('#FloorID').on('change', function () {
                ChangeFloor();
            });
            $('#AreaID').on('change', function () {
                ChangeArea();
            });

            //tags imput
            var $selectedMaintStr = $('#MaintID');
            var remove;

            //MaintStr
            $selectedMaintStr.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-MaintID').on('change', function () {
                var selected = $('#js-signer-MaintID option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                //$selectedMaintID.tagsinput('add', selected.text());
                $selectedMaintStr.tagsinput('add', selected.text());
            });
        });

        //廠區變更
        function ChangeFactory() {
            var factoryId = $('#FactoryID').val();
            var floorId = '@Model.FloorID';
            $('#FloorID').children().remove();
            $('#AreaID').children().remove();
            $('#DeviceID').children().remove();
            if (factoryId == '0') {
                return false;
            }
            $.ajax({
                url: "/Repair/GetFloor",
                type: 'POST',
                anysc: false,
                dataType: "json",
                data: {
                    factoryId: factoryId
                },
                success: function (response) {
                    console.log(response);
                    if (floorId == '0') {
                        floorId = response[0].ID;
                    }
                    $.map(response, function (data) {
                        var selected = data.ID == floorId ? 'selected' : '';
                        $('#FloorID').append('<option value="' + data.ID + '" ' + selected + '>' + data.Title + '</option>');

                    });
                    ChangeFloor();
                }
            });
        }
        //樓層變更
        function ChangeFloor() {
            var floorId = $('#FloorID').val();
            var areaId = '@Model.AreaID';
            $('#AreaID').children().remove();
            $('#DeviceID').children().remove();
            if (floorId == '0') {
                return false;
            }
            $.ajax({
                url: "/Repair/GetArea",
                type: 'POST',
                anysc: false,
                dataType: "json",
                data: {
                    floorId: floorId
                },
                success: function (response) {
                    console.log(response);
                    if (areaId == '0') {
                        areaId = response[0].ID;
                    }
                    $.map(response, function (data) {
                        var selected = data.ID == areaId ? 'selected' : '';
                        $('#AreaID').append('<option value="' + data.ID + '" ' + selected + '>' + data.Title + '</option>');

                    });
                    ChangeArea();
                }
            });
        }
        //區域變更
        function ChangeArea() {
            var areaId = $('#AreaID').val();
            var deviceId = '@Model.DeviceID';
            $('#DeviceID').children().remove();
            if (areaId == '0') {
                return false;
            }
            $.ajax({
                url: "/Repair/GetDevice",
                type: 'POST',
                anysc: false,
                dataType: "json",
                data: {
                    areaId: areaId
                },
                success: function (response) {
                    console.log(response);
                    if (deviceId == '0') {
                        deviceId = response[0].ID;
                    }
                    $.map(response, function (data) {
                        var selected = data.ID == deviceId ? 'selected' : '';
                        $('#DeviceID').append('<option value="' + data.ID + '" ' + selected + '>' + data.Title + '</option>');
                    });
                }
            });

            $.ajax({
                url: "/Repair/GetPic",
                type: 'POST',
                anysc: false,
                dataType: "text",
                data: {
                    areaId: areaId
                },
                success: function (response) {
                    console.log(response);
                    if (response != '') {
                        $('#area_pic').attr('src', '/FileUploads/EquipmentPhoto/' + response);
                        $('#area_pic').parent().removeAttr('style', 'display:none;');
                    }
                    else {
                        $('#area_pic').parent().attr('style', 'display:none;');
                    }
                }
            });
        }
    </script>
}