﻿@model FairlyRepair.Areas.Admin.ViewModels.Repair.RepairIndexView

@{
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    string title = "";
    switch (Model.DeviceType)
    {
        case 2:
            title = "全廠報修單管理";
            break;
        case 3:
            title = "噴塗設備報修管理";
            break;
    }
}

@section styles{
    <style>
        .mainter {
            margin: 4px;
            /*background-color: #104068;*/
            border-radius: 4px;
            border: 1px solid #fff;
            overflow: hidden;
            float: left;
            background-color: #fff;
            color: #89654f;
            border: 2px #a97d63 solid;
        }

        .mainter label {
            margin-bottom: 0px;
        }

        .mainter label span {
            text-align: center;
            padding: 3px 15px;
            display: block;
        }

        .mainter label input {
            position: absolute;
            display: none;
            color: #fff !important;
        }

        .mainter label input + span {
            color: #a97d63;
        }

        .mainter input:checked + span {
            color: #ffffff;
            background-color: #a97d63;
            /*text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);*/
        }
    </style>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @title
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "RepairAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.DeviceType)
                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.DeptID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.DeptID, Model.DepartmentOptions, "---選擇課別---", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FactoryID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, "---選擇廠區---", new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(model => model.FloorID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.FloorID, Model.FloorOptions, "---選擇樓層---", new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(model => model.AreaID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.AreaID, Model.AreaOptions, "---選擇區域---", new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(model => model.DeviceID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.DeviceID, Model.DeviceOptions, "---選擇設備---", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Mainters, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-8">
                            @foreach (var item in Model.MainterList)
                            {
                                string selectedStr = item.IsSelected ? "checked" : "";
                                <div class="mainter">
                                    <label>
                                        <input type="checkbox" class="mainter_ckb" id="mainter_@item.ID" value="@item.Name" @selectedStr><span>@item.Name</span>
                                    </label>
                                </div>
                            }
                            </div>
                            @Html.HiddenFor(model => model.Mainters)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsPresApproval, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.IsPresApproval, "UseStatusDropDownList", new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(model => model.IsViceApproval, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.IsViceApproval, "UseStatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PresAppStatus, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.PresAppStatus, "ApprovalListStatusDropDownList", new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(model => model.ViceAppStatus, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.ViceAppStatus, "ApprovalListStatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsRevoke, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.IsRevoke, "UseStatusDropDownList", new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(model => model.ProcessingStatus, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.ProcessingStatus, "ProcessingStatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        @*<div class="form-group">
                            <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                @Html.CheckBoxFor(model => model.IsDispatch, new { @class = "form-check-input lock_switch" })
                                <div class="state p-info">
                                    @Html.LabelFor(model => model.IsDispatch, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                @Html.CheckBoxFor(model => model.IsSloved, new { @class = "form-check-input lock_switch" })
                                <div class="state p-info">
                                    @Html.LabelFor(model => model.IsSloved, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                </div>
                            </div>
                        </div>*@

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @*@Html.ActionLink("新增報修單", "Edit", "RepairAdmin", new { dt = Model.DeviceType }, new { @class = "btn btn-primary" })*@
                                <a href="@Url.Action("Edit", "RepairAdmin", new { dt = Model.DeviceType })" class="btn btn-primary">
                                    <i class="fa fa-plus-square"></i>
                                    <span>新增報修單</span>
                                </a>
                                <a href="#" id="exportExcel" class="btn btn-success">
                                    <i class="fa fa-file"></i>
                                    <span>匯出</span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">報修單列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ID)
                                            </th>
                                            <th data-sorting="Creater">
                                                @Html.DisplayNameFor(x => x.Creater)
                                            </th>
                                            <th data-sorting="FactoryID">
                                                @Html.DisplayNameFor(x => x.FactoryID)
                                            </th>
                                            <th data-sorting="FloorID">
                                                @Html.DisplayNameFor(x => x.FloorID)
                                            </th>
                                            <th data-sorting="AreaID">
                                                @Html.DisplayNameFor(x => x.AreaID)
                                            </th>
                                            @*<th>
                                                    @Html.DisplayNameFor(x => x.DeviceType)
                                                </th>*@
                                            <th>
                                                @Html.DisplayNameFor(x => x.DeviceID)
                                            </th>
                                            <th data-sorting="IsPresApproval">
                                                @Html.DisplayNameFor(x => x.IsPresApproval)
                                            </th>
                                            <th data-sorting="IsViceApproval">
                                                @Html.DisplayNameFor(x => x.IsViceApproval)
                                            </th>
                                            <th data-sorting="IsRevoke">
                                                @Html.DisplayNameFor(x => x.IsRevoke)
                                            </th>
                                            <th data-sorting="CreateDate">
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ProcessingStatus)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            string isRevoke = item.IsRevoke ? "#d3cccc4a" : "#fffff";
                                            string standard = "尚未完工";
                                            if (item.Minute > 0 && item.Minute <= 4 * 60)
                                            {
                                                standard = "超標";
                                            }
                                            if (item.Minute > 4 * 60 && item.Minute <= 16 * 60)
                                            {
                                                standard = "達標";
                                            }
                                            if (item.Minute > 16 * 60)
                                            {
                                                standard = "未達標";
                                            }
                                            // 將分鐘轉換為 TimeSpan
                                            TimeSpan timeSpan = TimeSpan.FromMinutes(item.Minute);

                                            // 取得小時和分鐘
                                            int hours = timeSpan.Hours;
                                            int minutes = timeSpan.Minutes;
                                            <tr style="background:@isRevoke">
                                                <td>
                                                    @item.ID
                                                </td>
                                                <td>
                                                    @item.DepartmentTitle - @item.CreaterName
                                                </td>
                                                <td>
                                                    @item.FactoryTitle
                                                </td>
                                                <td>
                                                    @item.FloorTitle
                                                </td>
                                                <td>
                                                    @item.AreaTitle
                                                </td>
                                                <td>
                                                    @item.DeviceName @(!string.IsNullOrEmpty(item.DeviceItemName) ? " (" + item.DeviceItemName + ") " : "")
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.PresAppStatus, "_ApprovalStatus")
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.ViceAppStatus, "_ApprovalStatus")
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.IsRevoke, "_RevokeStatus")
                                                </td>
                                                <td>
                                                    @item.CreateDate.ToString("yyyy/MM/dd HH:mm")
                                                </td>
                                                <td>
                                                    @if (!item.IsRevoke)
                                                    {
                                                        @Html.DisplayFor(model => item.ProcessingStatus, "_ProcessingStatus")
                                                    }
                                                    <div>--------</div>
                                                    @if (!string.IsNullOrEmpty(item.MaintID))
                                                    {
                                                        <span class="label label-warning bg-maroon" style="margin-top:5px;">@item.MaintID</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-default" style="margin-top:5px;">未指派人員</span>
                                                    }
                                                    <div>--------</div>
                                                    費用(累計) : <label class="label label-primary">$@item.TotalFee</label>
                                                    <div>--------</div>
                                                    工時 : <label class="label label-default bg-navy">@standard</label>
                                                    @if (item.Minute > 0)
                                                    {
                                                    <p>@timeSpan.Hours 小時 @timeSpan.Minutes 分鐘</p>
                                                    }
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "RepairAdmin", new { id = item.ID })" class="btn btn-primary" style="margin:3px;">
                                                        <i class="fa fa-edit"></i>
                                                        <span>查看</span>
                                                    </a>
                                                    @*@Html.ActionLink("查看", "Edit", "RepairAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })*@
                                                    @*@Html.ActionLink("處裡記錄", "Index", "RepairRecordAdmin", new { RepairID = item.ID }, new { @class = "btn btn-info" })*@
                                                    <a href="@Url.Action("Index", "RepairRecordAdmin", new { RepairID = item.ID })" class="btn btn-info" style="margin:3px;">
                                                        <i class="fa fa-list"></i>
                                                        <span>處裡記錄</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ID)
                                            </th>
                                            <th data-sorting="Creater">
                                                @Html.DisplayNameFor(x => x.Creater)
                                            </th>
                                            <th data-sorting="FactoryID">
                                                @Html.DisplayNameFor(x => x.FactoryID)
                                            </th>
                                            <th data-sorting="FloorID">
                                                @Html.DisplayNameFor(x => x.FloorID)
                                            </th>
                                            <th data-sorting="AreaID">
                                                @Html.DisplayNameFor(x => x.AreaID)
                                            </th>
                                            @*<th>
                                                    @Html.DisplayNameFor(x => x.DeviceType)
                                                </th>*@
                                            <th>
                                                @Html.DisplayNameFor(x => x.DeviceID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsPresApproval)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsViceApproval)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsRevoke)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ProcessingStatus)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
        $(function () {
            ChangeFactory();
            $('#FactoryID').on('change', function () {
                ChangeFactory();
            });
            $('#FloorID').on('change', function () {
                ChangeFloor();
            });
            $('#AreaID').on('change', function () {
                ChangeArea();
            });

            $('#exportExcel').on('click', function () {
                var url = '@Url.Action("ExportListExcel", "RepairAdmin")';
                //需總經理審核
                var isPres = null;
                if ($('#IsPresApproval').val() == 'True') {
                    isPres = true;
                }
                else if ($('#IsPresApproval').val() == 'False') {
                    isPres = false;
                }
                //需副總審核
                var isVice = null;
                if ($('#IsViceApproval').val() == 'True') {
                    isVice = true;
                }
                else if ($('#IsViceApproval').val() == 'False') {
                    isVice = false;
                }
                //總經理審核狀態
                var presStatus = null;
                if ($('#PresAppStatus').val() != '') {
                    presStatus = parseInt($('#PresAppStatus').val());
                }
                //副總審核狀態
                var viceStatus = null;
                if ($('#ViceAppStatus').val() != '') {
                    viceStatus = parseInt($('#ViceAppStatus').val());
                }
                //報修類型
                var deviceType = parseInt($('#DeviceType').val());
                //設備
                var deviceId = parseInt($('#DeviceID').val());
                //廠區
                var factory = parseInt($('#FactoryID').val());
                //樓層
                var floor = parseInt($('#FloorID').val());
                //區域
                var area = parseInt($('#AreaID').val());
                //課別
                var deptId = $('#DeptID').val();
                //撤銷狀態
                var isRevoke = null;
                if ($('#IsPresApproval').val() == 'True') {
                    isRevoke = true;
                }
                else if ($('#IsPresApproval').val() == 'False') {
                    isRevoke = false;
                }
                window.open(url + '?isPres=' + isPres +
                    '&isVice=' + isVice +
                    '&presStatus=' + presStatus +
                    '&viceStatus=' + viceStatus +
                    '&deviceType=' + deviceType +
                    '&deviceId=' + deviceId +
                    '&factory=' + factory +
                    '&floor=' + floor +
                    '&area=' + area +
                    '&deptId=' + deptId +
                    '&isRevoke=' + isRevoke);
                //$.ajax({
                //    url: url,
                //    type: 'POST',
                //    anysc: true,
                //    data: {
                //        isPres: isPres,
                //        isVice: isVice,
                //        presStatus: presStatus,
                //        viceStatus: viceStatus,
                //        deviceType: deviceType,
                //        deviceId: deviceId,
                //        factory: factory,
                //        floor: floor,
                //        area: area,
                //        deptId: deptId,
                //        isRevoke: isRevoke,
                //    },
                //    success: function (response) {
                //        console.log(response);
                //    }
                //});
            });

            $('.mainter_ckb').on('change', function () {
                var maintersStr = '';
                $('.mainter_ckb').each(function () {
                    if ($(this).is(':checked')) {
                        maintersStr += ',' + $(this).val();
                    }
                })
                $('#Mainters').val(maintersStr);
            })
        })
          //廠區變更
        function ChangeFactory() {
            var factoryId = $('#FactoryID').val();
            var floorId = '@Model.FloorID';
            $('#FloorID').children().remove();
            $('#AreaID').children().remove();
            $('#DeviceID').children().remove();
            $('#FloorID').append('<option value="">---選擇樓層---</option>');
            if (factoryId == '0' || factoryId == '') {
                return false;
            }
            $.ajax({
                url: "/Repair/GetFloor",
                type: 'POST',
                anysc: false,
                dataType: "json",
                data: {
                    factoryId: factoryId
                },
                success: function (response) {
                    console.log(response);
                    //if (floorId == '0') {
                    //    floorId = response[0].ID;
                    //}
                    $.map(response, function (data) {
                        var selected = data.ID == floorId ? 'selected' : '';
                        $('#FloorID').append('<option value="' + data.ID + '" ' + selected + '>' + data.Title + '</option>');

                    });
                    ChangeFloor();
                }
            });
        }
        //樓層變更
        function ChangeFloor() {
            var floorId = $('#FloorID').val();
            var areaId = '@Model.AreaID';
            $('#AreaID').children().remove();
            $('#DeviceID').children().remove();
            $('#AreaID').append('<option value="">---選擇樓層---</option>');
            if (floorId == '0' || floorId == '') {
                return false;
            }
            $.ajax({
                url: "/Repair/GetArea",
                type: 'POST',
                anysc: false,
                dataType: "json",
                data: {
                    floorId: floorId
                },
                success: function (response) {
                    console.log(response);
                    //if (areaId == '0') {
                    //    areaId = response[0].ID;
                    //}
                    $.map(response, function (data) {
                        var selected = data.ID == areaId ? 'selected' : '';
                        $('#AreaID').append('<option value="' + data.ID + '" ' + selected + '>' + data.Title + '</option>');

                    });
                    ChangeArea();
                }
            });
        }
        //區域變更
        function ChangeArea() {
            var areaId = $('#AreaID').val();
            var deviceId = '@Model.DeviceID';
            $('#DeviceID').children().remove();
            $('#DeviceID').append('<option value="">---選擇樓層---</option>');
            if (areaId == '0' || areaId == '') {
                return false;
            }
            $.ajax({
                url: "/Repair/GetDevice",
                type: 'POST',
                anysc: false,
                dataType: "json",
                data: {
                    areaId: areaId
                },
                success: function (response) {
                    console.log(response);
                    //if (deviceId == '0') {
                    //    deviceId = response[0].ID;
                    //}
                    $.map(response, function (data) {
                        var selected = data.ID == deviceId ? 'selected' : '';
                        $('#DeviceID').append('<option value="' + data.ID + '" ' + selected + '>' + data.Title + '</option>');
                    });
                }
            });

            $.ajax({
                url: "/Repair/GetPic",
                type: 'POST',
                anysc: false,
                dataType: "text",
                data: {
                    areaId: areaId
                },
                success: function (response) {
                    console.log(response);
                    if (response != '') {
                        $('#area_pic').attr('src', '/FileUploads/EquipmentPhoto/' + response);
                        $('#area_pic').parent().removeAttr('style', 'display:none;');
                    }
                    else {
                        $('#area_pic').parent().attr('style', 'display:none;');
                    }
                }
            });
        }
    </script>
}


