﻿@model FairlyRepair.Areas.Admin.ViewModels.Repair.OverViewView
@{
    FairlyRepair.Repositories.T8Repositories.DepartmentRepository t8DepartmentRepository = new FairlyRepair.Repositories.T8Repositories.DepartmentRepository(new FairlyRepair.Models.T8ERPEntities());
}
@section styles
{
    <link href="~/Content/daterangepicker-master/daterangepicker.css" rel="stylesheet" />
    <style>
        input[type=radio] {
            display: none;
        }

        .tag-radio {
            background-color: white;
            color: #ab816b;
            border-color: #ab816b;
            border-width: 1px;
            border-radius: 0.5rem;
            border: solid 2px;
            font-size: 13px;
            padding: 5px 6px;
            margin: 5px;
        }

        input[type=radio] + span {
            display: inline-block;
            background-color: white;
            padding: 1px 1px;
            border: solid 2px;
            color: #8d6d5d;
            user-select: none; /* 防止文字被滑鼠選取反白 */
            border-color: #edd9ce;
            border-width: 2px;
            border-radius: 0.5rem;
            font-size: 13px;
            margin: 3px;
        }

            input[type=radio] + span:hover {
                background-color: #56473f;
                color: #fbe2d4;
                border-color: #56473f;
            }

        input[type=radio]:checked + span {
            color: gray;
            background-color: wheat;
        }
    </style>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        報修概覽
    </h1>
</section>

<section class="content">
    <div class="row">

        <div class="content">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <i class="fa fa-tags"></i>
                        <h3 class="box-title">廠區</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label>廠區</label><br />
                                @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, "---廠區---", new { @class = "form-control" })
                                @*@Html.TextBoxFor(model => model.FactoryID, new { @class = "form-control" })*@
                            </div>
                            <div class="col-xs-6">
                                <label>樓層</label><br />
                                @Html.DropDownListFor(model => model.FloorID, Model.FloorOptions, "---樓層---", new { @class = "form-control" })                                
                                @*@Html.TextBoxFor(model => model.FloorID, new { @class = "form-control" })*@
                            </div>
                            <div class="col-xs-6">
                                <label>區域</label><br />
                                @Html.DropDownListFor(model => model.AreaID, Model.AreaOptions, "---區域---", new { @class = "form-control" })                                
                                @*@Html.TextBoxFor(model => model.AreaID, new { @class = "form-control" })*@
                            </div>
                              @Html.HiddenFor(model => model.DeviceID)
                            <!--<div class="col-xs-6">
                                <label>設備</label><br />
                                @Html.DropDownListFor(model => model.DeviceID, Model.DeviceOptions, "---設備---", new { @class = "form-control" })-->
                                @*@Html.TextBoxFor(model => model.DeviceID, new { @class = "form-control" })*@
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <i class="fa fa-calendar-times-o"></i>
                        <h3 class="box-title">時間範圍</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>開始時間</label><br />
                            <div class="col-xs-6">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label>結束時間</label><br />
                            <div class="col-xs-6">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <i class="fa fa-calendar-times-o"></i>
                        <h3 class="box-title">維修人員</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        @*<div class="form-group">
                            <label>開始時間</label><br />
                            <div class="col-xs-6">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label>結束時間</label><br />
                            <div class="col-xs-6">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="top_chart">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-area-chart"></i>
                        <h3 class="box-title">廠區</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        @*<canvas id="CategoryChart" width="400" height="400"></canvas>*@
                        <div id="FactoryChart" class="multi_chart" style="height: 300px; padding: 0px; position: relative;"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-area-chart"></i>
                        <h3 class="box-title">樓層</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        @*<canvas id="ThemeChart" width="400" height="400"></canvas>*@
                        <div id="FloorChart" class="multi_chart" style="height: 300px; padding: 0px; position: relative;"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-area-chart"></i>
                        <h3 class="box-title">區域</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        @*<canvas id="FeeChart" width="400" height="400"></canvas>*@
                        <div id="AreaChart" class="multi_chart" style="height: 300px; padding: 0px; position: relative;"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-area-chart" "></i>
                        <h3 class="box-title">設備</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        @*<canvas id="HoursChart" width="400" height="400"></canvas>*@
                        <div id="DeviceChart" class="line_chart" style="height: 300px; padding: 0px; position: relative;"></div>
                    </div>
                    @*<input id="clickChartType" type="hidden"/>*@
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-area-chart" "></i>
                        <h3 class="box-title">費用</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        @*<canvas id="HoursChart" width="400" height="400"></canvas>*@
                        <div id="FeeChart" class="multi_chart" style="height: 300px; padding: 0px; position: relative;"></div>
                    </div>
                    @*<input id="clickChartType" type="hidden"/>*@
                </div>
            </div>
            <div class="col-md-12">
                <iframe src="http://10.10.10.44:3000/public/dashboard/22ddaabe-b816-4713-be27-6a36dec07fff"
                        frameborder="0"
                        width="100%"
                        height="1000px"
                        allowtransparency></iframe>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <!--CanvasJS-->
    <script src="~/Content/assets/scripts/canvasjs.min.js"></script>
    <!--Chart.js-->
    <script src="~/Content/assets/scripts/chart.js"></script>
    <script src="~/Content/daterangepicker-master/moment.min.js"></script>
    <script type="text/javascript">
        $(function () {
            SetCharts();

            $('#FactoryID').on('change', function () {
                ChangeFactory();
                $('#FloorChart').empty();
                $('#AreaChart').empty();
                $('#DeviceChart').empty();
                if ($('#FactoryID').val() != null && $('#FactoryID').val() != '') {
                    //設備圖表
                    //SetRepairChart('FloorChart', '樓層', 'floor', '報修次數', $('#FactoryID option:selected').text() + '樓層');
                    SetMultipleRepairChart('FloorChart', '樓層', 'floor', '報修次數', $('#FactoryID option:selected').text() + '樓層');
                }
            });
            $('#FloorID').on('change', function () {
                ChangeFloor();
                $('#AreaChart').empty();
                $('#DeviceChart').empty();
                if ($('#FloorID').val() != null && $('#FloorID').val() != '') {
                    //設備圖表
                    //SetRepairChart('AreaChart', '區域', 'area', '報修次數', $('#FloorID option:selected').text() + '區域');
                    SetMultipleRepairChart('AreaChart', '區域', 'area', '報修次數', $('#FloorID option:selected').text() + '區域');
                }
            });
            $('#AreaID').on('change', function () {
                ChangeArea();
                $('#DeviceChart').empty();
                if ($('#AreaID').val() != null && $('#AreaID').val() != '') {
                    //設備圖表
                    //SetRepairChart('DeviceChart', '設備', 'device', '報修次數', $('#AreaID option:selected').text() + '設備');
                    SetMultipleRepairChart('DeviceChart', '設備', 'device', '報修次數', $('#AreaID option:selected').text() + '設備');
                }
            });



            $('#StartDate').on('change', function () {
                SetCharts();
            });
            $('#EndDate').on('change', function () {
                SetCharts();
            });

            setDateTime($("#StartDate"), 1);
            setDateTime($("#EndDate"), 1);

        })

        //廠區變更
            function ChangeFactory() {
                var factoryId = $('#FactoryID').val();
                var floorId = '@Model.FloorID';
                $('#FloorID').children().remove();
                $('#AreaID').children().remove();
                $('#DeviceID').children().remove();
                if (factoryId == '0') {
                    return false;
                }
                $.ajax({
                    url: "/Repair/GetFloor",
                    type: 'POST',
                    anysc: false,
                    dataType: "json",
                    data: {
                        factoryId: factoryId
                    },
                    success: function (response) {
                        if (floorId == '0') {
                            floorId = response[0].ID;
                        }
                        $('#FloorID').append('<option value="" selected>---樓層---</option>');
                        $.map(response, function (data) {
                            $('#FloorID').append('<option value="' + data.ID + '">' + data.Title + '</option>');

                        });
                        //ChangeFloor();
                    }
                });
            }
            //樓層變更
            function ChangeFloor() {
                var floorId = $('#FloorID').val();
                var areaId = '@Model.AreaID';
                $('#AreaID').children().remove();
                $('#DeviceID').children().remove();
                if (floorId == '0') {
                    return false;
                }
                $.ajax({
                    url: "/Repair/GetArea",
                    type: 'POST',
                    anysc: false,
                    dataType: "json",
                    data: {
                        floorId: floorId
                    },
                    success: function (response) {
                        if (areaId == '0') {
                            areaId = response[0].ID;
                        }
                        $('#AreaID').append('<option value="" selected>---區域---</option>');
                        $.map(response, function (data) {
                            $('#AreaID').append('<option value="' + data.ID + '">' + data.Title + '</option>');

                        });
                        //ChangeArea();
                    }
                });
            }
            //區域變更
            function ChangeArea() {
                var areaId = $('#AreaID').val();
                var deviceId = '@Model.DeviceID';
                $('#DeviceID').children().remove();
                if (areaId == '0') {
                    return false;
                }
                $.ajax({
                    url: "/Repair/GetDevice",
                    type: 'POST',
                    anysc: false,
                    dataType: "json",
                    data: {
                        areaId: areaId
                    },
                    success: function (response) {
                        if (deviceId == '0') {
                            deviceId = response[0].ID;
                        }
                        $('#DeviceID').append('<option value="" selected>---設備---</option>');
                        $.map(response, function (data) {
                            $('#DeviceID').append('<option value="' + data.ID + '">' + data.Title + '</option>');
                        });
                    }
                });

                //$.ajax({
                //    url: "/Repair/GetPic",
                //    type: 'POST',
                //    anysc: false,
                //    dataType: "text",
                //    data: {
                //        areaId: areaId
                //    },
                //    success: function (response) {
                //        if (response != '') {
                //            $('#area_pic').attr('src', '/FileUploads/EquipmentPhoto/' + response);
                //            $('#area_pic').parent().removeAttr('style', 'display:none;');
                //        }
                //        else {
                //            $('#area_pic').parent().attr('style', 'display:none;');
                //        }
                //    }
                //});
            }

        function multiClick(e) {
            console.log(e);
            switch (e.chart._containerId) {
                case 'FactoryChart':
                    $('#FactoryID option:contains(' + e.dataPoint.label + ')').attr('selected', 'selected');
                    ChangeFactory();
                    $('#FloorChart').empty();
                    $('#AreaChart').empty();
                    $('#DeviceChart').empty();
                    if ($('#FactoryID').val() != null && $('#FactoryID').val() != '') {
                        //設備圖表
                        //SetRepairChart('FloorChart', '樓層', 'floor', '報修次數', $('#FactoryID option:selected').text() + '樓層');
                        SetMultipleRepairChart('FloorChart', '樓層', 'floor', '報修次數', $('#FactoryID option:selected').text() + '樓層');
                    }
                    break;
                case 'FloorChart':
                    $('#FloorID option:contains(' + e.dataPoint.label + ')').attr('selected', 'selected');
                    ChangeFloor();
                    $('#AreaChart').empty();
                    $('#DeviceChart').empty();
                    if ($('#FloorID').val() != null && $('#FloorID').val() != '') {
                        //設備圖表
                        //SetRepairChart('AreaChart', '區域', 'area', '報修次數', $('#FloorID option:selected').text() + '區域');
                        SetMultipleRepairChart('AreaChart', '區域', 'area', '報修次數', $('#FloorID option:selected').text() + '區域');
                    }
                    break;
                case 'AreaChart':
                    $('#AreaID option:contains(' + e.dataPoint.label + ')').attr('selected', 'selected');
                    ChangeArea();
                    $('#DeviceChart').empty();
                    if ($('#AreaID').val() != null && $('#AreaID').val() != '') {
                        //設備圖表
                        //SetRepairChart('DeviceChart', '設備', 'device', '報修次數', $('#AreaID option:selected').text() + '設備');
                        SetMultipleRepairChart('DeviceChart', '設備', 'device', '報修次數', $('#AreaID option:selected').text() + '設備');
                    }
                    break;
            }
        }

        function SetCharts() {
            //廠區圖表
            //SetRepairChart('FactoryChart', '廠區', 'factory', '報修次數', '菲力工業');
            SetMultipleRepairChart('FactoryChart', '廠區', 'factory', '報修次數', '菲力工業');
        }

        //function SetRepairChart(idName, title, type, Y, X) {
        //    var obj = new Object(
        //        {
        //            type: type,
        //            factoryId: parseInt($('#FactoryID').val() || '0'),
        //            floorId: parseInt($('#FloorID').val() || '0'),
        //            areaId: parseInt($('#AreaID').val() || '0'),
        //            deviceId: parseInt($('#DeviceID').val() || '0'),
        //            StartDate: $('#StartDate').val(),
        //            EndDate: $('#EndDate').val(),
        //        });
        //    $.ajax({
        //        url: "/Admin/RepairAdmin/GetChart",
        //        type: 'POST',
        //        dataType: "json",
        //        async: false,
        //        data: obj,
        //        success: function (response) {
        //            var points = [];
        //            var total = 0;
        //            for (var i = 0; i < response.length; i++) {
        //                if (response[i].Title == '') {
        //                    response[i].Title = '0';
        //                }
        //                total = total + response[i].Num;
        //                points.push({
        //                    x: i + 1,
        //                    y: response[i].Num,
        //                    label: response[i].Title
        //                });
        //            }
        //            var asixY = {
        //                title: Y,
        //            };
        //            //產生直條圖
        //            CreateColumn(idName, '總數(' + total + ')', points, asixY, X);

        //            $('html,body').animate({ scrollTop: $('#top_chart').offset().top }, 800);
        //        }
        //    });
        //}

        function SetMultipleRepairChart(idName, title, type, Y, X) {           
            var obj = new Object(
                {
                    type: type,
                    factoryId: parseInt($('#FactoryID').val() || '0'),
                    floorId: parseInt($('#FloorID').val() || '0'),
                    areaId: parseInt($('#AreaID').val() || '0'),
                    deviceId: parseInt($('#DeviceID').val() || '0'),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                });
            $.ajax({
                url: "/Admin/RepairAdmin/GetMultipleChart",
                type: 'POST',
                dataType: "json",
                async: false,
                data: obj,
                success: function (response) {
                    console.log(response);
                    var totalA = 0;
                    var totalB = 0;

                    //var asixY = {
                    //    title: Y,
                    //};

                    //產生複數直條圖
                    var pointsA = [];
                    var pointsB = [];

                    var FinishedList = response.FinishedList;
                    var UnFinishedList = response.UnFinishedList;

                    for (var i = 0; i < FinishedList.length; i++) {
                        if (FinishedList[i].Title == '') {
                            FinishedList[i].Title = '其他';
                        }
                        totalA = totalA + FinishedList[i].Num;
                        pointsA.push({
                            //x: i + 1,
                            y: FinishedList[i].Num,
                            label: FinishedList[i].Title
                        });
                    }

                    for (var i = 0; i < UnFinishedList.length; i++) {
                        if (UnFinishedList[i].Title == '') {
                            UnFinishedList[i].Title = '其他';
                        }
                        totalB = totalB + UnFinishedList[i].Num;
                        pointsB.push({
                            //x: i + 1,
                            y: UnFinishedList[i].Num,
                            label: UnFinishedList[i].Title
                        });
                    }

                    CreateMultipleColumn(idName, X + '總數(' + (totalA + totalB) + ')', pointsA, pointsB, '');

                    $('html,body').animate({ scrollTop: $('#top_chart').offset().top }, 800);
                }
            });
        }

        function CreatePie(idName, title, points) {
            var chart = new CanvasJS.Chart(idName, {
                title: {
                    text: title
                },
                animationEnabled: true,
                legend: {
                    fontSize: 16,
                    fontFamily: "Helvetica"
                    //fontFamily: "Garamond"
                },
                theme: "light2",
                data: [
                    {
                        type: "pie",
                        indexLabelFontFamily: "Helvetica",
                        indexLabelFontSize: 16,
                        indexLabel: "{label} {y}%",
                        startAngle: -20,
                        showInLegend: false,//下方顏色顯示
                        toolTipContent: "{legendText}",
                        dataPoints: points,
                    }
                ]
            });
            chart.render();
        }

        function CreateColumn(idName, title, points, axisY, legendText) {
            var chart = new CanvasJS.Chart(idName,
                {
                    title: {
                        text: title,
                        horizontalAlign: "right"
                    },
                    animationEnabled: true,
                    theme: "light2", // "light1", "light2", "dark1", "dark2"
                    //axisX: axisX,
                    axisY: axisY,
                    legend: {
                        //verticalAlign: "bottom",
                        //horizontalAlign: "left",
                        fontSize: 16,
                        fontFamily: "Helvetica"
                    },
                    data: [
                        {
                            type: "column",
                            //color: "#778899",
                            legendText: legendText,
                            legendMarkerType: "none",
                            showInLegend: "true",
                            dataPoints: points
                        }
                    ]
                });

            chart.render();
        }

        function CreateMultipleColumn(idName, title, pointsA, pointsB, legendText) {            
            var chart = new CanvasJS.Chart(idName,
                {
                    title: {
                        text: title,
                        fontFamily: "arial black",
                        fontColor: "#695A42",
                        horizontalAlign: "right"
                    },
                    axisX: {
                        interval: 1,
                        intervalType: "text"
                    },
                    axisY: {
                        title: '已解決件數',
                        titleFontColor: "#4F81BC",
                        lineColor: "#4F81BC",
                        labelFontColor: "#4F81BC",
                        tickColor: "#4F81BC"
                    },
                    axisY2: {
                        title: '尚未解決件數',
                        titleFontColor: "#C0504E",
                        lineColor: "#C0504E",
                        labelFontColor: "#C0504E",
                        tickColor: "#C0504E"
                    },
                    legend: {
                        cursor: "pointer",
                        itemclick: toggleDataSeries
                    },
                    toolTip: {
                        shared: true
                    },
                    theme: 'light1',
                    animationEnabled: true,
                    data: [
                        {
                            type: "column",
                            click: multiClick,
                            name: "已解決",
                            legendText: "已解決",
                            showInLegend: true,
                            dataPoints: pointsA
                        },
                        {
                            type: "column",
                            click: multiClick,
                            name: "尚未解決",
                            legendText: "尚未解決",
                            axisYType: "secondary",
                            showInLegend: true,
                            dataPoints: pointsB
                        }
                    ]
                });

            chart.render();

            function toggleDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                }
                else {
                    e.dataSeries.visible = true;
                }
                chart.render();
            }
        }

        //CreateFeeChart();
        function CreateFeeChart() {
            var chart = new CanvasJS.Chart("FeeChart", {
                title: {
                    text: "House Median Price"
                },
                axisX: {
                    valueFormatString: "MMM YYYY"
                },
                axisY2: {
                    title: "Median List Price",
                    prefix: "$",
                    suffix: "K"
                },
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor: "pointer",
                    verticalAlign: "top",
                    horizontalAlign: "center",
                    dockInsidePlotArea: true,
                    itemclick: toogleDataSeries
                },
                data: [{
                    type: "line",
                    axisYType: "secondary",
                    name: "San Fransisco",
                    showInLegend: true,
                    markerSize: 0,
                    yValueFormatString: "$#,###k",
                    dataPoints: [
                        { x: new Date(2014, 00, 01), y: 850 },
                        { x: new Date(2014, 01, 01), y: 889 },
                        { x: new Date(2014, 02, 01), y: 890 },
                        { x: new Date(2014, 03, 01), y: 899 },
                        { x: new Date(2014, 04, 01), y: 903 },
                        { x: new Date(2014, 05, 01), y: 925 },
                        { x: new Date(2014, 06, 01), y: 899 },
                        { x: new Date(2014, 07, 01), y: 875 },
                        { x: new Date(2014, 08, 01), y: 927 },
                        { x: new Date(2014, 09, 01), y: 949 },
                        { x: new Date(2014, 10, 01), y: 946 },
                        { x: new Date(2014, 11, 01), y: 927 },
                        { x: new Date(2015, 00, 01), y: 950 },
                        { x: new Date(2015, 01, 01), y: 998 },
                        { x: new Date(2015, 02, 01), y: 998 },
                        { x: new Date(2015, 03, 01), y: 1050 },
                        { x: new Date(2015, 04, 01), y: 1050 },
                        { x: new Date(2015, 05, 01), y: 999 },
                        { x: new Date(2015, 06, 01), y: 998 },
                        { x: new Date(2015, 07, 01), y: 998 },
                        { x: new Date(2015, 08, 01), y: 1050 },
                        { x: new Date(2015, 09, 01), y: 1070 },
                        { x: new Date(2015, 10, 01), y: 1050 },
                        { x: new Date(2015, 11, 01), y: 1050 },
                        { x: new Date(2016, 00, 01), y: 995 },
                        { x: new Date(2016, 01, 01), y: 1090 },
                        { x: new Date(2016, 02, 01), y: 1100 },
                        { x: new Date(2016, 03, 01), y: 1150 },
                        { x: new Date(2016, 04, 01), y: 1150 },
                        { x: new Date(2016, 05, 01), y: 1150 },
                        { x: new Date(2016, 06, 01), y: 1100 },
                        { x: new Date(2016, 07, 01), y: 1100 },
                        { x: new Date(2016, 08, 01), y: 1150 },
                        { x: new Date(2016, 09, 01), y: 1170 },
                        { x: new Date(2016, 10, 01), y: 1150 },
                        { x: new Date(2016, 11, 01), y: 1150 },
                        { x: new Date(2017, 00, 01), y: 1150 },
                        { x: new Date(2017, 01, 01), y: 1200 },
                        { x: new Date(2017, 02, 01), y: 1200 },
                        { x: new Date(2017, 03, 01), y: 1200 },
                        { x: new Date(2017, 04, 01), y: 1190 },
                        { x: new Date(2017, 05, 01), y: 1170 }
                    ]
                },
                {
                    type: "line",
                    axisYType: "secondary",
                    name: "Manhattan",
                    showInLegend: true,
                    markerSize: 0,
                    yValueFormatString: "$#,###k",
                    dataPoints: [
                        { x: new Date(2014, 00, 01), y: 1200 },
                        { x: new Date(2014, 01, 01), y: 1200 },
                        { x: new Date(2014, 02, 01), y: 1190 },
                        { x: new Date(2014, 03, 01), y: 1180 },
                        { x: new Date(2014, 04, 01), y: 1250 },
                        { x: new Date(2014, 05, 01), y: 1270 },
                        { x: new Date(2014, 06, 01), y: 1300 },
                        { x: new Date(2014, 07, 01), y: 1300 },
                        { x: new Date(2014, 08, 01), y: 1358 },
                        { x: new Date(2014, 09, 01), y: 1410 },
                        { x: new Date(2014, 10, 01), y: 1480 },
                        { x: new Date(2014, 11, 01), y: 1500 },
                        { x: new Date(2015, 00, 01), y: 1500 },
                        { x: new Date(2015, 01, 01), y: 1550 },
                        { x: new Date(2015, 02, 01), y: 1550 },
                        { x: new Date(2015, 03, 01), y: 1590 },
                        { x: new Date(2015, 04, 01), y: 1600 },
                        { x: new Date(2015, 05, 01), y: 1590 },
                        { x: new Date(2015, 06, 01), y: 1590 },
                        { x: new Date(2015, 07, 01), y: 1620 },
                        { x: new Date(2015, 08, 01), y: 1670 },
                        { x: new Date(2015, 09, 01), y: 1720 },
                        { x: new Date(2015, 10, 01), y: 1750 },
                        { x: new Date(2015, 11, 01), y: 1820 },
                        { x: new Date(2016, 00, 01), y: 2000 },
                        { x: new Date(2016, 01, 01), y: 1920 },
                        { x: new Date(2016, 02, 01), y: 1750 },
                        { x: new Date(2016, 03, 01), y: 1850 },
                        { x: new Date(2016, 04, 01), y: 1750 },
                        { x: new Date(2016, 05, 01), y: 1730 },
                        { x: new Date(2016, 06, 01), y: 1700 },
                        { x: new Date(2016, 07, 01), y: 1730 },
                        { x: new Date(2016, 08, 01), y: 1720 },
                        { x: new Date(2016, 09, 01), y: 1740 },
                        { x: new Date(2016, 10, 01), y: 1750 },
                        { x: new Date(2016, 11, 01), y: 1750 },
                        { x: new Date(2017, 00, 01), y: 1750 },
                        { x: new Date(2017, 01, 01), y: 1770 },
                        { x: new Date(2017, 02, 01), y: 1750 },
                        { x: new Date(2017, 03, 01), y: 1750 },
                        { x: new Date(2017, 04, 01), y: 1730 },
                        { x: new Date(2017, 05, 01), y: 1730 }
                    ]
                },
                {
                    type: "line",
                    axisYType: "secondary",
                    name: "Seatle",
                    showInLegend: true,
                    markerSize: 0,
                    yValueFormatString: "$#,###k",
                    dataPoints: [
                        { x: new Date(2014, 00, 01), y: 409 },
                        { x: new Date(2014, 01, 01), y: 415 },
                        { x: new Date(2014, 02, 01), y: 419 },
                        { x: new Date(2014, 03, 01), y: 429 },
                        { x: new Date(2014, 04, 01), y: 429 },
                        { x: new Date(2014, 05, 01), y: 450 },
                        { x: new Date(2014, 06, 01), y: 450 },
                        { x: new Date(2014, 07, 01), y: 445 },
                        { x: new Date(2014, 08, 01), y: 450 },
                        { x: new Date(2014, 09, 01), y: 450 },
                        { x: new Date(2014, 10, 01), y: 440 },
                        { x: new Date(2014, 11, 01), y: 429 },
                        { x: new Date(2015, 00, 01), y: 435 },
                        { x: new Date(2015, 01, 01), y: 450 },
                        { x: new Date(2015, 02, 01), y: 475 },
                        { x: new Date(2015, 03, 01), y: 475 },
                        { x: new Date(2015, 04, 01), y: 475 },
                        { x: new Date(2015, 05, 01), y: 489 },
                        { x: new Date(2015, 06, 01), y: 495 },
                        { x: new Date(2015, 07, 01), y: 495 },
                        { x: new Date(2015, 08, 01), y: 500 },
                        { x: new Date(2015, 09, 01), y: 508 },
                        { x: new Date(2015, 10, 01), y: 520 },
                        { x: new Date(2015, 11, 01), y: 525 },
                        { x: new Date(2016, 00, 01), y: 525 },
                        { x: new Date(2016, 01, 01), y: 529 },
                        { x: new Date(2016, 02, 01), y: 549 },
                        { x: new Date(2016, 03, 01), y: 550 },
                        { x: new Date(2016, 04, 01), y: 568 },
                        { x: new Date(2016, 05, 01), y: 575 },
                        { x: new Date(2016, 06, 01), y: 579 },
                        { x: new Date(2016, 07, 01), y: 575 },
                        { x: new Date(2016, 08, 01), y: 585 },
                        { x: new Date(2016, 09, 01), y: 589 },
                        { x: new Date(2016, 10, 01), y: 595 },
                        { x: new Date(2016, 11, 01), y: 595 },
                        { x: new Date(2017, 00, 01), y: 595 },
                        { x: new Date(2017, 01, 01), y: 600 },
                        { x: new Date(2017, 02, 01), y: 624 },
                        { x: new Date(2017, 03, 01), y: 635 },
                        { x: new Date(2017, 04, 01), y: 650 },
                        { x: new Date(2017, 05, 01), y: 675 }
                    ]
                },
                {
                    type: "line",
                    axisYType: "secondary",
                    name: "Los Angeles",
                    showInLegend: true,
                    markerSize: 0,
                    yValueFormatString: "$#,###k",
                    dataPoints: [
                        { x: new Date(2014, 00, 01), y: 529 },
                        { x: new Date(2014, 01, 01), y: 540 },
                        { x: new Date(2014, 02, 01), y: 539 },
                        { x: new Date(2014, 03, 01), y: 565 },
                        { x: new Date(2014, 04, 01), y: 575 },
                        { x: new Date(2014, 05, 01), y: 579 },
                        { x: new Date(2014, 06, 01), y: 589 },
                        { x: new Date(2014, 07, 01), y: 579 },
                        { x: new Date(2014, 08, 01), y: 579 },
                        { x: new Date(2014, 09, 01), y: 579 },
                        { x: new Date(2014, 10, 01), y: 569 },
                        { x: new Date(2014, 11, 01), y: 525 },
                        { x: new Date(2015, 00, 01), y: 535 },
                        { x: new Date(2015, 01, 01), y: 575 },
                        { x: new Date(2015, 02, 01), y: 599 },
                        { x: new Date(2015, 03, 01), y: 619 },
                        { x: new Date(2015, 04, 01), y: 639 },
                        { x: new Date(2015, 05, 01), y: 648 },
                        { x: new Date(2015, 06, 01), y: 640 },
                        { x: new Date(2015, 07, 01), y: 645 },
                        { x: new Date(2015, 08, 01), y: 648 },
                        { x: new Date(2015, 09, 01), y: 649 },
                        { x: new Date(2015, 10, 01), y: 649 },
                        { x: new Date(2015, 11, 01), y: 649 },
                        { x: new Date(2016, 00, 01), y: 650 },
                        { x: new Date(2016, 01, 01), y: 665 },
                        { x: new Date(2016, 02, 01), y: 675 },
                        { x: new Date(2016, 03, 01), y: 695 },
                        { x: new Date(2016, 04, 01), y: 690 },
                        { x: new Date(2016, 05, 01), y: 699 },
                        { x: new Date(2016, 06, 01), y: 699 },
                        { x: new Date(2016, 07, 01), y: 699 },
                        { x: new Date(2016, 08, 01), y: 699 },
                        { x: new Date(2016, 09, 01), y: 699 },
                        { x: new Date(2016, 10, 01), y: 709 },
                        { x: new Date(2016, 11, 01), y: 699 },
                        { x: new Date(2017, 00, 01), y: 700 },
                        { x: new Date(2017, 01, 01), y: 700 },
                        { x: new Date(2017, 02, 01), y: 724 },
                        { x: new Date(2017, 03, 01), y: 739 },
                        { x: new Date(2017, 04, 01), y: 749 },
                        { x: new Date(2017, 05, 01), y: 740 }
                    ]
                }]
            });
            chart.render();
        }
        function toogleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }

    </script>
}


