﻿@model FairlyRepair.Areas.Admin.ViewModels.Manufacture.ManufactureView
@{
    ViewBag.Title = "Edit";
    string editType = Model.ID == 0 ? "新增" : "編輯";
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}

<section class="content-header">
    <h1>
        承製廠商管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@editType</h3>
                </div>

                @using (Html.BeginForm("Edit", "ManufactureAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.Type)

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title)
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Type)
                            @Html.DropDownListFor(model => model.Type, Model.TypeOptions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>*@

                        <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                            <div class="state p-success">
                                @Html.LabelFor(model => model.IsOnline, new { @class = "form-check-label", @style = "font-weight:bold; " })
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                        
                    </div>
                }
            </div>
        </div>
    </div>
</section>

