﻿@model FairlyRepair.Areas.Admin.ViewModels.Manufacture.ManufactureIndexView
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        承製廠商管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "ManufactureAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            </div>
                        </div>

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Type, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.Type, Model.TypeOptions, "---類別---", new { @class = "form-control" })
                            </div>
                        </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsOnline, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.IsOnline, "StatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @*@Html.ActionLink("新增廠商", "Edit", "ManufactureAdmin", new { }, new { @class = "btn btn-primary" })*@
                                <a href="@Url.Action("Edit", "ManufactureAdmin", new { })" class="btn btn-primary">
                                    <i class="fa fa-plus-square"></i>
                                    <span>新增廠商</span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">廠商列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Title)
                                            </th>
                                            @*<th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Type)
                                            </th>*@
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().IsOnline)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Title)
                                            </th>
                                            @*<th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Type)
                                            </th>*@
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().IsOnline)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ID
                                                </td>
                                                <td>
                                                    @item.Title
                                                </td>
                                                <td>
                                                    @FairlyRepair.Utility.Helpers.EnumHelper.GetDescription((FairlyRepair.Models.AdminType)item.Type)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.IsOnline, "_Status")
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "ManufactureAdmin", new { id = item.ID })" class="btn btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                        <span>編輯</span>
                                                    </a>
                                                    @*@Html.ActionLink("編輯", "Edit", "ManufactureAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}
