﻿@model FairlyRepair.Areas.Admin.ViewModels.Replace.ReplaceView
@{
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        設備更換管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">查看報修單</h3>
                </div>

                @using (Html.BeginForm("Edit", "ReplaceAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.DeviceType)
                    @Html.HiddenFor(model => model.CreateDate)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_0" data-toggle="tab" data-index="0">基本資訊</a></li>
                                <li class=""><a href="#tab_1" data-toggle="tab" data-index="1">指派與審核</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FactoryID)
                                        @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.FactoryID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeviceID)
                                        @Html.DropDownListFor(model => model.DeviceID, Model.DeviceOptions, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DeviceID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ManufacturerID)
                                        @Html.DropDownListFor(model => model.ManufacturerID, Model.ManufacturerOptions, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ManufacturerID, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description)
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @maxlength = "500" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Amount)
                                        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ExpectDate)
                                        @Html.TextBoxFor(model => model.ExpectDate, new { @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompletionDate)
                                        @Html.TextBoxFor(model => model.CompletionDate, new { @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CaseStatus)
                                        @Html.DropDownListFor(model => model.CaseStatus, Model.CaseStatusOptions, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CaseStatus, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                        @Html.CheckBoxFor(model => model.IsRevoke, new { @class = "form-check-input lock_switch" })
                                        <div class="state p-danger">
                                            @Html.LabelFor(model => model.IsRevoke, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_1">
                                    @if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.Dispatcher)
                                    {
                                        <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                            @Html.CheckBoxFor(model => model.IsPresApproval, new { @class = "form-check-input lock_switch" })
                                            <div class="state p-success">
                                                @Html.LabelFor(model => model.IsPresApproval, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                            </div>
                                        </div>
                                        if (Model.PresAppStatus > 1)
                                        {
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PresAppStatus, new { @class = "col-sm-2 control-label" })
                                                @Html.EditorFor(model => model.PresAppStatus, "ApprovalStatusDropDownList", new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PresResult)
                                                @Html.TextAreaFor(model => model.PresResult, new { @class = "form-control js-ckeditor", @readonly = "true" })
                                            </div>
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.PresAppStatus)
                                            @Html.HiddenFor(model => model.PresResult)
                                        }
                                        <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                            @Html.CheckBoxFor(model => model.IsViceApproval, new { @class = "form-check-input lock_switch" })
                                            <div class="state p-success">
                                                @Html.LabelFor(model => model.IsViceApproval, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                            </div>
                                        </div>
                                        if (Model.ViceAppStatus > 1)
                                        {
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ViceAppStatus, new { @class = "col-sm-2 control-label" })
                                                @Html.EditorFor(model => model.ViceAppStatus, "ApprovalStatusDropDownList", new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ViceResult)
                                                @Html.TextAreaFor(model => model.ViceResult, new { @class = "form-control js-ckeditor", @readonly = "true" })
                                            </div>
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.ViceAppStatus)
                                            @Html.HiddenFor(model => model.ViceResult)
                                        }
                                        <div class="form-group" id="submit_reason">
                                            @Html.LabelFor(model => model.SubmitReason)
                                            @Html.TextAreaFor(model => model.SubmitReason, new { @class = "form-control js-ckeditor", @maxlength = "500" })
                                        </div>
                                    }
                                    else if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.President)
                                    {
                                        @Html.HiddenFor(model => model.ViceAppStatus)
                                        @Html.HiddenFor(model => model.IsViceApproval)
                                        @Html.HiddenFor(model => model.IsPresApproval)
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PresAppStatus, new { @class = "col-sm-2 control-label" })
                                            @Html.EditorFor(model => model.PresAppStatus, "ApprovalStatusDropDownList", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PresResult)
                                            @Html.TextAreaFor(model => model.PresResult, new { @class = "form-control js-ckeditor" })
                                        </div>
                                    }
                                    else if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.VicePresident)
                                    {
                                        @Html.HiddenFor(model => model.PresAppStatus)
                                        @Html.HiddenFor(model => model.IsViceApproval)
                                        @Html.HiddenFor(model => model.IsPresApproval)
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ViceAppStatus, new { @class = "col-sm-2 control-label" })
                                            @Html.EditorFor(model => model.ViceAppStatus, "ApprovalStatusDropDownList", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ViceResult)
                                            @Html.TextAreaFor(model => model.ViceResult, new { @class = "form-control js-ckeditor" })
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.PresAppStatus)
                                        @Html.HiddenFor(model => model.ViceAppStatus)
                                        @Html.HiddenFor(model => model.IsPresApproval)
                                        @Html.HiddenFor(model => model.IsViceApproval)
                                    }
                                    @Html.HiddenFor(model => model.PresAppDate)
                                    @Html.HiddenFor(model => model.ViceAppDate)
                                </div>

                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            setDateTime($("#ExpectDate"));
            setDateTime($("#CompletionDate"));
        });
    </script>
}