﻿@model FairlyRepair.Areas.Admin.ViewModels.Replace.ReplaceIndexView

@{
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        設備更換管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "ReplaceAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.FactoryID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, "---選擇廠區---", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DeviceID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.DeviceID, Model.DeviceOptions, "---選擇設備---", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsPresApproval, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.IsPresApproval, "UseStatusDropDownList", new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(model => model.IsViceApproval, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.IsViceApproval, "UseStatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PresAppStatus, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.PresAppStatus, "ApprovalListStatusDropDownList", new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(model => model.ViceAppStatus, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.ViceAppStatus, "ApprovalListStatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("申請新增、更換設備", "Edit", "ReplaceAdmin", null, new { @class = "btn btn-primary" })
                                <a href="@Url.Action("Edit", "ReplaceAdmin", null)" class="btn btn-primary">
                                    <i class="fa fa-plus-square"></i>
                                    <span>申請新增、更換設備</span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">申請單列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ID)
                                            </th>
                                            <th data-sorting="FactoryID">
                                                @Html.DisplayNameFor(x => x.FactoryID)
                                            </th>
                                            <th data-sorting="Creater">
                                                @Html.DisplayNameFor(x => x.Creater)
                                            </th>
                                            @*<th>
                                                @Html.DisplayNameFor(x => x.DeviceType)
                                            </th>*@
                                            <th>
                                                @Html.DisplayNameFor(x => x.DeviceID)
                                            </th>
                                            <th data-sorting="Manufacturer">
                                                @Html.DisplayNameFor(x => x.Manufacturer)
                                            </th>
                                            <th data-sorting="CreateDate">
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            string isRevoke = item.IsRevoke ? "#d3cccc4a" : "#fffff";
                                            <tr style="background:@isRevoke">
                                                <td>
                                                    @item.ID
                                                </td>
                                                <td>
                                                    @item.FactoryTitle
                                                </td>
                                                <td>
                                                    @item.CreaterName
                                                </td>
                                                <td>
                                                    @item.DeviceName
                                                </td>
                                                <td>
                                                    @item.ManufacturerOptions.Where(q => q.Value == item.ManufacturerID.ToString()).FirstOrDefault().Text
                                                </td>
                                                <td>
                                                    @item.CreateDate.ToString("yyyy/MM/dd HH:mm")
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "ReplaceAdmin", new { id = item.ID })" class="btn btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                        <span>查看</span>
                                                    </a>
                                                    @*@Html.ActionLink("查看", "Edit", "ReplaceAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.FactoryID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Creater)
                                            </th>
                                            @*<th>
                                                @Html.DisplayNameFor(x => x.DeviceType)
                                            </th>*@
                                            <th>
                                                @Html.DisplayNameFor(x => x.DeviceID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Manufacturer)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}


