﻿@model FairlyRepair.Areas.Admin.ViewModels.Repair.RepairView
@{
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    string title = "";   
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @title
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">查看報修單</h3>
                </div>

                @using (Html.BeginForm("Edit", "ApprovalAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.DeviceType)
                    @Html.HiddenFor(model => model.DispatcherID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_0" data-toggle="tab" data-index="0">審核</a></li>
                                <li class=""><a href="#tab_1" data-toggle="tab" data-index="1">基本資訊</a></li>
                                <li class=""><a href="#tab_2" data-toggle="tab" data-index="2">送審說明</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    @if (adminInfo.Type == (int)FairlyRepair.Models.MeetAdminType.President)
                                    {
                                        @Html.HiddenFor(model => model.MaintID)
                                        @Html.HiddenFor(model => model.ViceAppStatus)
                                        @Html.HiddenFor(model => model.IsViceApproval)
                                        @Html.HiddenFor(model => model.IsPresApproval)
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PresAppStatus, new { @class = "col-sm-2 control-label" })
                                            @Html.EditorFor(model => model.PresAppStatus, "PresApprovalStatusDropDownList", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PresResult)
                                            @Html.TextAreaFor(model => model.PresResult, new { @class = "form-control js-ckeditor", @maxlength = "500" })
                                        </div>
                                    }
                                    else if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.VicePresident)
                                    {
                                        @Html.HiddenFor(model => model.MaintID)
                                        @Html.HiddenFor(model => model.PresAppStatus)
                                        @Html.HiddenFor(model => model.IsViceApproval)
                                        @Html.HiddenFor(model => model.IsPresApproval)
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ViceAppStatus, new { @class = "col-sm-2 control-label" })
                                            @Html.EditorFor(model => model.ViceAppStatus, "PresApprovalStatusDropDownList", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ViceResult)
                                            @Html.TextAreaFor(model => model.ViceResult, new { @class = "form-control js-ckeditor", @maxlength = "500" })
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.MaintID)
                                        @Html.HiddenFor(model => model.PresAppStatus)
                                        @Html.HiddenFor(model => model.ViceAppStatus)
                                        @Html.HiddenFor(model => model.IsPresApproval)
                                        @Html.HiddenFor(model => model.IsViceApproval)
                                    }
                                </div>
                                <div class="tab-pane" id="tab_1">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeviceType)
                                        @Html.TextBoxFor(model => model.DeviceTypeName, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.DeviceType)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CreateDate)
                                        @Html.TextBoxFor(model => model.CreateDate, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.CreateDate)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeptID)
                                        @Html.TextBoxFor(model => model.DepartmentTitle, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.DeptID)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FactoryID)
                                        @Html.TextBoxFor(model => model.FactoryTitle, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.FactoryID)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FloorID)
                                        @Html.TextBoxFor(model => model.FloorTitle, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.FloorID)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AreaID)
                                        @Html.TextBoxFor(model => model.AreaTitle, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.AreaID)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeviceID)
                                        @Html.TextBoxFor(model => model.DeviceName, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.DeviceID)
                                    </div>
                                    @if (Model.DeviceType == 3)
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DeviceItem)
                                            @Html.TextBoxFor(model => model.DeviceItemName, new { @class = "form-control", @disabled = "disabled" })
                                            @Html.HiddenFor(model => model.DeviceItem)
                                        </div>
                                    }
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description)
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.Description)
                                    </div>

                                    <div class="form-group">
                                        @if (Model.PicList != null && Model.PicList.Count() > 0)
                                        {
                                            foreach (var item in Model.PicList)
                                            {
                                                <img src="~/FileUploads/RepairPhoto/@item.Pics" class="img-thumbnail" style="width:400px" />
                                                <br />
                                            }
                                        }

                                    </div>

                                    @*<div class="form-group">
            @Html.LabelFor(model => model.SubmitReason)
            @Html.TextAreaFor(model => model.SubmitReason, new { @class = "form-control js-ckeditor", @maxlength = "500" })
        </div>*@

                                    @Html.HiddenFor(model => model.PresAppDate)
                                    @Html.HiddenFor(model => model.ViceAppDate)
                                </div>
                                <div class="tab-pane" id="tab_2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SubmitReason)
                                        @Html.TextAreaFor(model => model.SubmitReason, new { @class = "form-control js-ckeditor", @maxlength = "500" })
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">確定</button>
                        @Html.ActionLink("處裡記錄", "Index", "RepairRecordAdmin", new { RepairID = Model.ID }, new { @class = "btn btn-info" })

                        @Html.ActionLink("取消/回列表", "Index", new { dt = Model.DeviceType }, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            var deviceType = '@Model.DeviceType';
            if (deviceType == '3') {
                ChangeDevice();

                $('#DeviceID').on('change', function () {
                    ChangeDevice();
                });
            }
        });
        //設備變更
        function ChangeDevice() {
            var deviceId = $('#DeviceID').val();
            $('#DeviceItem').children().remove();
            if (deviceId == '0') {
                return false;
            }
            $.ajax({
                url: "/Admin/RepairAdmin/GetDeviceItem",
                type: 'POST',
                dataType: "json",
                data: {
                    deviceId: deviceId
                },
                success: function (data) {
                    console.log(data);
                    $.map(data, function (device) {
                        var selected = device.ID == deviceId ? 'selected' : '';
                        $('#DeviceItem').append('<option value="' + device.ID + '" ' + selected + '>' + device.Title + '</option>');
                    });
                }
            });
        }
    </script>
}