﻿@model FairlyRepair.Areas.Admin.ViewModels.Approval.ApprovalIndexView

@{
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        審核
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        @*<div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "RepairAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.DeviceType, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.DeviceType, Model.DeviceTypeOptions, "---選擇設備---", new { @class = "form-control" })
                            </div>
                        </div>

                        @if (adminInfo.Type == (int)FairlyRepair.Models.MeetAdminType.President)
                        {
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsPresApproval, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.IsPresApproval, "UseStatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PresAppStatus, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.PresAppStatus, "ApprovalStatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>
                        }

                        @if (adminInfo.Type == (int)FairlyRepair.Models.MeetAdminType.VicePresident)
                        {
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsViceApproval, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.IsViceApproval, "UseStatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ViceAppStatus, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.ViceAppStatus, "ApprovalStatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>
                        }
                       
                    </div>
                }
            </div>
        </div>*@

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">報修單列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ID)
                                            </th>
                                            <th data-sorting="FactoryID">
                                                @Html.DisplayNameFor(x => x.FactoryID)
                                            </th>
                                            <th data-sorting="Creater">
                                                @Html.DisplayNameFor(x => x.Creater)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DeviceType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DeviceID)
                                            </th>
                                            @if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.President)
                                            {
                                                <th data-sorting="PresAppStatus">
                                                    @Html.DisplayNameFor(x => x.PresAppStatus)
                                                </th>
                                            }
                                            else if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.VicePresident)
                                            {
                                                <th data-sorting="ViceAppStatus">
                                                    @Html.DisplayNameFor(x => x.ViceAppStatus)
                                                </th>
                                            }
                                            <th data-sorting="CreateDate"> 
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ID
                                                </td>
                                                <td>
                                                    @item.FactoryTitle
                                                </td>
                                                <td>
                                                    @item.CreaterName
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.DeviceType, "_DeviceType")
                                                    @*@item.DeviceTypeName*@
                                                </td>
                                                <td>
                                                    @item.DeviceName @item.DeviceItemName
                                                </td>
                                                 @if (adminInfo.Type == (int)FairlyRepair.Models.MeetAdminType.President)
                                                 {
                                                <td>
                                                    @Html.DisplayFor(model => item.PresAppStatus, "_ApprovalStatus")
                                                </td>                                            
                                                 }
                                                 else if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.VicePresident)
                                                 {
                                                <td>
                                                    @Html.DisplayFor(model => item.ViceAppStatus, "_ApprovalStatus")
                                                </td>
                                                 }
                                                <td>
                                                    @item.CreateDate.ToString("yyyy/MM/dd HH:mm")
                                                </td>
                                                <td>
                                                    @{  string page = "Edit";}
                                                    @if (item.DeviceType == 1)
                                                    {
                                                        page = "ReplaceEdit";
                                                        @*@Html.ActionLink("審閱", page, "ApprovalAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })*@
                                                    }
                                                    else
                                                    {
                                                        @*@Html.ActionLink("審閱", page, "ApprovalAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })*@
                                                    }
                                                    <a href="@Url.Action(page, "ApprovalAdmin", new { id = item.ID })" class="btn btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                        <span>審閱</span>
                                                    </a>
                                                    @Html.ActionLink("處裡記錄", "Index", "RepairRecordAdmin", new { RepairID = item.ID }, new { @class = "btn btn-info" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.FactoryID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Creater)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DeviceType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DeviceID)
                                            </th>
                                            @if (adminInfo.Type == (int)FairlyRepair.Models.MeetAdminType.President)
                                            {
                                                <th>
                                                    @Html.DisplayNameFor(x => x.PresAppStatus)
                                                </th>
                                            }
                                            else if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.VicePresident)
                                            {
                                                <th>
                                                    @Html.DisplayNameFor(x => x.ViceAppStatus)
                                                </th>
                                            }
                                            <th> 
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



