﻿@model FairlyRepair.Areas.Admin.ViewModels.Replace.ReplaceView
@{
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        設備更換管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">查看報修單</h3>
                </div>

                @using (Html.BeginForm("ReplaceEdit", "ApprovalAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.DeviceType)
                    @Html.HiddenFor(model => model.CreateDate)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_0" data-toggle="tab" data-index="0">審核</a></li>
                                <li class=""><a href="#tab_1" data-toggle="tab" data-index="1">基本資訊</a></li>
                                <li class=""><a href="#tab_2" data-toggle="tab" data-index="2">送審說明</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    @if (adminInfo.Type == (int)FairlyRepair.Models.MeetAdminType.President)
                                    {
                                        @Html.HiddenFor(model => model.ViceAppStatus)
                                        @Html.HiddenFor(model => model.IsViceApproval)
                                        @Html.HiddenFor(model => model.IsPresApproval)
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PresAppStatus, new { @class = "col-sm-2 control-label" })
                                            @Html.EditorFor(model => model.PresAppStatus, "PresApprovalStatusDropDownList", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PresResult)
                                            @Html.TextAreaFor(model => model.PresResult, new { @class = "form-control js-ckeditor", @maxlength = "500" })
                                        </div>
                                    }
                                    else if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.VicePresident)
                                    {
                                        @Html.HiddenFor(model => model.PresAppStatus)
                                        @Html.HiddenFor(model => model.IsViceApproval)
                                        @Html.HiddenFor(model => model.IsPresApproval)
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ViceAppStatus, new { @class = "col-sm-2 control-label" })
                                            @Html.EditorFor(model => model.ViceAppStatus, "PresApprovalStatusDropDownList", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ViceResult)
                                            @Html.TextAreaFor(model => model.ViceResult, new { @class = "form-control js-ckeditor", @maxlength = "500" })
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.PresAppStatus)
                                        @Html.HiddenFor(model => model.ViceAppStatus)
                                        @Html.HiddenFor(model => model.IsPresApproval)
                                        @Html.HiddenFor(model => model.IsViceApproval)
                                    }
                                </div>
                                <div class="tab-pane" id="tab_1">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeviceType)
                                        @Html.TextBoxFor(model => model.DeviceTypeName, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.DeviceType)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FactoryID)
                                        @Html.TextBoxFor(model => model.FactoryTitle, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.FactoryID)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeviceID)
                                        @Html.TextBoxFor(model => model.DeviceName, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.DeviceID)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ManufacturerID)
                                        @Html.TextBoxFor(model => model.ManufacturerTitle, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.ManufacturerID)
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description)
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.Description)
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Amount)
                                        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.Amount)
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ExpectDate)
                                        @Html.TextBoxFor(model => model.ExpectDate, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.ExpectDate)
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompletionDate)
                                        @Html.TextBoxFor(model => model.CompletionDate, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.CompletionDate)
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CaseStatus)
                                        @Html.TextBoxFor(model => model.CaseStatusStr, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.CaseStatus)
                                    </div>

                                    @Html.HiddenFor(model => model.PresAppDate)
                                    @Html.HiddenFor(model => model.ViceAppDate)
                                </div>
                                <div class="tab-pane" id="tab_2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SubmitReason)
                                        @Html.TextAreaFor(model => model.SubmitReason, new { @class = "form-control js-ckeditor", @maxlength = "500" })
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">確定</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            //setDateTime($("#ExpectDate"));
            //setDateTime($("#CompletionDate"));
        });

    </script>
}