﻿@model FairlyRepair.Areas.Admin.ViewModels.Manager.ManagerView
@{
    ViewBag.Title = "Edit";
    string editType = Model.ID == 0 ? "新增" : "檢視";
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}

<section class="content-header">
    <h1>
        帳號管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@editType</h3>
                </div>

                @using (Html.BeginForm("Edit", "ManagerAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        @if (Model.ID == 0)
                        {
                             <div class="form-group">
                            @Html.LabelFor(model => model.Account)
                            @Html.TextBoxFor(model => model.Account, new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Account)
                        </div>
                        }
                        else
                        {
                             <div class="form-group">
                            @Html.LabelFor(model => model.Account)<br />
                            <label class="label label-default">@Model.Account</label>
                            @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Account)
                        </div>
                        }

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @if (adminInfo.Type == (int)FairlyRepair.Models.AdminType.Sysadmin || adminInfo.Account == Model.Account)
                        {
                            <div class="pretty p-icon p-toggle p-plain">
                                <input type="checkbox" onclick="myFunction()">
                                <div class="state p-on">
                                    <i class="fa fa-eye-slash"></i>
                                </div>
                                <div class="state p-off">
                                    <i class="fa fa-eye"></i>
                                </div>
                            </div>
                            @*<input type="checkbox" onclick="myFunction()"> <span>顯示</span>*@
                        }
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Type)
                            @Html.DropDownListFor(model => model.Type, Model.AdminTypeOptions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Type)
                            @Html.DropDownListFor(model => model.Type, Model.MeetAdminTypeOptions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>*@

                        <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                                <div class="state p-success">
                                    @Html.LabelFor(model => model.Status, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @if (adminInfo.Type == (int)FairlyRepair.Models.MeetAdminType.Sysadmin)
                        {
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>

