﻿@model FairlyRepair.Areas.Admin.ViewModels.EightDCategory.EightDCategoryView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增部門指標" : "編輯部門指標";
}

<section class="content-header">
    <h1>
        8D類別管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Index", "EightDCategoryAdmin")">8D類別列表</a></li>
        <li class="active">8D類別管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>
                @using (Html.BeginForm("Edit", "EightDCategoryAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.Type)

                    <div class="box-body">
                        <!-- /.form group -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title)
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                        </div>
                        <!-- /.form group -->
                        @*<div class="form-group">
                                @Html.LabelFor(model => model.Type)
                                    @Html.DropDownListFor(model => model.Type, Model.TypeOptions, new { @class = "form-control" })
                            </div>*@
                        <!-- /.form group -->

                        <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                            <div class="state p-success">
                                @Html.LabelFor(model => model.IsOnline, new { @class = "form-check-label", @style = "font-weight:bold; " })
                            </div>
                        </div>
                        <!-- /.form group -->
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default", @style = "margin-left:3px;" })
                    </div>
                }
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
    </div>
</section>



@section scripts{
    <script>
        $(function () {

        })
    </script>
}