﻿@model FairlyRepair.Areas.Admin.ViewModels.Equipment.EquipmentView
@{
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增設備" : "編輯設備";
    string host = Request.Url.Scheme + "://" + Request.Url.Authority + "/Admin";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        設備管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                    <br />
                    <div style="padding:10px;">
                        @for (int i = 0; i < Model.BreadList.Count(); i++)
                        {
                            var item = Model.BreadList[i];
                            string action = item.Action == "Index" ? "" : $"/{item.Action}";
                            string url = $"{host}/{item.Controller}{action}?{item.Query}";
                            <a href="@url" class="label label-default bg-olive">@item.Title</a>
                            <span>>></span>

                        }
                    </div>
                </div>

                @using (Html.BeginForm("Edit", "EquipmentAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.Class)
                    @Html.HiddenFor(model => model.Category)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Parent)
                                        @Html.TextBoxFor(model => model.ParentTitle, new { @class = "form-control", @readonly = "true" })
                                        @Html.HiddenFor(model => model.Parent)
                                    </div>

                                    @*@if (Model.Class == 4)
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Category)
                                            @Html.DropDownListFor(model => model.Category, Model.CategoryOptions, "---類別---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                                        </div>
                                    }*@

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                        @Html.HiddenFor(model => model.Title)
                                    </div>

                                    @if (Model.Class == (int)FairlyRepair.Models.EquipmentClass.Area)
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MainPic)
                                            @Html.TextBoxFor(model => model.MainPicFile, "", new { @class = "form-control", @type = "file", @accept = "image/x-png,image/jpeg", @style = "height: 100% !important;" })
                                            @*<input type="file" id="pics" name="pics" accept="image/x-png,image/jpeg" multiple>*@
                                            <code>請上傳不超過10MB的檔案</code>
                                            @Html.ValidationMessageFor(model => model.MainPic, "", new { @class = "text-danger" })
                                            <br />
                                            @if (Model.MainPic != null)
                                            {

                                                <img src="~/FileUploads/EquipmentPhoto/@Model.MainPic" class="img-thumbnail" style="width:400px" />
                                                @Html.HiddenFor(model => model.MainPic)

                                                @Html.ActionLink("刪除檔案", "DeleteImage", "EquipmentAdmin", new { id = Model.ID, t = 2 }, new { @class = "btn btn-danger js-delete-confirm" })
                                                <br />
                                            }
                                        </div>
                                    }

                                    <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                        @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input lock_switch" })
                                        <div class="state p-success">
                                            @Html.LabelFor(model => model.IsOnline, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                        </div>
                                    </div>

                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        @if (adminInfo.Type < (int)FairlyRepair.Models.AdminType.Applicant)
                        {
                            <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                            if (Model.ID != 0 && Model.Class < 4)
                            {
                            <a href="@Url.Action("Index", "EquipmentAdmin", new {Parent = Model.ID })" class="btn btn-info">
                                <i class="fa fa-list"></i>
                                <span>附屬項目</span>
                            </a>
                            }
                        }

                        @Html.ActionLink("取消/回列表", "Index", new { Parent = Model.Parent }, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{

}
