﻿@model FairlyRepair.Areas.Admin.ViewModels.Equipment.EquipmentIndexView

@{
    string parentTitle = Model.ParentTitle;
    string host = Request.Url.Scheme + "://" + Request.Url.Authority + "/Admin";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        設備管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        @if (Model.Parent != 0)
        {
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    @*<h3 class="box-title">設備資訊</h3>*@
                    @*@Html.ActionLink($"返回【{parentTitle}】", "Edit", "EquipmentAdmin", new { Parent = Model.Parent }, new { @class = "btn btn-default" })*@
                    <a href="@Url.Action("Edit", "EquipmentAdmin", new { id = Model.Parent })" class="btn btn-default">
                        <i class="fa fa-arrow-circle-o-left"></i>
                        <span>@($"返回【{parentTitle}】")</span>                         
                    </a>
                </div>
            </div>
        </div>
        }

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">設備列表</h3>
                    <a href="@Url.Action("Edit", "EquipmentAdmin", new {Parent = Model.Parent })" class="btn btn-primary">
                        <i class="fa fa-plus-square"></i>
                        <span>新增項目</span>
                    </a>
                    <br />
                    <div style="padding:10px;">
                        @for (int i = 0; i < Model.BreadList.Count(); i++)
                        {
                            var item = Model.BreadList[i];
                            string action = item.Action == "Index" ? "" : $"/{item.Action}";
                            string url = $"{host}/{item.Controller}{action}?{item.Query}";
                            <a href="@url" class="label label-default bg-olive">@item.Title</a>
                            <span>>></span>

                        }
                    </div>
                    @*@Html.ActionLink("新增項目", "Edit", "EquipmentAdmin", new { Parent = Model.Parent }, new { @class = "btn btn-primary" })*@
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>                                        
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            @if (Model.Class == 4)
                                            {
                                            <th data-sorting="Category">
                                                @Html.DisplayNameFor(x => x.Category)
                                            </th>
                                            }
                                            <th data-sorting="Parent">
                                                @Html.DisplayNameFor(x => x.Parent)
                                            </th>
                                            <th data-sorting="IsOnline">
                                                @Html.DisplayNameFor(x => x.IsOnline)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                        <tr>
                                            <td style="background-color: #fffdb5;">
                                                @item.Title
                                            </td>
                                            @if (item.Class == 4)
                                            {
                                                string categoryStr = item.Category.ToString();
                                                var categoryData = item.CategoryOptions.Where(q => q.Value == categoryStr).FirstOrDefault();
                                                <td>
                                                    @if (categoryData != null)
                                                    {
                                                    <label class="label label-dark" style="background-color: #6a877b;">@categoryData.Text</label> 
                                                    }
                                                </td>
                                            }
                                            <td>
                                                @item.ParentTitle
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.IsOnline, "_Status")
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", "EquipmentAdmin", new { id = item.ID, Parent = item.Parent })" class="btn btn-primary">
                                                    <i class="fa fa-edit"></i>
                                                    <span>編輯</span>
                                                </a>
                                                @if (item.Class < 4)
                                                {
                                                    <a href="@Url.Action("Index", "EquipmentAdmin", new { Parent = item.ID })" class="btn btn-info">
                                                        <i class="fa fa-list"></i>
                                                        <span>附屬項目</span>
                                                    </a>
                                                }
                                                @*@Html.ActionLink("查看", "Edit", "RepairRecordAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })*@
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            @if (Model.Class == 4)
                                            {
                                                <th data-sorting="Category">
                                                    @Html.DisplayNameFor(x => x.Category)
                                                </th>
                                            }
                                            <th>
                                                @Html.DisplayNameFor(x => x.Parent)
                                            </th>
                                            <th data-sorting="IsOnline">
                                                @Html.DisplayNameFor(x => x.IsOnline)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}


