﻿@model FairlyRepair.Areas.Admin.ViewModels.Repair.RepairIndexView

@section menu{
    <li class="active"><a href="@Url.Action("Index", "Repair")">全廠報修</a></li>
    @*<li><a href="@Url.Action("Index", "Spray")">噴塗系統報修</a></li>*@
}
@section head
{
    <style>
        .revoke-label {
            background-color: #ff5959;
            color: white;
            font-weight: bold;
            font-size: 0.8rem;
            padding: 0 2rem;
            /*height: 3rem;*/
            line-height: 3rem;
            display: inline-block;
        }
    </style>
}
<!-- Main -->
<div id="main">
    <p><a href="@Url.Action("Index", "Home")">首頁</a> >> 全廠報修列表</p>
    <!-- Post -->
    <section class="post">
        <header class="major">
            <h1>
                全廠報修
            </h1>
        </header>

        <!-- Table -->
        <h2>申請單列表  <a href="@Url.Action("Detail", "Repair", new { id = 0 })" class="button primary icon solid fa-edit">填寫報修申請單</a></h2>


        <h4>共 @Model.PageResult.Data.Count() 筆紀錄 </h4>
        <div class="table-wrapper">
            <table style="width: 850px;">
                <thead>
                    <tr>
                        <th width="10%">課別</th>
                        <th width="8%">廠區</th>
                        <th width="50%">設備</th>
                        <th width="20%">報修時間</th>
                        @*<th width="10%">是否撤銷</th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.PageResult.Data.Count() > 0)
                    {
                        foreach (var item in Model.PageResult.Data)
                        {
                            <tr>
                                <td>@item.DepartmentTitle</td>
                                <td>@item.FactoryTitle</td>
                                <td>@item.DeviceName @(!string.IsNullOrEmpty(item.DeviceItemName) ? " (" + item.DeviceItemName + ") " : "")</td>
                                <td>@item.CreateDate.ToString("yyyy/MM/dd HH:mm")</td>
                                @*<td>@Html.DisplayFor(model => item.IsRevoke, "_RevokeStatus")</td>*@
                                <td>
                                    @if (item.IsRevoke)
                                    {
                                        <span class="label revoke-label">撤銷</span>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Record", "Repair", new { RepairID = item.ID})" class="button">查看</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </section>
    <!-- Footer -->
    <footer>
        @Html.Partial("_PageWeb", Model.PageResult)
        @*<div class="pagination">
                <a href="#" class="previous">Prev</a>
                <a href="#" class="page active">1</a>
                <a href="#" class="page">2</a>
                <a href="#" class="page">3</a>
                <span class="extra">&hellip;</span>
                <a href="#" class="page">8</a>
                <a href="#" class="page">9</a>
                <a href="#" class="page">10</a>
                <a href="#" class="next">Next</a>
            </div>*@
    </footer>
</div>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}
