﻿@model FairlyRepair.Areas.Admin.ViewModels.ProductionType.ProductionTypeView
@{
    ViewBag.Title = "Edit";
    string title = Model.TYPE_NUM == "0000" ? "新增項目" : "編輯項目";
}

<section class="content-header">
    <h1>
        項目管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Index", "ProductionTypeAdmin")">項目列表</a></li>
        <li class="active">項目管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>
                @using (Html.BeginForm("Edit", "ProductionTypeAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.TYPE_NUM)

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TYPE_NUM)
                            @Html.TextBoxFor(model => model.TYPE_NUM, new { @class = "form-control", @disabled = "true" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TYPE_NAME)
                            @Html.TextBoxFor(model => model.TYPE_NAME, new { @class = "form-control" })
                        </div>
                         <div class="form-group">
                            @Html.LabelFor(model => model.TYPE_CATE)<br />
                            @Html.DropDownListFor(model => model.TYPE_CATE, Model.CateOptions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TYPE_CATE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default", @style = "margin-left:3px;" })
                    </div>
                }
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
    </div>
</section>



@section scripts{
    <script>
        $(function () {

        })
    </script>
}