﻿@model FairlyRepair.Areas.Admin.ViewModels.ProductionType.ProductionTypeIndexView
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        項目管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li class="active">項目管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">搜尋</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-tool" data-box-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Index", "ProductionTypeAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.TYPE_NUM, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.TYPE_NUM, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TYPE_NAME, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.TYPE_NAME, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Cate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.Cate, Model.CateOptions, "---類別---", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("新增項目", "Edit", null, new { @class = "btn btn-success bg-olive" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">8D類別列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(x => x.TYPE_NUM)</th>
                                            <th>@Html.DisplayNameFor(x => x.TYPE_NAME)</th>
                                            <th>@Html.DisplayNameFor(x => x.Cate)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>@item.TYPE_NUM</td>
                                                <td>@item.TYPE_NAME</td>
                                                <td>@Model.CateOptions.Where(q => q.Value == item.TYPE_CATE).FirstOrDefault().Text</td>
                                                <td>@item.TYPE_CATE</td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "ProductionTypeAdmin", new { type_num = item.TYPE_NUM })" class="btn btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                        編輯
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>@Html.DisplayNameFor(x => x.TYPE_NUM)</th>
                                            <th>@Html.DisplayNameFor(x => x.TYPE_NAME)</th>
                                            <th>@Html.DisplayNameFor(x => x.Cate)</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
        $(function () {
            var $selectedDeptType = $('#Dept');
            var remove;

            //Dept
            $selectedDeptType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('.js-signer-Dept').on('click', function () {
                //var id = $(this).val();
                var val = $(this).text();
                $selectedDeptType.tagsinput('add', val);
            });
        });
    </script>
}
