﻿@model FairlyRepair.Areas.Admin.ViewModels.EquipmentCategory.EquipmentCategoryView
@{
    var adminInfo = FairlyRepair.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增設備" : "編輯設備";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        設備類別管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "EquipmentCategoryAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                        @Html.HiddenFor(model => model.Title)
                                    </div>

                                    <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                        @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input lock_switch" })
                                        <div class="state p-success">
                                            @Html.LabelFor(model => model.IsOnline, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                        </div>
                                    </div>

                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        @if (adminInfo.Type < (int)FairlyRepair.Models.AdminType.Applicant)
                        {
                            <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        }

                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{

}
