﻿@model FairlyRepair.Areas.Admin.ViewModels.EquipmentCategory.EquipmentCategoryIndexView

@{
    string host = Request.Url.Scheme + "://" + Request.Url.Authority + "/Admin";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        設備類別管理
    </h1>
</section>

<section class="content">
    <div class="row">

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">設備類別列表</h3>
                    <a href="@Url.Action("Edit", "EquipmentCategoryAdmin")" class="btn btn-primary">
                        <i class="fa fa-plus-square"></i>
                        <span>新增設備類別</span>
                    </a>
                    <br />                 
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th data-sorting="IsOnline">
                                                @Html.DisplayNameFor(x => x.IsOnline)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td style="background-color: #fffdb5;">
                                                    @item.Title
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.IsOnline, "_Status")
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "EquipmentCategoryAdmin", new { id = item.ID})" class="btn btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                        <span>編輯</span>
                                                    </a>                                                    
                                                    @*@Html.ActionLink("查看", "Edit", "RepairRecordAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th data-sorting="IsOnline">
                                                @Html.DisplayNameFor(x => x.IsOnline)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}


